{% extends "core.twig" %}
{% use "utils.twig" %}

{% block content %}

<style type="text/css">
    body {
        padding-top: 50px;
    }
    .alert {
        font-size: 28px;
        padding: 20px;
        text-align: left;
        background: white;
        margin: 0 auto;
        line-height: 1.2;
        border-color: white;
        max-width: 450px;
    }
    .widget {
        max-width: 450px;
        margin: 0 auto;
    }

    .widget .input-jumbo {
        width: 80%;
        padding: 10px 10px 7px;
        font-size: 20px;
    }
    .widget label {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 10px;
    }
    .widget .btn-primary {
        background-color: #08c;
        border: none;
        background-image: none;
        text-transform: uppercase;
        text-shadow: none !important;
        box-shadow: none;
        padding: 1.25em 2em;
        letter-spacing: 0.05em;
        border-radius: 3px;
        font-weight: 300;
    }
    .navbar, .footer { display: none; opacity: 0 !important; }
</style>

<div class="error alert alert-info{% if not alert %} hidden {% endif %}">
    <div>{{ alert.message }}</div>
</div>

<div class="widget" data-widget="datawrapper.InvitationForm">
    

    <div class="inviation-form form-vertical">
        <form action="#" name="set-password">
            <div class="control-group">
                <label>
                    {% trans "Choose your password" %}
                </label>
                <input name="password1" type="password" class="input-jumbo" value="" placeholder="{% trans "password" %}" /></div>
            <div class="control-group">
                <label>
                    {% trans "Repeat your password" %}
                </label>
                <input name="password2" type="password" class="input-jumbo" value="" placeholder="{% trans "repeat password" %}" />
            </div>

            {% if has_hook('alternative_signin') %}
                <div class="control-group">
                    {% trans "login / alternative signin" %}
                    {% for signin in alternative_signins %}
                        <a href="{{ signin.url }}">{% if signin.icon %}<i class="{{ signin.icon }}"></i>{% endif %} {{ signin.label }}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="contr"
            <div class="control-group">
                <input type='submit' class="btn btn-primary" value="{% trans "Confirm" %}"/>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
$(window).load(function() {

    var salt  = null;
    var token = document.location.pathname.split('/')[document.location.pathname.split('/').length - 1];

    $.ajax('/api/auth/salt', {
        success: function(data){salt = data.data.salt ;}
    });

    $('input[type=submit]').click(function(){
        var pwd1 = $("input[name='password1']");
        var pwd2 = $("input[name='password2']");

        $('.error').addClass('hidden');
        pwd1 = pwd1.val() !== '' ? CryptoJS.HmacSHA256(pwd1.val(), salt).toString() : '';
        pwd2 = pwd2.val() !== '' ? CryptoJS.HmacSHA256(pwd2.val(), salt).toString() : '';

        $.ajax('/api/account/invitation/' + token, {
            dataType: 'json',
            type: 'POST',
            data: JSON.stringify({
                pwd1: pwd1,
                pwd2: pwd2
            }),
            success: function(data) {
                if (data.status === 'ok') {
                    return window.location = '/datawrapper-invite/' + token + '/finish';
                } else {
                  return $('.error').removeClass('hidden').find('div').text(data.message);
                }
            }
        });
        return false;
    });
});
</script>

{{ parent() }}
{% endblock %}
