{% if user.role != 'guest' %}

<h3>{% trans "What do you want to do with this chart?" %}</h3>
<ul class="chart-actions">
{% for action in chartActions %}
    {% if action %}
    <li class="action action-{{ action.id }}{% if action.class %} {{ action.class }}{% endif %}"{% if action.data %}{% for k,v in action.data %}data-{{ k }}="{{ v }}"{% endfor %}{% endif %}>
        <a role="button" href="{% if action.url %}{{ action.url }}{% else %}#{{ action.id }}{% endif %}">
            <i class="fa fa-{{ action.icon }}"></i><span class="title">{{ action.title | raw }}</span>
        </a>
        {% if action.banner and action.banner.text != "FALSE" and action.banner.text != "-" %}
        <div class="banner" style="{{ action.banner.style }}">{{ action.banner.text }}</div>
        {% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>

{{ hook('publish_after_chart_actions', chart, user) }}

{% else %}

<h3>{% trans "Congratulations, you created your first chart!" %}</h3>

<p>{% trans "Now, to be able to embed the chart, we ask you to create an account. It's free and all you need is a valid email address. The chart you just created will be transfered to your new account." %}</p>

<a class="btn btn-primary" href="#login">{% trans "Create an account / sign in" %}</a>

{% endif %}
