{% extends "chart/base.twig" %}
{% block content %}

{{ parent() }}

<script type="text/javascript">
dw.backend.ready(function() {
    require(['dw/chart/publish'], function(publish) {
        publish.init('{{ chartUrl }}'{% if publish %}, true{% if republish %}, true{% endif %}{% endif %});
    });
});
</script>
<div class="dw-create-publish chart-editor">
    <div class="row">
        <div class="span5">

            {% if user.role != 'guest' %}

            <h3>{% trans "What do you want to do with this chart?" %}</h3>
            <ul class="chart-actions">
            {% for action in chartActions %}
                {% if action %}
                <li class="action action-{{ action.id }}{% if action.class %} {{ action.class }}{% endif %}"{% if action.data %}{% for k,v in action.data %}data-{{ k }}="{{ v }}"{% endfor %}{% endif %}>
                    <a role="button" href="{% if action.url %}{{ action.url }}{% else %}#{{ action.id }}{% endif %}">
                        <i class="fa fa-{{ action.icon }}"></i><span class="title">{{ action.title | raw }}</span>
                    </a>
                    {% if action.banner and action.banner.text != "FALSE" and action.banner.text != "-" %}
                    <div class="banner" style="{{ action.banner.style }}">{{ action.banner.text }}</div>
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>

            {{ hook('publish_after_chart_actions', chart, user) }}

            {% else %}

            <h3>{% trans "Congratulations, you created your first chart!" %}</h3>

            <p>{% trans "Now, to be able to embed the chart, we ask you to create an account. It's free and all you need is a valid email address. The chart you just created will be transfered to your new account." %}</p>

            <a class="btn btn-primary" href="#login">{% trans "Create an account / sign in" %}</a>

            {% endif %}
        </div>
        <div class="span7">
            {% if user.isAbleToPublish %}

            <div class="messages"></div>

            <iframe src="{{ chartUrlLocal }}" id="iframe-vis" style="width:{{ embedWidth }};height:{{ embedHeight }}" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

            {% else %}

            <iframe src="/chart/{{ chart.id }}/preview" id="iframe-vis" style="width:{{ embedWidth }};height:{{ embedHeight }}" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="form-actions">
                <a class="submit pull-right btn" href="/chart/create"><i class="icon-pencil"></i> {% trans "Create another graphic" %}</a>

                <a class="submit btn" href="visualize"><i class="icon-chevron-left"></i> {% trans "Return to visualise step" %}</a>
            </div>
        </div>
    </div>

</div>


{% endblock %}