{% extends "chart/base.twig" %}

{% block content %}

{{ parent() }}


<script type="text/javascript">
dw.backend.ready(function() {
    require(['dw/chart/upload'], function(upload) {
        upload.init();
    });
});
</script>

<div class="dw-create-upload chart-editor">
    <div class="row">

        <div class="span4">
            <h3>{% trans "It all starts with your data..." %}</h3>
            <p>{% trans "Select your data (including header row/column) in Excel or OpenOffice and paste it in the text field on the right. You can also upload a CSV file from your computer." %} <a href="http://docs.datawrapper.de/tutorial/" target="_blank">{% trans "Learn more about how to upload your data" %}</a>.</p>


            <div class="demo-datasets">
                <p>{% trans "If you just want to try Datawrapper, here‘s a list of some example datasets you can use:" %}</p>
                <select id="demo-datasets" class="">
                    <option>{% trans "Select a sample dataset" %}</option>
                    {% for group in datasets %}
                    <optgroup label="{{ group.type }}">
                    {% for dataset in group.datasets %}
                    <option value="{{ dataset.id }}" class="demo-dataset" data-data="{{ dataset.data | escape('html') }}" data-presets='{{ dataset.presets | json | escape('html')  }}'>{{ dataset.title }}</option>
                    {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="span7">

            <form class="upload-form">
                <div class="control-group">
                    <textarea id="upload-data-text" data-drop-here="{% trans "drop your csv file here " %}" style="resize:none" placeholder="{% trans "Paste your copied data here..." %}">{{ chartData }}</textarea>
                </div>

                <div id="upload-data" class="btn btn-primary pull-right">{% trans "Upload and continue" %} <i class="icon-chevron-right icon-white"></i></div>
                <div id="upload" style="display:inline-block"></div>

            </form>
        </div>



    </div>

    <div class="upload-template hidden">
        <div class="upload-drop">{% trans "drop your csv file here " %}</div>
        <div class="btn upload-button" id="pick-file-from-disk"><span>
        <i class="icon-upload"></i> {% trans "..or upload a CSV file" %}</span></div>
        <ul class="qq-upload-list" style="display:none"></ul>
    </div>


</div>
<script type="text/javascript" src="/static/vendor/ajaxupload/fileuploader.js"></script>
<link rel="stylesheet" type="text/css" href="/static/vendor/ajaxupload/fileuploader.css">
{% endblock %}