{% extends "chart/base.twig" %}

{% block content %}

{{ parent() }}

<div class="dw-create-upload chart-editor">

    <script type="text/javascript">

        $(function() {

            require(['dw/chart/upload'], function(upload) {

                upload.init(
                    "{% trans "drop your csv file here " %}",
                    "{% trans "..or upload a CSV file" %}"
                );

            });

        });
    </script>

    <div class="row">
        <div class="span7">
            <h2 style="margin-bottom:10px">{% trans "Upload Your Data" %}</h2>

             <form class="well upload-form">
                <div class="control-group">
                    <textarea id="upload-data-text" style="resize:none" placeholder="{% trans "Copy &amp; paste your data here" %}">{{ chartData }}</textarea>
                </div>

                <div id="upload-data" class="btn btn-primary pull-right">{% trans "Upload and continue" %} <i class="icon-chevron-right icon-white"></i></div>

                <div id="upload"></div>

            </form>


        </div>

        <div class="span5">
            <h3>{% trans "How it works.." %}</h3>
            <p>{% trans "We made getting data into Datawrapper as easy as possible. If you're working in Excel or OpenOffice, just select your data (including header row/column) and paste it in the following text field." %} <a href="http://docs.datawrapper.de/tutorial/" target="_blank">{% trans "Learn more about how to upload your data" %}</a>.</p>

            <div class="demo-datasets">
                <h4>{% trans "Sample Data" %}</h4>
                <p>{% trans "If you simply want to play around with Datawrapper, here's a list of some example datasets:" %}</p>
                <ul id="demo-datasets" class="">
                    {% for dataset in datasets %}
                    <li>{{ dataset.type }}: <a href="#{{ dataset.id }}" class="demo-dataset" data-data="{{ dataset.data | escape('html') }}" data-presets='{{ dataset.presets | json | escape('html')  }}'>{{ dataset.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="span4 inactive">

        </div>
        {# maybe we add this feature in 1.1
        <div class="span4">
            <h3>{% trans "Remote Data Source" %}</h3>
            <p>{% trans "If your data is stored on a datahub like CKAN, ScraperWiki or Google Docs, you can create visualisations directly. Your charts can be updated automatically as the data source changes." %} <a href="#">{% trans "learn more" %}</a></p>

            <form class="well">
                <label class="radio">
                    <input type="radio" name="remote-source" />
                    {% trans "OKFN DataHub (CKAN)" %}<br />
                    <input type="text" placeholder="CKAN-URL" />
                </label>

                <label class="radio">
                    <input type="radio" name="remote-source" />
                    {% trans "Google Docs" %}<br />
                    <input type="text" placeholder="Google Docs URL" />
                </label>

                <label class="radio">
                    <input type="radio" name="remote-source" />
                    {% trans "ScraperWiki" %}<br />
                    <input type="text" placeholder="Insert the name of your scraper" />
                </label>

                <p class="pull-right">
                    <a class="btn" href="describe.html">{% trans "Check and continue" %} <i class="icon-chevron-right"></i></a>
                </p>
                <br class="clearfix" />
            </form>

        </div>
        #}

    </div>


</div>
<script type="text/javascript" src="/static/vendor/ajaxupload/fileuploader.js"></script>
<link rel="stylesheet" type="text/css" href="/static/vendor/ajaxupload/fileuploader.css">
{% endblock %}