{% extends "chart/base.twig" %}
{% block content %}

{{ parent() }}

{{ hook('visualize_before_content', chart) }}
{{ hook('visualize_before_svelte_sidebar', chart) }}

<script type="text/javascript" src="/static/vendor/scrolltofixed/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="/static/js/svelte/visualize.js?v={{ sha }}"></script>
<link rel="stylesheet" type="text/css" href="/static/css/svelte/visualize.css?v={{ sha }}">

<script type="text/javascript">
var visData = {{ vis_data | raw }};
dw.backend.__visRenderUrls = {
    {% for vis in visualizations_deps %}
    '{{ vis.id }}': '{{ vis.__static_path }}/{{ vis.id }}.js?v={{ vis.version }}',
    {% endfor %}
};
dw.backend.__visDependencies = {
    {% for vis in visualizations_deps %}{% if vis.extends %}
    '{{ vis.id }}': '{{ vis.extends }}',
    {% endif %}{% endfor %}
}
dw.backend.__visLoaded = {};

dw.backend.ready(function() {
    require(['dw/chart/visualize'], function(visualize) {
        visualize.init(visData.themes, visData.visualizations, visData.vis, "{{ mode }}");
    });
});
</script>

<div class="dw-create-visualize chart-editor chart-editor-{{ mode }}">
    <div class="row">

        <script type="text/javascript">
            require(['svelte/visualize'], function(mod) {
                // // Initialize API wrapper with domain, if API wrapper is present in the default props
                // if (data.api && data.api.init) {
                //     data.api.init({ domain: 'api.datawrapper.local' })
                // }

                var app;
                var App = mod.App,
                data = _.extend({}, mod.data || {}, {{ twig_data | json | raw }});

                var chartData = {{chart.toStruct()|json|raw}};

                mod.init({
                    chartData: chartData,
                    target: document.querySelector('#svelte-visualize'),
                    data: data,
                    theme: '{{theme.id}}',
                    themeData: {{theme.data|json|raw}},
                    visData: {{vis|json|raw}},
                    user: {{userArray|json|raw}},
                    locales: {{chartLocales|json|raw}},
                    themes: {{userThemes|json|raw}},
                    visualizations: {{userVisualizations|json|raw}},
                    visArchive: {{visArchive|json|raw}}
                })
            });
        </script>
        <div class="span4" id="svelte-visualize">

        </div>
        <div class="span8">
            <div class="scrollfix-cont" data-offset-top="100" data-offset-bottom="130" style="position:relative;">
                <div id="iframe-wrapper" style="height:500px; overflow:visible;">
                    <iframe src="" id="iframe-vis" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>

                {{ hook('visualize_before_resizer') }}
                {{ hook('render_resize_control') }}

                <div id="notifications"></div>
            </div>
        </div>
    </div>
</div>



{% endblock %}