{% extends "chart/base.twig" %}
{% block content %}

{{ parent() }}

{{ hook('visualize_before_content') }}

<script type="text/javascript" charset="utf-8" src="/static/vendor/canvg/canvg.bundle.min.js"></script>
<script type="text/javascript" src="/static/vendor/scrolltofixed/jquery-scrolltofixed-min.js"></script>

{% for vis in visualizations_deps %}
<script type="text/javascript" charset="utf-8" src="{{ vis.__static_path }}/{{ vis.id }}.js?v={{ vis.version }}"></script>
{% endfor %}

<script type="text/javascript">
var visData = {{ vis_data | raw }};

dw.backend.ready(function() {
    require(['dw/chart/visualize'], function(visualize) {
        visualize.init(visData.themes, visData.visualizations, visData.vis, "{{ mode }}");
    });
});
</script>

<style type="text/css">
    .toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 42px;
        margin-top: 70px;
    }

    .toolbar .toolbar-container {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .toolbar .toolbar-container.hide {
        display: none;
    }

    .toolbar .toolbar-container:last-child {
        margin-right: 0;
    }

    .toolbar .toolbar-container .button {
        cursor: pointer;
        padding: 0px 16px;

        height: 39px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;

        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .toolbar .toolbar-container.print .button {
        padding: 0px 14px;
    }

    .toolbar .toolbar-container .button.active {
        background: rgba(0,0,0,0.05);
    }

    .toolbar .toolbar-container > *:last-child {
        border-right: none;
    }

    .toolbar .toolbar-container .button:hover {
        background: rgba(0,0,0,0.05);
    }

    .toolbar .toolbar-container .button .column {
        border-radius: 1px;
        background: rgba(0,0,0,0.05);
        width: 5px;
        height: 10px;
        margin-right: 2px;
        margin-top: -10px;
    }

    .toolbar .toolbar-container .button .column.active {
        background: rgba(0,0,0,0.2);
        height: 20px;
        margin-top: 0;
    }

    .toolbar .toolbar-container .input-resize {
        border: none;
        box-shadow: none;
        border-bottom: 2px dotted #ccc;
        width: 20px;
        text-align: center;
        background: transparent;
        margin-bottom: 4px;
    }

    .toolbar .toolbar-container .input-resize#resize-w,
    .toolbar .toolbar-container .input-resize#resize-mm-w {
        margin-left: 10px;
        margin-right: 5px;
    }

    .toolbar .toolbar-container .input-resize#resize-h,
    .toolbar .toolbar-container .input-resize#resize-mm-h {
        margin-right: 10px;
        margin-left: 5px;
    }

    .toolbar .toolbar-container .btn-ppm .btn {
        font-size: 10px;
        box-shadow: none;
        padding: 2px 10px;

    }

</style>

<div class="dw-create-visualize chart-editor chart-editor-{{ mode }}">
    <div class="row">
        {% include "chart/visualize/sidebar.twig" %}

        <div class="span8">

            <div class="scrollfix-cont" data-offset-top="100" data-offset-bottom="130" style="position:relative;">
                <div id="iframe-wrapper" style="height:500px; overflow:visible;">
                    <iframe src="" id="iframe-vis" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    <iframe style="display: none; position:absolute; left:0; top:0; height:110%; width:100%;" src="" id="iframe-pdf" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>

                <div class="toolbar">
                    <div class="toolbar-container">
                        <div class="button btn-switch-web {% if mode == "web" %}active{% endif %}">
                            Web
                        </div>
                        <div class="button btn-switch-print {% if mode == "print" %}active{% endif %}">
                            Print
                        </div>
                    </div>

                    <div class="toolbar-container web {% if mode == "print" %}hide{% endif %}">
                        <input id="resize-w" class="input-resize input-large" type="text" value="320" />
                        ×
                        <input id="resize-h" class="input-resize input-large" type="text" value="500" />

                        <div class="button mobile-s size-preset" data-width="320">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="button mobile-l size-preset" data-width="400">
                            <i style="font-size:17px" class="fa fa-mobile"></i>
                        </div>
                        <div class="button desktop size-preset" data-width="600">
                            <i class="fa fa-desktop"></i>
                        </div>
                    </div>

                    <div class="toolbar-container print {% if mode == "web" %}hide{% endif %}">
                        <input id="resize-mm-w" class="input-resize input-large" type="text" value="32" />
                        ×
                        <input id="resize-mm-h" class="input-resize input-large" type="text" value="50" />

                        <div class="button size-preset" data-width="40">
                            <div class="column active"></div>
                            <div class="column"></div>
                            <div class="column"></div>
                        </div>
                        <div class="button size-preset" data-width="80">
                            <div class="column active"></div>
                            <div class="column active"></div>
                            <div class="column"></div>
                        </div>
                        <div class="button size-preset" data-width="120">
                            <div class="column active"></div>
                            <div class="column active"></div>
                            <div class="column active"></div>
                        </div>
                    </div>

                    <div class="toolbar-container print {% if mode == "web" %}hide{% endif %}">
                        <div class="button btn-show-pdf">
                            <i class="fa fa-eye"></i>
                        </div>
                        <!--<div class="button btn-ppm">
                            <input style="width:10px; margin: 0px 0px 0px 4px;" class="input-resize" type="text" size=1 value="4">ppm
                        </div>-->
                        <div class="button btn-download-pdf">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
                <div id="notifications"></div>
            </div>

        </div>

    </div>
</div>

{% endblock %}
