{% extends "chart/base.twig" %}
{% block content %}

{{ parent() }}

{% set vismeta = chart.metadata.visualize %}

<script type="text/javascript" src="/static/vendor/canvg/rgbcolor.js"></script>
<script type="text/javascript" src="/static/vendor/canvg/canvg.js"></script>
<script type="text/javascript" src="/static/vendor/chromajs/chroma.min.js"></script>
{% for vis in visualizations_deps %}
<script type="text/javascript" src="{{ vis.__static_path }}/{{ vis.id }}.js"></script>
{% endfor %}

<script type="text/javascript">
dw.backend.ready(function() {
    require(['dw/chart/visualize'], function(visualize) {
        var themesJSON = {{ themes | json | raw }},
            visJSON = {{ vis | json | raw }},
            visMetas = {};
        {% for vis in visualizations %}
            visMetas['{{ vis.id }}'] = {{ vis|json|raw }};
        {% endfor %}
        visualize.init(themesJSON, visMetas, visJSON);
    });
});
</script>

<div class="dw-create-visualize chart-editor">
    <div class="row">
        <div class="span7">

            <div data-offset-top="100" data-offset-bottom="130">
                <div id="iframe-wrapper" style="height:500px;" >
                    <iframe src="" id="iframe-vis" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
                    </iframe>
                </div>
                <div class="resize-chart-wrap">
                    <div class="resize-chart">
                        {% trans "Resize to: " %}
                        <input id="resize-w" class="input-large" type="text" value="" /> ×
                        <input id="resize-h" class="input-large" type="text" value="" />
                        (e.g. <a href="#">480×320</a>
                        <a href="#">480×480</a>
                        <a href="#">640×360</a>
                        <a href="#">640×480</a>)
                    </div>
                </div>
            </div>

            <div id="notifications"></div>

        </div>

        {% include "chart/visualize/sidebar.twig" %}

    </div>
</div>

{% endblock %}