
{% if option.type == 'checkbox' %}

    <label class="checkbox" style="text-align:left;width:100%;position:relative;left:0" for="{{ key }}"><input type="checkbox" id="{{ key }}" /> {{ option.label|raw }}</label>

{% elseif option.type == 'radio' %}

    <label class="control-label" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls form-inline">
    {% for opt in option.options %}
        <label class="radio">
            <input type="radio" name="{{ key }}" value="{{ opt.value }}" {% if opt.default %}checked="checked" {% endif %}/>&nbsp;{{ opt.label }}
        </label>
    {% endfor %}
    </div>
    
{% elseif option.type == 'radio-left' %}

    <label class="separator" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="form-inline">
        {% for opt in option.options %}
            <label class="radio" style="padding-right:1em">
                <input type="radio" name="{{ key }}" value="{{ opt.value }}" {% if opt.default %}checked="checked" {% endif %}/>&nbsp;{{ opt.label }}
            </label>
        {% endfor %}
    </div>

{% elseif option.type == 'select' %}

    <label class="control-label" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls">
        <select id="{{ key }}">
            {% for opt in option.options %}
            <option value="{{ opt.value }}" {% if opt.default %}selected="selected" {% endif %}>{{ opt.label }}</option>
            {% endfor %}
        </select>
    </div>

{% elseif option.type == 'text' %}

    <label class="control-label"  for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls form-inline">
        <input type="text" style="width:{% if option.width %}{{ option.width }}{% else %}auto{% endif %}" id="{{ key }}" value="" />
    </div>

{% elseif option.type == 'textarea' %}

    <label class="control-label" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls">
        <textarea placeholder="{{ option.placeholder | raw }}" style="width:{% if option.width %}{{ option.width }}{% else %}auto{% endif %};" id="{{ key }}"></textarea>
    </div>

{% elseif option.type == 'separator' %}

    <label class="separator">{{ option.label|raw }}</label>

{% elseif option.type == 'select-axis-column' %}

    {% for axis in option.axes %}
    <div class="axis-column">
        <label class="control-label" for="{{ key }}-{{ axis.id }}">{{ axis.label|raw }}</label>
        <div class="controls" style="margin-bottom:10px">
            <select id="{{ key }}-{{ axis.id }}" {% if axis.style %}style="{{ axis.style | css }}"{% endif %} data-axis="{{ axis.id }}">
                {# will be populated by javascript #}
            </select>
        </div>
    </div>
    
    {% endfor %}

{% elseif option.type == 'column-select' %}

    <label class="control-label" for="{{ key }}">{{ option.label | raw }}:</label>
    <div class="controls">
        <select {% if option.style %}style="{{ option.style | css }}"{% endif %} id="{{ key }}">
            {# will be populated by javascript #}
        </select>
    </div>

{% elseif option.type == 'custom-range' %}

    <label class="control-label">{{ option.label | raw }}:</label>
    <div class="controls">
        <input type="text" class="min" placeholder="min" /> -
        <input type="text" class="max" placeholder="max" />
    </div>

{% elseif option.type == 'number' %}

    <label class="control-label">{{ option.label | raw }}:</label>
    <div class="controls">
        <input id="{{ key }}" style="width:28px" type="number" min="{{ option.min  }}" max="{{ option.max }}" />
    </div>

{% endif %}
