
{% if option.type == 'checkbox' %}

    <label class="checkbox" style="text-align:left;width:100%;position:relative;left:0" for="{{ key }}"><input type="checkbox" id="{{ key }}" /> {{ option.label|raw }}</label>

{% elseif option.type == 'radio' %}

    <div class="control-group">
        <label class="control-label" for="{{ key }}">{{ option.label|raw }}</label>
        {% for opt in option.options %}
        <div class="controls form-inline">
            <label class="radio">
                <input type="radio" name="{{ key }}" value="{{ opt.value }}" {% if opt.default %}checked="checked" {% endif %}/>&nbsp;{{ opt.label }}
            </label>
        </div>
        {% endfor %}
     </div>

{% elseif option.type == 'radio-left' %}

    <label class="separator" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="form-inline">
        {% for opt in option.options %}
            <label class="radio" style="padding-right:1em">
                <input type="radio" name="{{ key }}" value="{{ opt.value }}" {% if opt.default %}checked="checked" {% endif %}/>&nbsp;{{ opt.label }}
            </label>
        {% endfor %}
    </div>

{% elseif option.type == 'select' %}

    <label class="control-label" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls">
        <select id="{{ key }}">
            {% for opt in option.options %}
            <option value="{{ opt.value }}" {% if opt.default %}selected="selected" {% endif %}>{{ opt.label }}</option>
            {% endfor %}
        </select>
    </div>

{% elseif option.type == 'text' %}

    <label class="control-label"  for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls form-inline">
        <input type="text" style="width:auto" id="{{ key }}" value="" />
    </div>

{% elseif option.type == 'textarea' %}

    <div class="form-inline">
        <label for="{{ key }}">{{ option.label|raw }}</label>
        <textarea placeholder="{{ option.placeholder | raw }}" style="width:auto" id="{{ key }}" />
    </div>

{% elseif option.type == 'separator' %}

    <label class="separator">{{ option.label|raw }}</label>

{% elseif option.type == 'select-axis-column' %}

    {% for axis in option.axes %}
    <label class="control-label" for="{{ key }}-{{ axis.id }}">{{ axis.label|raw }}</label>
    <div class="controls" style="margin-bottom:10px">
        <select id="{{ key }}-{{ axis.id }}" data-axis="{{ axis.id }}">
            {# will be populated by javascript #}
        </select>
    </div>
    {% endfor %}

{% elseif option.type == 'column-select' %}

    {{ option.label | raw }}:&nbsp;&nbsp;
     <select id="{{ key }}">
            {# will be populated by javascript #}
    </select>


{% endif %}
