{% extends "admin-base.twig" %}

{% block adminpage %}

<table class="table table-striped table-bordered table-hover">
    <thead><tr>
        <th>Name</th>
        <th>ID</th>
        <th>Version</th>
        <th>Parent</th>
        <th># Charts</th>
        <th>Last usage</th>
    </tr></thead>
    <tbody>

{% for theme in themes %}
    <tr>
        <td>{{ theme.title }}</td>
        <td>{{ theme.id }}</td>
        <td>{{ theme.version }}</td>
        <td>{{ theme.extends }}</td>
        <td>{{ count[theme.id] }}</td>
        <td>{{ theme.last_used }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}