{% extends "core.twig" %}

{% block content %}
{# header #}

<style type="text/css">

.account-header .avatar {
    border-radius: 5px;
}

.user-name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 10px;
}

.account-body h2 {
    font-weight: 300;
}
.account-menu li i.fa {
    width: 15px;
}
.account-menu li.delete a {
    color: darkred;
    background: #f9efef;
}
</style>

<div class="container">
    <div class="row">
        <div class="span3 offset0">
            <div class="account-header">
                <img class="avatar" src="//www.gravatar.com/avatar/{{ gravatar }}?s=230&amp;d=mm" />
                <div class="user-name">{{ user.guessName() }}</div>
            </div>

        </div>
        <div class="span6">
            <div class="account-body {{ active | lower }}">
                {{ block('content_account') }}
            </div>
        </div>
        <div class="span3">
            <div class="account-menu">
                <ul class="nav nav-tabs nav-stacked">
                    {% for page in pages %}
                    <li class="{{ page.url }}{% if page.url == active %} active{% endif %}">
                        <a href="/account/{{ page.url }}">{% if page.icon %}<i class="fa {{ page.icon }}"></i> {% endif %}{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
</div>

{% endblock %}