{% extends "admin.twig" %}

{% block adminpage %}

<p>This page shows you the current state of background jobs in Datawrapper.</p>



{% if jobs %}

<div class="alert alert-error">
    <h4>Warning!</h4>
    The following jobs have not been finished properly.
</div>

<table class="table table-striped table-bordered table-hover">
    <thead><tr>
        <th>ID</th>
        <th>User</th>
        <th>Chart</th>
        <th>Theme</th>
        <th>Type</th>
        <th>Type</th>
    </tr></thead>
    <tbody>

{% for job in jobs %}
    <tr>
        <td>{{ job.id }}</td>
        <td><a href="/admin/charts/{{ job.user.id }}">{{ job.user.email }}</td>
        <td>{{ job.chart.type }}</td>
        <td>{{ job.chart.theme }}</td>
        <td><a href="/chart/{{ job.chartid }}/visualize">{{ job.chartid }}</a></td>
        <td>{{ job.type }}</td>

    </tr>
{% endfor %}
    </tbody>
</table>

{% else %}

<div class="alert alert-success">
    <h4>Good news!</h4>
    All jobs have been finished properly.
</div>

{% endif %}

{% endblock %}