{% use "utils.twig" %}

{% extends "core.twig" %}
{% block content %}

<style type="text/css">
.admin .nav-stacked.nav-tabs li.active a {
    background: #08c;
    color: #fff;
    font-weight: bold;
}
.admin .nav-stacked.nav-tabs li.active a .badge-info {
    background-color: #A9D5EB;
}
.admin .admingroup {
    text-transform: uppercase;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
}
</style>

<div class="admin">

    <h1 class="title">Admin &raquo; {{ title }}</h1>

    <div class="row">
        <div class="span2">
            {% for group, items in adminmenu %}
                <div class="admingroup">{{ group }}</div>

                <ul class="nav nav-stacked nav-tabs">
                    {% for item in items %}
                    <li{% if item.url == adminactive %} class="active" {% endif %}>
                        <a href="/admin{{ item.url }}"><i class="fa {{ item.icon }}"></i> &nbsp;{{ item.title | raw }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="span10">
            {{ block('adminpage') }}
        </div>
    </div>

</div>

{% endblock %}
