{% extends "chart-editor.twig" %}

{% block content %}

{{ parent() }}

<style type="text/css">

.sidebar #column-options {
    display: none;
}

table.htCore tr td {
    font-size: 1.1em;
    font-family: Helvetica;
    font-weight: 400;
    padding: 3px 6px;
}

.chart-editor textarea.handsontableInput {
    padding-left: 5px;
    padding-right: 5px;
}

.table thead th {
    cursor: pointer;
}

.table thead th.selected {
    background: #ccc;
}
.table td.ignored {
    color: #999 !important;
    text-decoration: line-through
}
.table td.htDimmed { /*revert default HOT style for readOnly cells*/
    font-style: normal;
    color: inherit;
}
.table td.firstRow {
    border-bottom: 1px solid #000;
    font-weight: bold;
    background: #f0f0f0;
}
.table td.textType {
    color: #000000;
}
.table td.dateType {
    color: #39A832;
    font-style: italic;
    text-align: center;
}
.table td.numberType {
    color: #297EA8;
    text-align: right;
}
.table td.oddRow {
    background-color: #fff;
}
.table td.evenRow {
    background-color: #f9f9f9;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/vendor/handsontable/jquery.handsontable.full.css">
<link rel="stylesheet" type="text/css" href="/static/vendor/handsontable/jquery.handsontable.bootstrap.css">
<script type="text/javascript" src="/static/vendor/handsontable/jquery.handsontable.full.js"></script>
<script type="text/javascript">
$(function() {

    var chart = dw.backend.currentChart,
        dataset;

    chart.onChange(reload);

    chart.sync('#describe-source-name', 'metadata.describe.source-name');
    chart.sync('#describe-source-url', 'metadata.describe.source-url');
    chart.sync('input:radio[name=transpose]', 'metadata.data.transpose');

    chart.sync('#has-headers', 'metadata.data.horizontal-header');

    // swap between currency and unit
    function swapUnitAndCurrency() {
        if ($('#number-format').val()[0] == 'c') {
            $('#number-currency').show();
            $('#number-unit').hide();
        } else {
            $('#number-currency').hide();
            $('#number-unit').show();
        }
       //$('#number-currency, #number-unit, #number-divisor').attr('disabled', $('#number-format').val() == '-');
    }
    $('#number-format').change(swapUnitAndCurrency);
    swapUnitAndCurrency();

    // update currency in number-format select
    function updateCurrencyInNumberFormat() {
        var curOpt = $('#number-format option[value=c], #number-format option[value=c0]');
        Globalize.culture("{{ chartLocale }}").numberFormat.currency.symbol = $('#number-currency option:selected').data('symbol');
        curOpt.each(function(i, el) {
            el = $(el);
            el.html(Globalize.format(1234.567, el.val()));
        });
    }
    updateCurrencyInNumberFormat();
    $('#number-currency').change(updateCurrencyInNumberFormat);

    // update data table after format changes
    $('.number-format').change(function() {
        updateTable(dataset, chart);
    });

    var ignoreSeries;

    function updateTable() {

        function isNone(val) {
            return val === null || val === undefined || (_.isNumber(val) && isNaN(val));
        }

        var data = [];

        var horzHeaders = chart.get('metadata.data.horizontal-header'),
            transpose = chart.get('metadata.data.transpose');

        dataset.ignoreIgnores = true;

        var tr = [];
        dataset.eachColumn(function(column) {
            tr.push((!isNone(column.name()) ? column.name() : ''));
        });
        data.push(tr);

        var DIV = document.createElement('DIV');
        function stripHtmlTags(val) {
            DIV.innerHTML = val;
            return DIV.textContent;
        }

        dataset.eachRow(function(row) {
            var tr = [];
            dataset.eachColumn(function(column, i) {
                var val = column.raw(row);
                val = column.type() == 'number' ? chart.formatValue(val, true) :
                        column.type() == 'date' ? dw.utils.longDateFormat(column)(val) :
                        val;
                tr.push((!isNone(column.raw(row)) ? stripHtmlTags(val) : ''));
            });
            data.push(tr);
        });

        ignoreSeries = _.clone(chart.get('metadata.data.ignore-columns', {}));

        function myRenderer(instance, td, row, col, prop, value, cellProperties) {
            if (row > 0) {
                var column = dataset.column(col);
                var formatter = chart.columnFormatter(column);
                value = formatter(column.val(row - 1));
            }
            Handsontable.TextCell.renderer.apply(this, arguments);
            if (parseInt(value, 10) < 0) { //if row contains negative number
                td.classList.add('negative');
            }
            if (row === 0) {
                td.classList.add('firstRow');
            } else {
                if (dataset.column(col).type() == 'text') {
                    td.classList.add('textType');
                } else if (dataset.column(col).type() == 'date') {
                    td.classList.add('dateType');
                } else { // number
                    td.classList.add('numberType');
                }
                td.classList.add(row % 2 ? 'oddRow' : 'evenRow');
            }

            if (ignoreSeries[data[0][col]]) {
                td.classList.add('ignored');
            }

            if(selectedColumns.indexOf(col) > -1) {
                td.classList.add('area'); //add blue area background if this cell is in selected column
            }
        }

        if($("#data-preview").handsontable('getInstance')) {
            $("#data-preview").handsontable('loadData', data);
            $("#data-preview").handsontable('render');
        }
        else {
            $("#data-preview").handsontable({
                data: data,
                allowHtml: true,
                startRows: 6,
                startCols: 8,
                width: $("#data-preview").width(),
                height: 400,
                fixedRowsTop: horzHeaders ? 1: 0,
                rowHeaders: true,
                colHeaders: true,
                fillHandle: false,
                stretchH: 'all',
                cells: function (row, col, prop) {
                    return {
                        renderer: myRenderer
                    };
                },
                beforeRender: function() {
                    //HOT 0.9.11 has a bug: beforeRender is called when table is scrolled, but afterRender is not
                    setTimeout(function() {
                        renderSelectedTh(); //if HOT was scrolled horizontally, we need to rerender th.selected
                    }, 0);
                },
                afterChange: function(changes, source) {
                    if (source !== 'loadData') {
                        var dataChanges = _.clone(chart.get('metadata.data.data-changes', [])); //clone is needed, otherwise chart.set does not detect this as change
                        changes.forEach(function(change) {
                            dataChanges.push({row: change[0] - 1, column: change[1], value: change[3]});
                        });
                        chart.set('metadata.data.data-changes', dataChanges);
                    }
                }
            });

            $('#data-preview table').addClass('table table-bordered');
        }
    }

    // add event handler for ignoring data series
    var start;
    var $dataPreview = $("#data-preview");

    function hasCorner() {
        return !!$('#data-preview tbody th').length;
    }

    function getIndexOfTh(th) {
        var col = $dataPreview.handsontable('getInstance').view.wt.wtTable.getCoords(th)[1];
        return col;
    }

    function getThOfIndex(index) {
        var offsetCol = $dataPreview.handsontable('getInstance').view.wt.getSetting('offsetColumn');
        var thIndex = index + 1 * hasCorner() - offsetCol;
        return document.querySelectorAll('#data-preview thead th')[thIndex];
    }

    function getSeriesOfIndex(index) {
        return $dataPreview.handsontable('getDataAtCell', 0, index);
    }

    $('body').on('mousedown', function () {
        if(selectedColumns.length) {
            deselectColumns();
            $dataPreview.handsontable('render'); //refresh all cells and column headers
            showColumnSettings();
        }
    });

    $('body').on('mouseup', function () {
        start = void 0;
    });

    $dataPreview.on('mousedown', 'th:has(.colHeader)', function () {
        start = getIndexOfTh(this);
        selectColumns(start);
        event.stopPropagation();
        $dataPreview.handsontable('deselectCell');
    });

    $dataPreview.on('mouseenter', 'th:has(.colHeader)', function () {
        if(start !== void 0) {
            var current = getIndexOfTh(this);
            selectColumns(start, current);
        }
    });

    var selectedColumns = [];

    function deselectColumns() {
        selectedColumns.length = 0;
    }

    function selectColumns(from, to) {
        deselectColumns();
        if(to === void 0) {
            selectedColumns.push(from);
        }
        else {
            var min = Math.min(from, to);
            var max = Math.max(from, to);
            while(min <= max) {
                selectedColumns.push(min);
                min++;
            }
        }
        $dataPreview.handsontable('render');
        showColumnSettings();
    }

    function renderSelectedTh() {
        $("#data-preview thead th.selected").removeClass('selected');
        selectedColumns.forEach(function(i){
            getThOfIndex(i).classList.add('selected');
        });
    }

    function showColumnSettings() {
        if(selectedColumns.length) {
            var series = getSeriesOfIndex(selectedColumns[0]);
            var ignoreSeries = chart.get('metadata.data.ignore-columns', {});
            $('#column-options-hide')[0].checked = ignoreSeries[series];
            var columnFormats = chart.get('metadata.describe.column-format', {});
            $('#number-format')[0].value = columnFormats[series]['number-format'];
            $('#number-divisor')[0].value = columnFormats[series]['number-divisor'];
            $('#number-append')[0].value = columnFormats[series]['number-append'];
            $('#number-prepend')[0].value = columnFormats[series]['number-prepend'];

            $('#table-options').hide();
            $('#column-options').show();
        }
        else {
            $('#column-options').hide();
            $('#table-options').show();
        }
    }

    $('.sidebar').mousedown(function(event){
        event.stopPropagation(); //stop sidebar event propagation so clicking in #column-options won't deselect column selection
    });

    $('#column-options-hide').change(function(){
        var checked = this.checked;
        var ignoreSeries = _.clone(chart.get('metadata.data.ignore-columns', {}));
        selectedColumns.forEach(function(i){
            ignoreSeries[getSeriesOfIndex(i)] = checked;
        });
        chart.set('metadata.data.ignore-columns', ignoreSeries);
    });

    function syncColumnFormat(selector, property) {
        $(selector).change(function(){
            var value = this.value;
            var columnFormats = $.extend(true, {}, chart.get('metadata.describe.column-format', {})); //deep clone (_.clone is insufficient because it does a shallow clone)
            selectedColumns.forEach(function(i) {
                var series = getSeriesOfIndex(i);
                if (!columnFormats[series]) {
                    columnFormats[series] = {};
                }
                columnFormats[series][property] = value;
            });
            chart.set('metadata.describe.column-format', columnFormats);
        });
    }

    syncColumnFormat('#number-format', 'number-format');
    syncColumnFormat('#number-divisor', 'number-divisor');
    syncColumnFormat('#number-append', 'number-append');
    syncColumnFormat('#number-prepend', 'number-prepend');

    function reload(f) {
        console.log('chart reloaded');
        chart.load().done(function() {
            if (_.isUndefined(f)) {
                console.log('synchronizing header settings', $('#has-headers'));

            }
            dataset = chart.dataset();
            updateTable();
        });
    }

    $('#describe-source-url').blur(function() {
        var v = $(this).val();
        if (v.substr(0,2) != '//' && v.substr(0,7) != 'http://' &&  v.substr(0,8) != 'https://') {
            $(this).val('//'+v);
            chart.set('metadata.describe.source-url', $(this).val());
        }
    });

    reload();

    $('#describe-proceed').click(function() {
        chart.save();
    });

});

</script>

<div class="dw-create-describe chart-editor">

    <div class="row">

        <div class="span8">

            <h2>{% trans "Check and Describe Your Data" %}</h2>

            <p>
                {% trans "Please check if the data format was recognized correctly." %}
                {% trans "You can hide columns by clicking the table header." %}
            </p>

            <form class="form-inline">
                <div id="csv-parse-options" class="row">
                    <div class="span4">
                    </div>
                    <div class="span4">

                    </div>
                </div>
            </form>

            <div id="data-preview"></div>
        </div>

        <div class="span4">
            <div class="well sidebar">

                <div id="table-options">

                    <h3>{% trans "Describe your data" %}</h3>

                    <div style="margin-bottom:15px;">

                        <div class="half">
                            <p>
                                <label class="radio"><input type="radio" name="transpose" value="yes" /> {% trans "Data series in rows" %}</label>
                                <label class="radio"><input type="radio" name="transpose" value="no" /> {% trans "Data series in columns" %}</label>
                            </p>

                        </div><div class="half">
                            <p>
                                <label class="checkbox"><input id="has-headers" type="checkbox" checked="checked"> {% trans "First row as label" %}</label>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <h3>{% trans "Credit the source" %}</h3>

                    <p>
                        <label>{% trans "Who published the data in the first place?" %}</label>
                        <input id="describe-source-name" type="text" placeholder="name of the organisation">
                    </p>

                    <p>
                        <label>{% trans "If possible, please provide a link the source data" %}</label>
                        <input id="describe-source-url" type="text" placeholder="http://">
                    </p>

                    <!--<h3>{% trans "Annotate data" %}</h3>
                    <p>{% trans "To make the data more useful for your readers you can add details to individual data points or an entire series. This information will be displayed in the visualisations." %} <a href="#">{% trans "Learn more" %}</a></p>
                    <button class="btn"><i class="icon-th-list"></i> {% trans "Annotate series" %}</button> <button class="btn"><i class="icon-th"></i> {% trans "Annotate data point" %}</button>
                    -->
                </div>

                <div id="column-options">
                    <h3>{% trans "Column options" %}</h3>

                    {#<div class="form-horizontal compact">
                        <div class="control-group">
                            <label class="control-label" for="text-title">{% trans "Column type" %}</label>

                            <div class="controls">
                                <select id="column-options-type" class="select" style="width:90%">
                                    {% for id, type in columntypes %}
                                        <option value="{{ id }}">{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>#}

                    <h3>{% trans "Output number format" %}</h3>

                    <div class="form-horizontal compact">
                        <div class="control-group">
                            <label class="control-label" for="text-title">{% trans "Decimals after point" %}</label>

                            <div class="controls">
                                <select id="number-format" class="select number-format" style="width:90%">
                                    <option value="-">{% trans "keep original" %}</option>
                                    {% for id, format in numberformats %}
                                        <option value="{{ id }}">{{ format }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="text-title">{% trans "Prepend/Append" %}</label>

                            <div class="controls">
                                <input type="text" id="number-prepend" style="width:2em;text-align:right"/> # <input type="text" id="number-append" style="width:5em"/>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="text-title">{% trans "Devide numbers by" %}</label>

                            <div class="controls">
                                <select class="number-format" id="number-divisor" style="width:90%">
                                    <option value="0">-</option>
                                    <option value="3">{% trans "1000" %}</option>
                                    <option value="6">{% trans "1 million" %}</option>
                                    <option value="9">{% trans "1 billion" %}</option>
                                    <optgroup label="⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯"></optgroup>
                                    <option value="-2">{% trans "One Percent" %}</option>

                                </select>
                            </div>
                        </div>

                    </div>

                    <div style="margin-bottom:15px;">
                        <p>
                            <label class="checkbox"><input id="column-options-hide" type="checkbox"> {% trans "Hide column" %}</label>
                        </p>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <a href="visualize" class="submit pull-right btn btn-primary" id="describe-proceed">{% trans "Visualize" %} <i class="icon-chevron-right icon-white"></i></a>
                <a class="btn submit" href="upload"><i class="icon-chevron-left"></i> {% trans "Back" %}</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">


        </div>
    </div>
</div>


{% endblock %}