{% extends "chart-editor.twig" %}

{% block content %}

{{ parent() }}

<div class="dw-create-upload">

    <script type="text/javascript">

        $(function() {

            function init() {
                $('#demo-data').append('<li><a href="#">Gini</a></li>');
            }

            function nextPage() {
                location.href = '/chart/'+DW.currentChart.get('id')+'/describe';
            }

            $('#upload-data').click(function() {
                DW.currentChart.set('metadata.data.source', 'clipboard');
                $.ajax({
                    url: '/api/charts/' + DW.currentChart.get('id') + '/data',
                    type: 'PUT',
                    data: $('#upload-data-text').val(),
                    processData: false,
                    dataType: 'json',
                    success: function(result) {
                        if (result.status == "ok") {
                            // data is saved correctly, so proceed
                            nextPage();
                        } else {
                            alert(result.message);
                        }
                    }
                });
                return false;
            });

        });
    </script>

    <div class="row">
        <div class="span7">
            <h3>Upload Your Data..</h3>

             <form class="well">
                <textarea id="upload-data-text" placeholder="copy &amp; paste your data here">{{ chartData }}</textarea>

                <a id="upload-data" class="btn btn-primary pull-right" href="#">Upload and continue <i class="icon-chevron-right icon-white"></i></a>
                <button class="btn"><i class="icon-upload"></i>..or pick a file from your disk</button> <span class="label">Not Implemented</span>
                <br style="clear:both;margin:0" />
            </form>

        </div>

        <div class="span5">
            <h3>Help</h3>
            <p>We want to make getting data into Datawrapper as easy as possible. If you're working in Excel or OpenOffice, just select your data (including header row/column) and paste it in the following text field. <a href="#">learn more</a></p>

            <p><span class="label">Hint</span> if you just want to play around with Datawrapper, you can use one of the following example datasets:
                <ul id="demo-datasets" class="">
                    {% for dataset in datasets %}
                    <li><a href="#{{ dataset.id }}" class="demo-dataset" data-data="{{ dataset.data }}">{{ dataset.title }}</a></li>
                    {% endfor %}
                </ul>
                <script type="text/javascript">

                $(function() {

                    $('.demo-dataset').click(function(evt) {
                        var a = $(evt.target);
                        $('#upload-data-text').val(a.data('data'));
                        return false;
                    });
                });

                </script>
            </p>
        </div>

        <div class="span4 inactive">

        </div>
        {# maybe we add this feature in 1.1
        <div class="span4">
            <h3>Remote Data Source</h3>
            <p>If your data is stored on a datahub like CKAN, ScraperWiki or Google Docs, you can create visualisations directly. Your charts can be updated automatically as the data source changes. <a href="#">learn more</a></p>

            <form class="well">
                <label class="radio">
                    <input type="radio" name="remote-source" />
                    OKFN DataHub (CKAN)<br />
                    <input type="text" placeholder="CKAN-URL" />
                </label>

                <label class="radio">
                    <input type="radio" name="remote-source" />
                    Google Docs<br />
                    <input type="text" placeholder="Google Docs URL" />
                </label>

                <label class="radio">
                    <input type="radio" name="remote-source" />
                    ScraperWiki<br />
                    <input type="text" placeholder="Insert the name of your scraper" />
                </label>

                <p class="pull-right">
                    <a class="btn" href="describe.html">Check and continue <i class="icon-chevron-right"></i></a>
                </p>
                <br class="clearfix" />
            </form>

        </div>
        #}

    </div>


</div>

{% endblock %}