{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}

<script type="text/javascript">
$(function() {

    var _typeHasChanged = false;

    DW.currentChart.onSave(function(chart) {
        $('#iframe-vis').attr('src', '/chart/{{ chart.id }}/preview')
        if (_typeHasChanged) {
            $('#vis-options').load('/xhr/'+chart.get('id')+'/vis-options');
            syncVisOptions();
            _typeHasChanged = false;
        }
    });

    DW.currentChart.sync('#select-vis', 'type');
    DW.currentChart.sync('#select-theme', 'theme');
    DW.currentChart.sync('#text-title', 'title');

    function syncVisOptions() {
        var vis = JSON.parse('{{ vis|json|raw }}');
        _.each(vis.options, function(opt, key) {
            if (opt.type == 'radio') {
                DW.currentChart.sync('input[name='+key+']', 'metadata.visualize.'+key);
            } else {
                DW.currentChart.sync('#'+key, 'metadata.visualize.'+key);
            }
        });
    };

    DW.currentChart.onChange(function(chart, key) {
        console.log('change', key);
        if (key == 'type') {
            _typeHasChanged = true;
        }
    });

    syncVisOptions();

});

</script>

<div class="dw-create-visualize">

    <div class="row">
        <div class="span4 visconfig">

            <div class="row">
                <div class="span2">
                    <label for="select-vis">Visualization:</label>
                    <select id="select-vis" class="span2">
                        {% for vis in visualizations %}
                        <option value="{{ vis.id }}">{{ vis.title.en }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="span2">
                    <label for="select-theme">Layout:</label>
                    <select id="select-theme" class="span2">
                        {% for theme in themes %}
                        <option value="{{ theme.id }}">{{ theme.title }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <label for="text-title" contenteditable="true">Title</label>
            <input type="text" id="text-title" class="input-xlarge span4" />

            <div id="vis-options" class="form-horizontal">
                {% use 'vis-options.twig' %}
                {{ block('visoptions') }}
            </div>
        </div>

        <div class="span8">
            <iframe src="/chart/{{ chart.id }}/preview" id="iframe-vis" style="width:100%; height: 500px">
            </iframe>
        </div>

    </div>


</div>


{% endblock %}