{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}

<script type="text/javascript">
$(function() {

    var _typeHasChanged = false;

    DW.currentChart.onSave(function(chart) {
        $('#iframe-vis').attr('src', '/chart/{{ chart.id }}/preview')
        if (_typeHasChanged) {
            // load new visualization options
            $('#vis-options').load('/xhr/'+chart.get('id')+'/vis-options');
            _typeHasChanged = false;
        }
    });

    DW.currentChart.sync('#select-vis', 'type');
    DW.currentChart.sync('#select-theme', 'theme');
    DW.currentChart.sync('#text-title', 'title');
    DW.currentChart.sync('#text-intro', 'metadata.describe.intro');

    DW.currentChart.onChange(function(chart, key, value) {
        console.log(key, value);
        if (key == 'type') {
            _typeHasChanged = true;
        }
    });

    // load dataset
    function _getHighlights() {
        var sel = DW.currentChart.get('metadata.visualize.highlighted-series');
        return _.isArray(sel) ? sel.slice() : [];
    }

    function highlightSeriesClick(e) {
        var badge = $(e.target).parents('.badge'),
            series = badge.data('series'),
            li = badge;
            selected = _getHighlights();
        selected = _.without(selected, series);
        DW.currentChart.set('metadata.visualize.highlighted-series', selected);
        li.remove();
    }
    $('.highlighted-series .badge').click(highlightSeriesClick);

    DW.currentChart.dataset(function(ds) {
        var s = $('#highlight-series'), s2 = $('.highlighted-series');
        _.each(DW.currentChart.dataSeries(), function(col) {
            s.append('<option>'+col.name+'</option>');
        });
        s.change(function() {
            if (s.val() != "---") {
                var selected = _getHighlights();
                if (_.indexOf(selected, s.val()) >= 0) {
                    s.val('---');
                    return;
                }

                var li = $('<span data-series="'+s.val()+'" class="badge badge-info"><i class="icon-remove icon-white"></i>'+s.val()+'</span>');

                selected.push(s.val());

                DW.currentChart.set('metadata.visualize.highlighted-series', selected);

                $('.badge', li).click(highlightSeriesClick);
                s2.append(li);
                s.val('---');
            }
        })
    });

    $('.collapse').on('shown', function(e) {
        var tgl = $('[data-toggle=collapse][data-target=#'+e.target.id+']');
        tgl.addClass('collapse-shown');
        tgl.removeClass('collapse-hidden');
    });

    $('.collapse').on('hidden', function(e) {
        var tgl = $('[data-toggle=collapse][data-target=#'+e.target.id+']');
        tgl.addClass('collapse-hidden');
        tgl.removeClass('collapse-shown');
    });
});

</script>

<div class="dw-create-visualize">

    <div class="row">
        <div class="span4 visconfig">

            <div class="row">
                <div class="span2">
                    <label for="select-vis">Visualization:</label>
                    <select id="select-vis" class="span2">
                        {% for vis in visualizations %}{% if vis.title %}
                        <option value="{{ vis.id }}">{{ vis.title.en }}</option>
                        {% endif %}{% endfor %}
                    </select>
                </div>

                <div class="span2">
                    <label for="select-theme">Layout:</label>
                    <select id="select-theme" class="span2">
                        {% for theme in themes %}
                        <option value="{{ theme.id }}">{{ theme.title }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <label for="text-title">Title</label>
            <input type="text" id="text-title" class="input-xlarge span4" />

            {# add introduction #}

            <label for="text-intro"><a data-toggle="collapse" data-target="#c-intro" class="collapse-{% if chart.metadata.describe.intro %}shown{% else %}hidden{% endif %}">Introduction</a></label>
            <div id="c-intro" class="collapse{% if chart.metadata.describe.intro %} in{% endif %}">
                    <textarea type="text" id="text-intro" class="input-xlarge span4"></textarea>
            </div>

            {# highlight series #}

            <label>
                <a data-toggle="collapse" data-target="#c-highlight" class="collapse-{% if chart.metadata.visualize.highlighted-series %}shown{% else %}hidden{% endif %}">Highlight series</a>
            </label>
            <div class="collapse{% if chart.metadata.visualize.highlighted-series %} in{% endif %}" id="c-highlight">
                <div>
                    <select id="highlight-series" class="span2">
                        <option value="---">- select a data series -</option>
                    </select>
                </div>
                <p class="highlighted-series">
                    {% for series in chart.metadata.visualize.highlighted-series %}
                    <span data-series="{{ series }}" class="badge badge-info"><i class="icon-remove icon-white"></i>{{ series }}</span>
                    {% endfor %}
                </p>
            </div>

            {# highlight values }

            <label>
                <a data-toggle="collapse" data-target="#c-highlight-values" class="collapse-{% if chart.metadata.visualize.highlighted-values %}shown{% else %}hidden{% endif %}">Highlight values</a>
            </label>
            <div class="collapse{% if chart.metadata.visualize.highlighted-values %} in{% endif %}" id="c-highlight-values">
                <div class="form-horizontal">
                    <label>Value: <input type="text" class="span1" /> <input type="text" class="span2" placeholder="comment" /></label>
                </div>
            </div>

            {# customize tooltips }

            <label><a data-toggle="collapse" data-target="#c-tooltips">Customize Tooltips</a></label>
            <div class="collapse" id="c-tooltips">
                <label class="control-label">Tooltip content</label>
                <div class="controls">
                    <textarea style="width:100%" placeholder="not implemented yet"></textarea>
                </div>
            </div>

            {# visualization specific options #}

            <div id="vis-options" class="form-horizontal">
                {% use 'vis-options.twig' %}
                {{ block('visoptions') }}
            </div>
        </div>

        <div class="span8">
            <iframe src="/chart/{{ chart.id }}/preview" id="iframe-vis" style="width:100%; height: 500px">
            </iframe>

        </div>

    </div>

    <div class="form-actions">
        <a href="publish" class="pull-right btn btn-primary" id="visualize-proceed">Publish <i class="icon-chevron-right icon-white"></i></a>
        <a class="btn" href="describe"><i class="icon-chevron-left"></i> Back</a>
    </div>

</div>


{% endblock %}