{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}

<script type="text/javascript">
$(function() {

    var _typeHasChanged = false;

    DW.currentChart.onSave(function(chart) {
        $('#iframe-vis').attr('src', '/chart/{{ chart.id }}/preview')
        if (_typeHasChanged) {
            $('#vis-options').load('/xhr/'+chart.get('id')+'/vis-options');
            syncVisOptions();
            _typeHasChanged = false;
        }
    });

    DW.currentChart.sync('#select-vis', 'type');
    DW.currentChart.sync('#select-theme', 'theme');
    DW.currentChart.sync('#text-title', 'title');
    DW.currentChart.sync('#text-intro', 'metadata.describe.intro');

    function syncVisOptions() {
        var vis = JSON.parse('{{ vis|json|raw }}');
        _.each(vis.options, function(opt, key) {
            if (opt.type == 'radio') {
                DW.currentChart.sync('input[name='+key+']', 'metadata.visualize.'+key);
            } else {
                DW.currentChart.sync('#'+key, 'metadata.visualize.'+key);
            }
        });
    };

    DW.currentChart.onChange(function(chart, key) {
        if (key == 'type') {
            _typeHasChanged = true;
        }
    });

    syncVisOptions();

    // load dataset
    function _getHighlights() {
        var sel = DW.currentChart.get('metadata.visualize.highlighted');
        return _.isArray(sel) ? sel.slice() : [];
    }

    function highlightSeriesClick(e) {
        var badge = $(e.target).parents('.badge'),
            series = badge.data('series'),
            li = badge.parent();
            selected = _getHighlights();
        selected = _.without(selected, series);
        DW.currentChart.set('metadata.visualize.highlighted', selected);
        li.remove();
    }
    $('.highlighted-series .badge').click(highlightSeriesClick);

    DW.currentChart.dataset(function(ds) {
        var s = $('#highlight-series'), s2 = $('.highlighted-series ul');
        _.each(DW.currentChart.dataSeries(), function(col) {
            s.append('<option>'+col.name+'</option>');
        });
        s.change(function() {
            if (s.val() != "---") {
                var selected = _getHighlights();
                if (_.indexOf(selected, s.val()) >= 0) {
                    s.val('---');
                    return;
                }

                var li = $('<li><span data-series="'+s.val()+'" class="badge badge-info"><i class="icon-remove icon-white"></i>'+s.val()+'</span></li>');

                selected.push(s.val());

                DW.currentChart.set('metadata.visualize.highlighted', selected);

                $('.badge', li).click(highlightSeriesClick);
                s2.append(li);
                s.val('---');
            }
        })
    }, true);


});

</script>

<div class="dw-create-visualize">

    <div class="row">
        <div class="span4 visconfig">

            <div class="row">
                <div class="span2">
                    <label for="select-vis">Visualization:</label>
                    <select id="select-vis" class="span2">
                        {% for vis in visualizations %}
                        <option value="{{ vis.id }}">{{ vis.title.en }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="span2">
                    <label for="select-theme">Layout:</label>
                    <select id="select-theme" class="span2">
                        {% for theme in themes %}
                        <option value="{{ theme.id }}">{{ theme.title }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <label for="text-title">Title</label>
            <input type="text" id="text-title" class="input-xlarge span4" />

            <label for="text-intro">Introduction</label>
            <textarea type="text" id="text-intro" class="input-xlarge span4"></textarea>

            <label>Highlight series</label>
            <div class="row"><div class="span2">

            <select id="highlight-series" class="span2">
                <option value="---">- select a data series -</option>

            </select>

            </div><div class="span2 highlighted-series">
                <ul class="unstyled">
                    {% for series in chart.metadata.visualize.highlighted %}
                    <li><span data-series="{{ series }}" class="badge badge-info"><i class="icon-remove icon-white"></i>{{ series }}</span></li>
                 {% endfor %}
                </ul>
            </div></div>

            <div id="vis-options" class="form-horizontal">
                {% use 'vis-options.twig' %}
                {{ block('visoptions') }}
            </div>
        </div>

        <div class="span8">
            <iframe src="/chart/{{ chart.id }}/preview" id="iframe-vis" style="width:100%; height: 500px">
            </iframe>
        </div>

    </div>


</div>


{% endblock %}