{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}

<script type="text/javascript">
$(function() {

    DW.currentChart.sync('#make-public', 'showInGallery');

    DW.currentChart.sync('#embed-width', 'metadata.publish.embed-width');
    DW.currentChart.sync('#embed-height', 'metadata.publish.embed-height');

    $('#embed-width, #embed-height').change(function() {
        var w = $('#embed-width').val(), h = $('#embed-height').val(),
            embedCode = $('#iframe-code').html();
        embedCode = embedCode.replace(/width="\d+"/, 'width="' + w + '"');
        embedCode = embedCode.replace(/height="\d+"/, 'height="' + h + '"');
        $('#iframe-code').html(embedCode);

        resizeIFrame();
    });

    function resizeIFrame() {
        var iframe = $('#iframe-vis'),
            w = $('#embed-width').val(),
            h = $('#embed-height').val(),
            ow = iframe.parent().width();
            oh = $('div.span4').height();

        if (!w) w = 600;
        if (!h) h = 400;

        iframe.width(w);
        iframe.height(h);
        iframe.css({ 'margin-left': Math.max(0, (ow - w) * 0.5) + 'px' });
        iframe.css({ 'margin-top': Math.max(0, (oh - h) * 0.5) + 'px' });
    }

    $('a.duplicate').click(function(e) {
        e.preventDefault();
        var id = DW.currentChart.get('id');
        $.ajax({
            url: '/api/charts/'+id+'/copy',
            type: 'POST',
            success: function(data) {
                data = JSON.parse(data);
                if (data.status == "ok") {
                    // redirect to copied chart
                    location.href = '/chart/'+data.data.id+'/visualize';
                } else {
                    console.warn(data);
                }
            }
        });
    });

    resizeIFrame();

    function snapshot(width, height) {
        // 1. make iframe and load chart
        var iframe = $('<iframe />');
        iframe.attr({
            src: 'http://{{ DW_DOMAIN }}/chart/{{ chart.id }}'
        });
        iframe.css({
            position: 'absolute',
            top: 0,
            left: -4000,
            width: width+'px',
            height: height+'px'
        });
        $('body').append(iframe);
        // 2.
        var canvas = $('<canvas id="canvas" width="'+width+'px" height="'+height+'px"></canvas>')
        $('body').append(canvas);

        function px(s) {
            return Number(s.substr(0, s.length-2));
        }

        setTimeout(function() {
            var body = iframe.get(0).contentDocument,
                ctx = canvas.get(0).getContext('2d');
            canvg('canvas', $('svg', body).get(0).innerSVG);
            $('.label', body).each(function(i, lbl) {
                lbl = $(lbl);
                var x = px(lbl.css('left')),
                    y = px(lbl.css('top')),
                    txt = $('span', lbl).html();
                console.log(x,y,txt);
                ctx.font = "8pt Arial";
                ctx.fillText(txt, x, y);

            });
        }, 1000);

    }


    $('a[href=#resend]').click(function(e) {
        e.preventDefault();
        $.ajax({
            url: '/api/account/resend-activation',
            type: 'POST',
            dataType: 'json',
            success: function(res) {
                console.log(res);
                if (res.status == 'ok') {
                    DW.logMessage(res.data, $(e.target).parent());
                } else {
                    DW.logError(res.message, $(e.target).parent());
                }
            }
        });
    });

    /*setTimeout(function() {

        snapshot(1200,600);
    },4000);*/
});

</script>
<style type="text/css">

#iframe-vis {
    box-shadow: 2px 2px 11px rgba(0,0,0,.2);

-webkit-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition: all 800ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
</style>

<div class="dw-create-publish">
    <div class="row">
        <div class="span4">

            {% if user.isAbleToPublish %}

            {% if chart.publishedAt < chart.lastModifiedAt %}
                <div class="alert alert-warning">
                    <p>{% trans "You have changed the chart after its last publication. To make you changes visible, please re-publish the chart." %}</p>
                    <a href="?republish=1" class="btn"><i class="icon-refresh"></i> {% trans "Re-publish chart!" %}</a>
                </div>

            {% elseif chart.lastEditStep == 3 %}
                <p class="alert alert-success">{% trans "Congrats, you made it! The chart has been published." %}</p>
            {% else %}
            {% endif %}

            


            <h3>{% trans "Link to this visualisation" %}</h3>
            <p><a href="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}">http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}</a></p>

            <h3>{% trans "Embed into your website" %}</h3>
            <p>{% trans "Just copy &amp; paste the following code into your website." %}</p>
            <form class="form-inline">
                <label>{% trans "Width" %}: <input type="text" id="embed-width" class="input-small" style="width:4ex" value="600" /> px</label>&nbsp;&nbsp;
                <label>{% trans "Height" %}: <input type="text" id="embed-height" class="input-small" style="width:4ex" value="400" /> px</label>

            <textarea id="iframe-code" class="span4" rows="5"><iframe src="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}" frameborder="0" allowtransparency="true" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen width="{{ chart.metadata.publish['embed-width'] }}" height="{{ chart.metadata.publish['embed-height'] }}"></iframe></textarea>

             <h3>{% trans "Show in Gallery" %}</h3>
             <p>{% trans "You can show some love to Datawrapper by agreeing to show your visualisation in our <a href='%GALLERY_URL%'>public gallery</a>" %}. {% trans "This is absolutely optional." %}</p>

             <label class="checkbox"><input type="checkbox" id="make-public" /> {% trans "Yes, show this chart in the gallery" %}</label>

            {% elseif user.role == 'guest' %}

            <h3>{% trans "Congrats, you created your first chart!" %}</h3>

            <p>{% trans "Now, to be able to embed the chart, we ask you to create an account. It's free and all you need is a valid email address. The chart you just created will be transfered to your new account." %}</p>

            <h3>{% trans "Sign Up" %}</h3>

            <div class="signup-form form-vertcal">
                <div class="control-group">
                    <input id="register-email" type="text" class="input-xlarge span2" placeholder="email" />
                </div>
                <div class="control-group">
                    <input id="register-pwd" type="password" class="input-xlarge span2" placeholder="password" />
                </div>
                <div class="control-group">
                    <input id="register-pwd-2" type="password" class="input-xlarge span2" placeholder="repeat password" />
                </div>
                <a id="btn-register" class="btn btn-large"><i class="icon-pencil"></i> Sign Up</a>
            </div>

            {% elseif user.role == 'pending' %}

            <h3>{% trans "Congrats, you created a chart!" %}</h3>

            <p>{% trans "The chart is accessible under" %} <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/edit">{{ DW_DOMAIN }}/chart/{{ chart.id }}/edit</a> {% trans "or via your <a href='/mycharts'>My Charts</a> page." %}

            <p>{% trans "Now, to be able to publish and embed this chart into other websites, you need to activate the email address you entered during sign up process." %}</p>

            <p>{% trans "If you did not get any email within 5 minutes, here's the trouble shooting guide:" %}</p>
            <ol>
                <li>{% trans "At first, don't worry. Everything you created will wait patiently" %}</li>
                <li>{% trans "Make sure that your spam filter didn't catch our activation email. They are sent from" %} activate@{{ DW_DOMAIN }}.</li>
                <li>{% trans "Of course, you can also let us <a href='#resend'>resend the activation email</a>." %} (TODO)</li>
                <li>{% trans "If that didn't work either, please contact our support" %}</li>
            </ol>

            {% else %}

            {{ user.role }}

            {% endif %}
        </div>
        <div class="span8">
            {% if user.isAbleToPublish %}

            <iframe src="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}" id="iframe-vis" style="width:{{ chart.metadata.publish['embed-width'] }}px;height:{{ chart.metadata.publish['embed-height'] }}px"></iframe>

            {% else %}

            <iframe src="/chart/{{ chart.id }}/preview" id="iframe-vis" style="width:{{ chart.metadata.publish['embed-width'] }}px;height:{{ chart.metadata.publish['embed-height'] }}px"></iframe>

            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="form-actions">
                <a class="submit pull-right btn" href="/chart/create"><i class="icon-pencil"></i> {% trans "Create another graphic" %}</a>
                {% if user.isAbleToPublish %}<a class="submit duplicate pull-right btn" style="margin-right:10px"><i class="icon-plus"></i> {% trans "Duplicate this chart" %}</a>{% endif %}
                <a class="submit btn" href="visualize"><i class="icon-chevron-left"></i> {% trans "Return to visualise step" %}</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}