<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ chart.title | replace({'<br/>': ' - '}) | striptags }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.95, maximum-scale=0.95, user-scalable=0" />
    {# <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0;URL='static.html'">
    <![endif]--> #}
    <!--[if lt IE 9]>
    <script src="{{ DW_DOMAIN }}/static/vendor/json-js/json2.min.js"></script>
    <script type="text/javascript">
        window.__ltie9 = true;
    </script>
    <![endif]-->
    {% if innersvg %}
    <script type="text/javascript" src="{{ DW_DOMAIN }}/static/vendor/innersvg/innersvg.js"></script>
    {% endif %}

    {{ hook('chart_html_head', chart) }}

{% for src in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ src }}"></link>
{% endfor %}

    <script type="text/javascript">
    window.__locale = '{{ chartLocale }}';
    </script>

{% for script in scripts %}
  {% if script.ie %}<!--[if {{ script.ie }}]>
  {% endif %}
    <script type="text/javascript" src="{% if script.src %}{{ script.src }}{% else %}{{ script }}{% endif %}"></script>
  {% if script.ie %}<![endif]-->
  {% endif %}
{% endfor %}

</head>
<body class="chart{% if fullscreen %} fullscreen{% endif %}{% if plain %} plain{% endif %} theme-{{ chart.theme }} vis-{{ chart.type }}">

    {# some convenient short cuts for theme templates #}
    {% set title = chart.title %}{% set intro = chart.metadata.describe.intro %}{% set source = chart.metadata.describe['source-name'] %}{% set sourceURL = chart.metadata.describe['source-url'] %}


    {% include theme.template ? theme.template : 'plugins/theme-default/default.twig' %}

    {# <div class="noscript" style="position: absolute;top: 0;left: 0;z-index: -10;">
        <a href="static.html"><img src="nojs.png" alt="{% trans "Please activate JavaScript to see the interactive chart." %}" /></a>
    </div>
    <div class="noscript" style="height:95%;position:absolute;top:0;width:98%;z-index:10;overflow:hidden">
        <div style="position:relative;top:50%;text-align:center;font-size:18px;padding:0 20px"><a style="color: rgba(0,0,0,.2); text-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff; text-decoration: none;" href="static.html" >{% trans "Please activate JavaScript to see the interactive chart." %}</a></div>
    </div>#}
    <script type="text/javascript">

    if (document.getElementsByTagName('script').length > 0) $('body').addClass('js');

    __dw.init({
        chartJSON: JSON.parse('{{ chart.toJSON(true) | raw }}'),
        chartLocale: '{{ chartLocale }}',
        themeId: '{{ theme.id }}',
        visId: '{{ visualization.id }}',
        visJSON: JSON.parse('{{ visualization | json | e("js") | raw }}'),
        metricPrefix: JSON.parse('{{ metricPrefix | json | e("js") |  raw }}'),
        lang: '{{ lang }}'
    });

    </script>

    {{ hook('chart_after_body', chart, published) }}
</body>
</html>
