{% extends "chart-editor.twig" %}

{% block content %}

{{ parent() }}

<script type="text/javascript">
$(function() {

    DW.currentChart.onChange(reload);

    DW.currentChart.sync('#has-horizontal-headers', 'metadata.data.horizontal-header');
    DW.currentChart.sync('#has-vertical-headers', 'metadata.data.vertical-header');
    DW.currentChart.sync('#describe-source-name', 'metadata.describe.source-name');
    DW.currentChart.sync('#describe-source-url', 'metadata.describe.source-url');
    DW.currentChart.sync('input:radio[name=transpose]', 'metadata.data.transpose');

    DW.currentChart.sync('#number-format', 'metadata.describe.number-format');
    DW.currentChart.sync('#number-divisor', 'metadata.describe.number-divisor');
    DW.currentChart.sync('#number-unit', 'metadata.describe.number-unit');
    DW.currentChart.sync('#number-currency', 'metadata.describe.number-currency');

    // swap between currency and unit
    function swapUnitAndCurrency() {
        if ($('#number-format').val() == 'c') {
            $('#number-currency').show();
            $('#number-unit').hide();
        } else {
            $('#number-currency').hide();
            $('#number-unit').show();
        }
    }
    $('#number-format').change(swapUnitAndCurrency);
    swapUnitAndCurrency();

    // update currency in number-format select
    function updateCurrencyInNumberFormat() {
        var curOpt = $('#number-format option[value=c], #number-format option[value=c0]');
        Globalize.culture("{{ chartLocale }}").numberFormat.currency.symbol = $('#number-currency option:selected').data('symbol');
        curOpt.each(function(i, el) {
            el = $(el);
            el.html(Globalize.format(1234.56, el.val()));
        });
    }
    updateCurrencyInNumberFormat();
    $('#number-currency').change(updateCurrencyInNumberFormat);

    // update data table after format changes
    $('.number-format').change(function() {
        updateTable(DW.dataView, DW.currentChart);
    });

    function updateTable(dv, chart) {

        function isNone(val) {
            return val === null || val === undefined || (_.isNumber(val) && isNaN(val));
        }

        var table = $('#data-preview'),
            horzHeaders = chart.get('metadata.data.horizontal-header'),
            vertHeaders = chart.get('metadata.data.vertical-header'),
            transpose = chart.get('metadata.data.transpose');
        table.html('');  // empty table
        table.append('<thead><tr></tr><thead><tbody></tbody>');

        table.addClass(transpose ? 'row-series' : 'column-series');
        table.removeClass(transpose ? 'column-series' : 'row-series');

        dv.eachColumn(function() {
            table.append('<colgroup style="width:'+(100 / dv.columnNames().length)+'%" />');
        });

        if (horzHeaders) {
            var thead = $('thead tr', table);
            dv.eachColumn(function(name, o, i) {
                if (vertHeaders && i == 0) name = '';
                else name = '<span>'+name+'</span>';
                thead.append('<th>'+(!isNone(name) ? name : '')+'</th>');
            });
        }

        if (vertHeaders) table.addClass('vert-header'); else table.removeClass('vert-header');

        var tbody = $('tbody', table);
        dv.each(function(row) {
            var tr = $('<tr></tr>');
            dv.eachColumn(function(col, o, i) {
                if (i == 0 && vertHeaders) {
                    tr.append('<th><span>'+(!isNone(row[col]) ? row[col] : '')+'</span></th>');
                } else {
                    var val = row[col];
                    val = chart.formatValue(val, true);
                    tr.append('<td>'+(!isNone(row[col]) ? val : '')+'</td>');
                }
            });
            tbody.append(tr);
        });

    }

    function reload() {

        DW.currentChart.dataset(function(ds) {
            DW.dataView = ds;
            updateTable(ds, DW.currentChart);
        }, true);
    }

    reload();

    $('#describe-proceed').click(function(e) {
        DW.currentChart.save();
    });

});

</script>

<div class="dw-create-describe">

    <div class="row">

        <div class="span8">
            <div class="page-header">
                <h2>{% trans "Check your data" %}</h2>
            </div>

            <p>{% trans "Please check if the data format was recognized correctly. If not, please <a data-toggle='modal' href='/xhr/docs/describe'>help Datawrapper to understand your data</a>." %}</p>


            <form class="form-inline">
                <div id="csv-parse-options" class="row">
                    <div class="span4">
                        
                        
                    </div>
                    <div class="span4">
                        
                    </div>
                </div>
            </form>

            <div style="overflow-x:scroll; overflow-y: visible; width:100%">
                <table id="data-preview" class="table table-striped">
                </table>
            </div>
        </div>

        <div class="span4">
            <div class="page-header">
                <h2>{% trans "Describe your data" %}</h2>
            </div>
            <div class="row" style="margin-bottom:15px">
                <div class="span2">
                    <p>
                        <label class="radio"><input type="radio" name="transpose" value="yes" /> {% trans "Data series in rows" %}</label>
                        <label class="radio"><input type="radio" name="transpose" value="no" /> {% trans "Data series in columns" %}</label>
                    </p>

                </div><div class="span2">
                    <p>
                        <label class="checkbox"><input id="has-horizontal-headers" type="checkbox" checked="checked"> {% trans "First row as label" %}</label>
                        <label class="checkbox"><input id="has-vertical-headers" type="checkbox"> {% trans "First column as label" %}</label>
                    </p>
                </div>
            </div>

            <h3>{% trans "Output number format" %}</h3>

            <p>
                <select id="number-format" class="select span2 number-format">
                    <option value="-">{% trans "keep original" %}</option>
                    {% for key, formats in numberformats %}
                    <optgroup label="{{ key }}">
                        {% for id, format in formats %}
                        <option value="{{ id }}">{{ format }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>

                <select class="span1 number-format" id="number-divisor">
                    <option value="0">-</option>
                    <option value="3">{% trans "thousand" %}</option>
                    <option value="6">{% trans "million" %}</option>
                    <option value="9">{% trans "billion" %}</option>
                </select>

                <input type="text" id="number-unit" placeholder="unit" class="span1 number-format" />
                <select class="span1 number-format" id="number-currency">
                    <option data-symbol="€" value="EUR|€">EUR</option>
                    <option data-symbol="£" value="GBP|£">GBP</option>
                    <option data-symbol="$" value="USD|$">USD</option>
                    <option data-symbol="¥" value="YEN|¥">YEN</option>
                </select>

            </p>

                {# <p>
                <label>{% trans "If possible, please specify the <i>number format</i>" %}</label>
                <select id="number-format">
                    <option value="en">{% trans "English (eg 1,234.56)" %}</option>
                    <option value="de">{% trans "German/French (eg 1.234,56)" %}</option>
                </select>
            </p> #}

            <h3>{% trans "Credit the source" %}</h3>
            <p>
                <label>{% trans "Who published the data in the first place?" %}</label>
                <input id="describe-source-name" type="text" placeholder="name of the organisation">
            </p>
            <p>
                <label>{% trans "If possible, please provide a link the source data" %}</label>
                <input id="describe-source-url" type="text" placeholder="http://">
            </p>
            <h3>{% trans "Annotate data" %}</h3>
            <p>{% trans "To make the data more useful for your readers you can add details to individual data points or an entire series. This information will be displayed in the visualisations." %} <a href="#">{% trans "Learn more" %}</a></p>
            <button class="btn"><i class="icon-th-list"></i> {% trans "Annotate series" %}</button> <button class="btn"><i class="icon-th"></i> {% trans "Annotate data point" %}</button>

            <div class="form-actions">
                <a href="visualize" class="pull-right btn btn-primary" id="describe-proceed">{% trans "Visualize" %} <i class="icon-chevron-right icon-white"></i></a>
                <a class="btn" href="upload"><i class="icon-chevron-left"></i> {% trans "Back" %}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">


        </div>
    </div>
</div>


{% endblock %}