{% extends "core.twig" %}

{% block content %}

<div class="row create-nav">
    {% for step in steps %}
        <div class="span3{% if createstep == step.index %} active{% else %}{% if createstep > step.index %} passed{% endif %}{% endif %}">
            {% if createstep > step.index or createstep != step.index and chart.lastEditStep >= step.index %}<a href="{{ step.id }}">{% endif %}
            {{ step.index }} {{ step.title }}
            {% if createstep > step.index or createstep != step.index and chart.lastEditStep >= step.index %}</a><i class="icon-ok"></i>{% endif %}
        </div>
    {% endfor %}
</div>

<script type="text/javascript">

(function($) {

    _.templateSettings = {
        interpolate : /\{\{(.+?)\}\}/g
    };

    $(function() {
        DW.currentChart = new Datawrapper.EditableChart(JSON.parse('{{ chart.toJSON|raw }}'));

        if (DW.currentChart.get('lastEditStep') < {{ createstep}}) {
            DW.currentChart.set('lastEditStep', {{ createstep }});
        }
    });

})(jQuery);


</script>


{% endblock %}