{% extends "chart-editor.twig" %}
{% block content %}

{{ parent() }}

<script type="text/javascript" src="/static/vendor/canvg/rgbcolor.js"></script>
<script type="text/javascript" src="/static/vendor/canvg/canvg.js"></script>

<script type="text/javascript">
$(function() {

    $('.status li').hide();
    var bar = $('.progress .bar'), current = $('.current');

    function publish_remote(cb) {
        var steps = [];
        steps.push({
            url: '/api/charts/{{ chart.id }}/publish/html',
            id: 'p1',
            progress: 20
        });
        steps.push({
            url: '/api/charts/{{ chart.id }}/publish/js',
            id: 'p2',
            progress: 35
        });
        steps.push({
            url: '/api/charts/{{ chart.id }}/publish/css',
            id: 'p3',
            progress: 50
        });
        steps.push({
            url: '/api/charts/{{ chart.id }}/publish/data',
            id: 'p4',
            progress: 65
        });
        function nextStep() {
            var step = steps.shift();
            current.html($('.'+step.id).data('current'));
            $.ajax({
                url: step.url,
                type: 'post',
                dataType: 'json',
                success: function(res) {
                    if (res.status == "ok") {
                        bar.width(step.progress+'%');
                        $('.'+step.id).fadeIn();
                        if (steps.length > 0) nextStep();
                        else {
                            current.html(current.data('finished'));
                            cb();
                        }
                    }
                }
            });
        }
        nextStep();
    }

    publish_remote(function() {
        var thumbs = {{ thumbnails | json | raw }}, tasks = [], i = 0, total;
        $.each(thumbs, function(id, size) { tasks.push([id, size[0], size[1]]); });
        i = 1;
        total = tasks.length;
        function next() {
            var task = tasks.shift();
            current.html($('.p5').data('current') + ' ('+i+'/'+total+')');
            snapshot(task[0], task[1], task[2], function() {
                bar.width((i/total*35 + 65)+'%');
                i += 1;
                if (tasks.length > 0) next();
                else {
                    bar.parent()
                        .removeClass('active')
                        .removeClass('progress-striped')
                        .addClass('progress-success');
                    $('.p5').fadeIn();
                    current.html(current.data('finished'));
                    current.removeClass('active');
                    setTimeout(function() {
                        location.href = 'publish';
                    }, 2000);
                }
            });
        }
        next();
    });


    function snapshot(id, width, height, callback) {
        // 1. make iframe and load chart
        var iframe = $('<iframe />');
        iframe.attr({
            src: '/chart/{{ chart.id }}/?innersvg=1'
        });
        iframe.css({
            position: 'absolute',
            top: 0,
            left: -4000,
            width: width+'px',
            height: (height)+'px'
        });
        $('body').append(iframe);
        // 2.
        var canvas = $('<canvas id="canvas" width="'+width+'px" height="'+height+'px"></canvas>')
        canvas.css({
            position: 'absolute',
            top: 0,
            left: -4000
        });
        $('body').append(canvas);

        function px(s) {
            return Math.floor(Number(s.substr(0, s.length-2)));
        }

        var triesLeft = 10,
            timer;

        timer = setInterval(function() {

            var body = iframe.get(0).contentDocument,
                s = (height-10)/height,
                ctx = canvas.get(0).getContext('2d');

            if ($('svg', body).get(0) !== undefined) clearInterval(timer);
            else {
                // try again
                if (triesLeft > 0) return;
                triesLeft--;
                // no svg found (after a while), so skip thumbnails
                clearInterval(timer);
                callback();
                return;
            };

            ctx.fillStyle = iframe.get(0).contentWindow.vis.theme.colors.background;
            ctx.fillRect(0, 0, width, height);

            ctx.drawSvg($('svg', body).get(0).innerSVG, 0.5,0.5, width, $('svg', body).height());

            //canvg('canvas', $('svg', body).get(0).innerSVG);
            /*$('.label', body).each(function(i, lbl) {
                lbl = $(lbl);
                var x = px(lbl.css('left')),
                    y = px(lbl.css('top'))+10,
                    txt = $('span', lbl).html();
                ctx.fillStyle = '#666';
                ctx.font = "9px Arial";
                ctx.fillText(txt, x+0.5, y+0.5);
            });*/
            var imgData = canvas.get(0).toDataURL("image/png");
            $('#thumbs').append('<img src="'+imgData+'"/>');
            $.ajax({
                url: '/api/charts/{{ chart.id }}/thumbnail/'+id,
                type: 'PUT',
                data: imgData,
                processData: false,
                dataType: 'json',
                success: function(res) {
                    if (res.status == "ok") callback();
                    else throw res;
                }
            })
        }, 200);

    }

    /*setTimeout(function() {

        snapshot(1200,600);
    },4000);*/
});

</script>
<style type="text/css">

h2 {
    margin-bottom: 20px;
}

.current {
    padding: 0px 10px 10px 35px;
    font-weight: bold;
}

.current.active {
    background: url(/static/img/ajax-loader.gif) 10px 0px no-repeat;
}

#thumbs img {
    border: 1px solid #ccc;
    margin: 10px;
    vertical-align: top;
}

.status li {
    margin-bottom: 5px;
    font-style: italic;
    margin-left: 35px;
    color: #aaa;
}

</style>

<div class="dw-create-publish">
    <div class="row">
        <div class="span6">

            {% if user.isAbleToPublish %}

            <h2>{% trans "Publishing chart..." %}</h2>

            <p>{% trans "Please hold on a second while your chart is being published. Try not to close this page.." %}</p>

            <div class="progress progress-striped active">
                <div class="bar" style="width: 5%;"></div>
            </div>

            <div class="current active" data-finished="{% trans "Finished." %}" >

            </div>

            <ul class="status unstyled">
                <li data-current="{% trans "Generating static HTML page" %}" class="p1">
                    {% trans "Generated static HTML page" %}
                </li>
                <li data-current="{% trans "Packing and crunching JavaScript" %}" class="p2">
                    {% trans "Packed and minified JavaScript" %}
                </li>
                <li data-current="{% trans "Packing and crunching stylesheets" %}" class="p3">
                    {% trans "Packed and minified stylesheets" %}
                </li>
                <li data-current="{% trans "Publishing chart data" %}" class="p4">
                    {% trans "Published chart data" %}
                </li>
                <li data-current="{% trans "Generating chart thumbnails" %}" class="p5">
                    {% trans "Generated Thumbnails" %}
                </li>
            </ul>
            {% endif %}
        </div>
        <div id="thumbs" class="span6">
            
        </div>
    </div>


</div>


{% endblock %}