

{% block chartMenuHTML %}
    <div id="chartMenuShareOverlay"></div>
    <div id="chartMenuShare">
        Share this chart on Twitter
    </div>
    <div class="chartMenuHandle"></div>
    <div class="chartMenuContWrap">
        <div class="chartMenuCont menuSeen">
            <div class="chartMenu">
                <a href="{{ DW_CHART_URL }}" target="_blank" title="{% trans "Fullscreen" %}" data-toggle="fullscreen"><i class="icon-fullscreen"></i> {% trans "Fullscreen" %}</a>
                <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data" title="{% trans "Get the data" %}"><i class="icon-download"></i> {% trans "Data" %}</a>
                <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data" title="{% trans "Share this chart" %}"><i class="icon-share"></i> {% trans "Share" %}</a>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block chartMenuCSS %}
    <style type="text/css">

    body {
        position: relative;
        overflow: hidden!important;
    }

    #chartMenuShareOverlay {
        background: #eee;
        opacity: 0.75;
        position: absolute;
        left: -1000px;
        top: -1000px;
        height: 3000px;
        width: 3000px;
        z-index: 5000;
    }

    #chartMenuShare {
        position: absolute;
        top: -200px;
        width: 300px;
        height: 100px;
        z-index: 5001;
        background: #fff;
        box-shadow: 0 0 30px #aaa;
        border-radius: 10px;
    }

    .chartMenuContWrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 40px;
        overflow: hidden;
    }

    .chartMenuCont {
        position: absolute;
        z-index: 1010000000!important;
        bottom: -40px;
        left: 0;
        right: 0;
        opacity: 1;
    }

    .chartMenuHandle {
        position: absolute;
        bottom: 0;
        left: 33%;
        right: 33%;
        height: 30px;
        z-index: 5000;
    }

    .chartMenu {
        text-align: center;
        display: block;
        width: 250px;
        margin: 0 auto;
        height: 32px;
        background: #fff;
        padding: 2px 9px 4px 9px;
        border-radius: 8px 8px 0 0 ;
        box-shadow: 0px 0px 5px #999;
    }

    .fullscreen .chartMenu {
        display: none;
    }

    .chartMenu a {
        line-height: 32px;
        text-decoration: none!important;
        color: #888;
        font-size: 14px;
        padding: 0 5px;
        font-weight: 300;
        text-transform: none!important;
    }

    .chartMenu a:hover {
        color: #000;
    }

    .chartMenu a i {
        vertical-align: baseline;
    }

    .chartMenu a i.icon-fullscreen {
        vertical-align: middle;
    }

    a:hover .icon-fullscreen, a:hover .icon-share, a:hover .icon-download {
        opacity: 1;
    }

    .icon-fullscreen, .icon-share, .icon-download {
        background-image: url(//assets-datawrapper.s3.amazonaws.com/chart-icons-small.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 6px;
        opacity: 0.5;
        cursor: pointer;
    }

    .icon-fullscreen:hover, .icon-share:hover, .icon-download:hover {
        opacity: 0.8;
    }

    .icon-fullscreen {
        width: 16px;
        height: 15px;
        background-position: 0 0;
    }

    .icon-share {
        width: 17px;
        height: 15px;
        background-position: -32px 0;
    }

    .icon-download {
        width: 14px;
        height: 15px;
        background-position: -17px 0;
    }

    </style>
{% endblock %}



{% block chartMenuJS %}
    <script type="text/javascript">
    $(function() {

        function initializeChartMenu() {

            var chartMenuCont = $('.chartMenuCont'),
                chartMenuContWrap = $('.chartMenuContWrap'),
                focusHandle = $('.chartMenuHandle');

            function showMenu() {
                if (chartMenuCont.data('status') != 'shown') {
                    chartMenuCont.stop().animate({
                        bottom: -5
                    }, 300);
                    chartMenuCont.data('status', 'shown');
                    focusHandle.hide();
                    chartMenuContWrap.show();
                }
            }

            function hideMenu() {
                if (chartMenuCont.data('status') == 'shown') {
                    chartMenuCont.stop().animate({
                        bottom: -40
                    }, 200);
                    setTimeout(function() { chartMenuContWrap.hide() }, 200);
                    chartMenuCont.data('status', 'hidden');
                    focusHandle.show();
                }
            }

            $('.chart').on('mouseenter', function() {
                $('.chart').off('mouseenter');
                hideMenu();
            });

            showMenu();

            focusHandle.on('mouseenter', showMenu);
            chartMenuContWrap.on('mouseleave', hideMenu);
        }

        initializeChartMenu();
    });

    </script>
{% endblock %}




{% block chartMenu %}

    {{ block('chartMenuHTML') }}
    {{ block('chartMenuCSS') }}
    {{ block('chartMenuJS') }}

{% endblock %}