<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ chart.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="/static/vendor/json-js/json2.min.js"></script>
    <script type="text/javascript">
    </script>
    <![endif]-->
    {% if innersvg %}
    <script type="text/javascript" src="/static/vendor/innersvg/innersvg.js"></script>
    <style>
        body { padding: 0!important;}
    </style>
    {% endif %}
{% for src in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ src }}"></link>
{% endfor %}

{% for src in scripts %}
    <script type="text/javascript" src="{{ src }}"></script>
{% endfor %}
    <script type="text/javascript">

    // fullscreen
(function(){var a={supportsFullScreen:!1,nonNativeSupportsFullScreen:!1,isFullScreen:function(){return!1},requestFullScreen:function(){},cancelFullScreen:function(){},fullScreenEventName:"",prefix:""},b="webkit moz o ms khtml".split(" ");if(typeof document.cancelFullScreen!="undefined")a.supportsFullScreen=!0;else for(var c=0,d=b.length;c<d;c++){a.prefix=b[c];if(typeof document[a.prefix+"CancelFullScreen"]!="undefined"){a.supportsFullScreen=!0;break}}a.supportsFullScreen?(a.fullScreenEventName=a.prefix+"fullscreenchange",a.isFullScreen=function(){switch(this.prefix){case"":return document.fullScreen;case"webkit":return document.webkitIsFullScreen;default:return document[this.prefix+"FullScreen"]}},a.requestFullScreen=function(a){return this.prefix===""?a.requestFullScreen():a[this.prefix+"RequestFullScreen"]()},a.cancelFullScreen=function(a){return this.prefix===""?document.cancelFullScreen():document[this.prefix+"CancelFullScreen"]()}):typeof window.ActiveXObject!="undefined"&&(a.nonNativeSupportsFullScreen=!0,a.requestFullScreen=a.requestFullScreen=function(a){var b=new ActiveXObject("WScript.Shell");b!==null&&b.SendKeys("{F11}")},a.isFullScreen=function(){return document.body.clientHeight==screen.height&&document.body.clientWidth==screen.width}),typeof jQuery!="undefined"&&(jQuery.fn.requestFullScreen=function(){return this.each(function(){a.supportsFullScreen&&a.requestFullScreen(this)})}),window.fullScreenApi=a})()

    </script>
    <script type="text/javascript">
    $(function() {

        function loadChart() {
            // clean chart
            $('#chart').html('');
            // initialize theme
            var theme = Datawrapper.Themes.{{ theme.id | classify }};
            // initialize chart
            var chart = new Datawrapper.Chart(JSON.parse('{{ chart.toJSON | raw }}'));
            // initliaze visualization
            var vis = new Datawrapper.Visualizations.{{ visualization.id | classify }}();

            vis.setTheme(theme);

            chart.setLocale('{{ chartLocale }}', {{ metricPrefix | json | raw }});

            vis.load(chart, function() {
                vis.render('#chart');
            });
            window.vis = vis;
        }

        loadChart();

        var reload_timer;
        if (!$.browser.msie && navigator.userAgent.match(/iPad/i) == null) {
            // IE continuosly reloads the chart for some strange reasons
            $(window).resize(function() {
                if (reload_timer) clearTimeout(reload_timer);
                reload_timer = setTimeout(function() {
                    loadChart();
                }, 300);
            });
        }

        $("a[data-toggle='fullscreen']").click(function(e) {
            e.preventDefault();
            $('.chart').requestFullScreen();
        });
    });
    </script>
</head>
<body class="chart">
    {# some convenient short cuts for theme templates #}
    {% set title = chart.title %}{% set intro = chart.metadata.describe.intro %}{% set source = chart.metadata.describe['source-name'] %}{% set sourceURL = chart.metadata.describe['source-url'] %}

    {% include theme.hasTemplate ? 'themes/' ~ theme.id ~ '.twig' : 'themes/default.twig' %}

    {% use "tracking.twig" %}{{ block('piwik') }}
</body>
</html>