<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ chart.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="/static/vendor/json-js/json2.min.js"></script>
    <script type="text/javascript">
    </script>
    <![endif]-->
    {% if innersvg %}
    <script type="text/javascript" src="/static/vendor/innersvg/innersvg.js"></script>
    <style>
        body { padding: 0!important;}
    </style>
    {% endif %}
{% for src in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ src }}"></link>
{% endfor %}

{% for src in scripts %}
    <script type="text/javascript" src="{{ src }}"></script>
{% endfor %}
    <script type="text/javascript">
    $(function() {
        // initialize theme
        var theme = Datawrapper.Themes.{{ theme.id | classify }};
        // initialize chart
        var chart = new Datawrapper.Chart(JSON.parse('{{ chart.toJSON | raw }}'));
        // initliaze visualization
        var vis = new Datawrapper.Visualizations.{{ visualization.id | classify }}();

        vis.setTheme(theme);
        chart.setLocale('{{ chartLocale }}', {{ metricPrefix | json | raw }});
        vis.load(chart, function() {
            vis.render('#chart');
        });
        window.vis = vis;
        var reload_timer;
        if (!$.browser.msie && navigator.userAgent.match(/iPad/i) == null) {
            // IE continuosly reloads the chart for some strange reasons
            $(window).resize(function() {
                if (reload_timer) clearTimeout(reload_timer);
                reload_timer = setTimeout(function() {
                    location.reload();
                }, 300);
            });
        }
    });
    </script>
</head>
<body class="chart">
    {# some convenient short cuts for theme templates #}
    {% set title = chart.title %}{% set intro = chart.metadata.describe.intro %}{% set source = chart.metadata.describe['source-name'] %}{% set sourceURL = chart.metadata.describe['source-url'] %}

    {% include theme.hasTemplate ? 'themes/' ~ theme.id ~ '.twig' : 'themes/default.twig' %}

    {% use "tracking.twig" %}{{ block('piwik') }}
</body>
</html>