<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{ chart.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="/static/vendor/json-js/json2.min.js"></script>
    <script type="text/javascript">
    </script>
    <![endif]-->
    {% if innersvg %}
    <script type="text/javascript" src="/static/vendor/innersvg/innersvg.js"></script>
    <style>
        body { padding: 0!important;}

    </style>
    {% endif %}

    {# markup for twitter cards #}
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@datawrapper">
    <meta name="twitter:url" content="https://c-datawrapper.s3.amazonaws.com/{{ chart.id }}/index.html">
    <meta name="twitter:title" content="{{ chart.title }}">
    <meta name="twitter:description" content="{{ chart.metadata.describe.intro }}">
    <meta name="twitter:image" content="http://c-datawrapper.s3.amazonaws.com/{{ chart.id }}/m.png">
    <meta name="twitter:player" content="https://c-datawrapper.s3.amazonaws.com/{{ chart.id }}/plain.html">
    <meta name="twitter:player:width" content="435">
    <meta name="twitter:player:height" content="251">

{% for src in stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ src }}"></link>
{% endfor %}

    <style type="text/css">

        /*
         * FULLSCREEN CSS
         */

        html body.chart.fullscreen {
            margin: 0;
            padding: 50px 100px;
            width: 100%;
            overflow: hidden;
        }

        #header {
            min-height: 1px;
            position: relative;
        }

        #footer {
            min-height: 1px;
            position: absolute;
            bottom: 0;
            left:0;
            right:0;
            height: 25px;
        }

        .fullscreen h1 {
            font-size: 36px;
            margin: 0 0 30px;
        }

        .fullscreen p {
            font-size: 15px;
        }

        .fullscreen .logo {
            right: 100px;
        }

        .fullscreen .label span {
            font-size: 15px;
        }

        .fullscreen #footer {
            font-size: 13px;
            line-height: 20px;
            height: 40px;
            margin: 0 0px 20px 100px;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .footer-left, .footer-right {
            position: absolute;
            bottom: 5px;
            z-index: 1000;
        }

        .footer-left {
            left: 5px;
        }

        .footer-right {
            right: 5px;
        }

        .fullscreen .footer-right {
            right: 100px;
        }

        .logo {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .fullscreen .fs-btn {
            display: none!important;
        }

        .fs-btn {
            width: 24px;
            height: 24px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAAA3NCSVQICAjb4U/gAAAABlBMVEWxsbH////8JldWAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAYdEVYdENyZWF0aW9uIFRpbWUAMTMuMTIuMjAxMnLzWo0AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAANklEQVQImWNgqGNgYPjPwMD4vwFMg/lQMcX/LQzF/88x/P//Hysu/v8OqOYIUC1Qbz1CH5JZACUFJoZujXhwAAAAAElFTkSuQmCC);
            opacity: 0.5;
            cursor: pointer;
            display: none;
        }

        .fs-btn.small {
            width: 18px;
            height: 18px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAQMAAABsABwUAAAAA3NCSVQICAjb4U/gAAAABlBMVEWxsbH////8JldWAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAYdEVYdENyZWF0aW9uIFRpbWUAMTMuMTIuMjAxMnLzWo0AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAKUlEQVQImWNgfMDAwPwBgmFs9h8MDO//NjD8/38ABef/PQCWQ1YLZQMAx8MaxZ/JdpAAAAAASUVORK5CYII=);
        }

        .chart:hover .fs-btn {
            display: block;
        }

        .fs-btn:hover {
            opacity: 1;
        }

        .fs-btn.top-right {
            position: absolute;
            top: 4px;
            right: 4px;
        }

    </style>

{% for src in scripts %}
    <script type="text/javascript" src="{{ src }}"></script>
{% endfor %}
    <script type="text/javascript">

    // fullscreen
(function(){var a={supportsFullScreen:!1,nonNativeSupportsFullScreen:!1,isFullScreen:function(){return!1},requestFullScreen:function(){},cancelFullScreen:function(){},fullScreenEventName:"",prefix:""},b="webkit moz o ms khtml".split(" ");if(typeof document.cancelFullScreen!="undefined")a.supportsFullScreen=!0;else for(var c=0,d=b.length;c<d;c++){a.prefix=b[c];if(typeof document[a.prefix+"CancelFullScreen"]!="undefined"){a.supportsFullScreen=!0;break}}a.supportsFullScreen?(a.fullScreenEventName=a.prefix+"fullscreenchange",a.isFullScreen=function(){switch(this.prefix){case"":return document.fullScreen;case"webkit":return document.webkitIsFullScreen;default:return document[this.prefix+"FullScreen"]}},a.requestFullScreen=function(a){return this.prefix===""?a.requestFullScreen():a[this.prefix+"RequestFullScreen"]()},a.cancelFullScreen=function(a){return this.prefix===""?document.cancelFullScreen():document[this.prefix+"CancelFullScreen"]()}):typeof window.ActiveXObject!="undefined"&&(a.nonNativeSupportsFullScreen=!0,a.requestFullScreen=a.requestFullScreen=function(a){var b=new ActiveXObject("WScript.Shell");b!==null&&b.SendKeys("{F11}")},a.isFullScreen=function(){return document.body.clientHeight==screen.height&&document.body.clientWidth==screen.width}),typeof jQuery!="undefined"&&(jQuery.fn.requestFullScreen=function(){return this.each(function(){a.supportsFullScreen&&a.requestFullScreen(this)})}),window.fullScreenApi=a})()

    </script>
    <script type="text/javascript">
    $(function() {

        function loadChart() {
            // clean chart
            $('#chart').html('');
            $('#header .legend').remove();
            //$('.container').height($(window).height());
            // initialize theme
            var theme = Datawrapper.Themes.{{ theme.id | classify }};
            // initialize chart
            var chart = new Datawrapper.Chart(JSON.parse('{{ chart.toJSON | raw }}'));
            chart.setLocale('{{ chartLocale }}', {{ metricPrefix | json | raw }});

            // initliaze visualization
            var vis = new Datawrapper.Visualizations.{{ visualization.id | classify }}();

            // compute chart dimensions
            var w = $('#chart').innerWidth(),
                h = vis.getMaxChartHeight($('#chart'));
            if (w <= 350) {  // no padding for thumbnails
                theme.vpadding = 10;
                theme.hpadding = 0;
            }
            if ($.browser.msie) w -= 10; // IE Fix
            w -= $('body').css('padding-left').replace('px', '');
            w -= $('body').css('padding-right').replace('px', '');

            vis.setTheme(theme).setSize(w - theme.hpadding*2, h - theme.vpadding);

            vis.load(chart, function() {
                vis.render('#chart');
            });
            window.vis = vis;
        }

        loadChart();

        var reload_timer;
        if (!$.browser.msie && navigator.userAgent.match(/iPad/i) == null) {
            // IE continuosly reloads the chart for some strange reasons
            $(window).resize(function() {
                if (reload_timer) clearTimeout(reload_timer);
                reload_timer = setTimeout(function() {
                    loadChart();
                }, 300);
            });
        }


        var isFullScreen = false;

        $(window).bind('resize', function() {

            if (isFullScreen != fullScreenApi.isFullScreen()) { // video fullscreen mode has changed
                isFullScreen = fullScreenApi.isFullScreen();

                if (isFullScreen) {
                    $('.chart').addClass('fullscreen');
                    // you have just ENTERED full screen video
                } else {
                    $('.chart').removeClass('fullscreen');
                    // you have just EXITED full screen video
                }
            }
        });

        $("a[data-toggle='fullscreen']").click(function(e) {
            if (fullScreenApi.supportsFullScreen) {
                e.preventDefault();
                $('.chart').requestFullScreen();
            }
        });

    });
    </script>
</head>
<body class="chart{% if fullscreen %} fullscreen{% endif %}">
    {# some convenient short cuts for theme templates #}
    {% set title = chart.title %}{% set intro = chart.metadata.describe.intro %}{% set source = chart.metadata.describe['source-name'] %}{% set sourceURL = chart.metadata.describe['source-url'] %}

    {% include theme.hasTemplate ? 'themes/' ~ theme.id ~ '.twig' : 'themes/default.twig' %}

    {{ trackingCode | raw }}
</body>
</html>