<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datawrapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Datawrapper is an open source tool helping everyone to create simple, correct and embeddable charts in minutes.">
    <meta name="author" content="Mirko Lorenz, Nicolas Kayser-Bril, Gregor Aisch">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />

    <!-- Le styles -->
    <link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
   <!-- <link href="/static/vendor/bootstrap/css/bootstrap-datawrapper-2.css" rel="stylesheet">-->
    <!-- <link href="/static/vendor/fontawesome/css/font-awesome.css" rel="stylesheet"> -->
    <style>
      body {
        padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/datawrapper.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/static/vendor/json-js/json2.min.js"></script>
      <link href="/static/css/datawrapper-ie.css" rel="stylesheet">
    <![endif]-->

    {% if config.custom_css %}<link href="/static/custom/{{ config.custom_css }}" rel="stylesheet">{% endif %}

    <script type="text/javascript" src="/static/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/vendor/cryptojs/hmac-sha256.js"></script>
    <script type="text/javascript" src="/static/vendor/globalize/globalize.js"></script>
    <script type="text/javascript" src="/static/vendor/globalize/cultures/globalize.culture.{{ locale | replace({'_':'-'}) }}.js"></script>
    <script type="text/javascript" src="/static/js/datawrapper-backend-{{ DW_VERSION }}.min.js"></script>

    {% for js in plugin_js %}
    <script type="text/javascript" src="/static/plugins/{{ js }}"></script>
    {% endfor %}{% for css in plugin_css %}
    <link href="/static/plugins/{{ css }}" rel="stylesheet">
    {% endfor %}

  </head>


  <body class="dw {{ pageClass }} {{ language }}">


    <div class="container">

      {% if not noHeader %}

      <header class="header">
        <div class="row topnav">
            <!--<div class="span3">
              <div class="dw-logo-type dw-logo"><i class="wrap">[&nbsp;</i><a href="/">Datawrapper</a><i class="wrap">&nbsp;]</i></div>
              <div class="dw-logo-sub">{% trans "Open Source Data Visualization" %}</div>
            </div>-->

            {% use "login.twig" %}
            {{ block('login') }}

            {% use "header.twig" %}
            {{ block('header') }}
        </div>

      </header>

      {% endif %}

    <!--[if lt IE 9]>
    <div style="position:relative">
        <div id="disclaimer" class="alert alert-warning span8 offset2" style="font-size:14px;line-height:22px" style="color:#821">
            <h3>{% trans "Your browser is not supported" %}</h3>
            <p>{% trans "You are using a browser that is not supported at the moment. Please use one of the following browsers instead. Note that this only applies to the chart editor. The charts itself can be viewed with any major browser." %}</p>

            <div style="text-align:center">
                <a href="http://mozilla.org/firefox/" title="Firefox" class="browser firefox"></a>
                <a href="http://google.com/chrome" title="Chrome" class="browser chrome"></a>
                <a href="http://www.opera.com/" title="Opera" class="browser opera"></a>
                <a href="http://www.apple.com/safari/" title="Safari" class="browser safari"></a>
                <a href="http://windows.microsoft.com/en-US/internet-explorer/help/ie-9/9-reasons-to-get-internet-explorer-9" title="Internet Explorer 9.0" class="browser msie"></a>
            </div>
        </div>
    </div>
    <![endif]-->


      {{ block('content') }}


    {% if not noFooter %}
      <footer class="footer">

        <p class="pull-right" style="text-align:right">
          <a href="#top">{% trans "Back to top" %}</a>
          <span class="version">version <a href="https://github.com/datawrapper/datawrapper/blob/master/CHANGELOG.md#{{ DW_VERSION | replace({ '.': '' }) }}">{{ DW_VERSION }}</a> {{ BRANCH }}</span>
        </p>

        <p>{% trans %}
          Datawrapper is an <a href="http://github.com/datawrapper/datawrapper">open source</a> project by <a href="http://abzv.de">ABZV</a> - a German training institution for newspaper journalists.
          {% endtrans %}
        </p>
        {% if config.footer_links %}
        <div class="footer-links">
          {% for link in config.footer_links %}
            <a href="{{ link.url | replace({'%lang': language }) }}">{{ link.title[language] }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </footer>
    {% endif %}

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap-modal-xhr.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap-collapse.js"></script>
    <script type="text/javascript">

$(function() {
  Datawrapper.Core.initialize();
  DW.__chartCacheDomain = '{{ DW_CHART_CACHE_DOMAIN }}';
  DW.__domain = '{{ DW_DOMAIN }}';
});
    </script>
    {% use "messages.twig" %}
    {{ block('messages') }}

    {{ hook('after_core_body') }}
  </body>
</html>