
{% extends xhr ? "modal.twig" : "core.twig" %}
{% use "utils.twig" %}

{% block title %}{% if not xhr %}- {% endif %}{{ title }}{% endblock %}
{% block content %}

{% if not xhr %}

{{ block('alert') }}

<div class="row docs">
    <div class="span8 content">

        {# <ul class="breadcrumb">
            {% for page in breadcrumb %}
                <li {% if page.active %}class="active"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a>{% if not page.active %} <span class="divider">/</span>{% endif %}</li>
            {% endfor %}
        </ul> #}

        <h1 class="title">{{ title }}</h1>

        {{ block('docscontent') }}

    </div>
    <div class="span4 nav">

        <h3>{% trans "Navigation" %}</h3>

        <ul class="nav nav-pills nav-stacked">
            {% for page in navigation %}
            <li {% if page.active %}class="active"{% endif %}><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

    </div>
</div>

{% else %} {# just the text w/o navigation for modal popups #}

    {{ block('docscontent') }}

{% endif %}

{{ parent() }}
{% endblock %}

