{% extends "core.twig" %}

{% block content %}

<script type="text/javascript" src="{{workflow.path_js}}"></script>
<link rel="stylesheet" type="text/css" href="{{workflow.path_css}}">

<div class="svelte-editor-base" id="svelte-workflow-{{ workflow.id }}"></div>

<script type="text/javascript">

require(['{{workflow.module}}'], function(mod) {

    var App = mod.App,
        data = _.extend({
            active: {{chart.lastEditStep}},
            maxStep: {{chart.lastEditStep}},
        step: '{{step}}',
        visualization: {{vis|json|raw}}
        }, mod.data || {}, {{ twig_data | json | raw }});

    var chart = new mod.Chart({{chart.toStruct()|json|raw}});

    chart.set({writable: true});
    chart.set({themeData: {{theme.themeData|json|raw}});

    chart.on('state', ({changed, current}) => {
        // load theme
    })

    window.history.replaceState({}, '', '/edit/{{chart.id}}/{{step}}');

    // store.set({
    //     chartJSON: {{chart.toStruct()|json|raw}},
    //     userJSON: {{user.toArray()|json|raw}},
    //     language: '{{language}}'
    // });

    var app = mod.app = new App({
        store: chart,
        target: document.querySelector('#svelte-workflow-{{ workflow.id }}'),
        data: data
    });
});
</script>


{% endblock %}
