{% extends "core.twig" %}

{% block content %}
<div class="docs">
    <h1 class="title">{% trans "Chart Gallery" %} <small>{% trans "See what others create with Datawrapper recently" %}</small></h1>
</div>
<div class="row">
    <div class="span3">
        <p>{% trans "Welcome to the public gallery of Datawrapper charts. Here you can see the nice charts that other users have created recently. Click on the charts to see the interactive version." %}</p>
        <p>{% trans "1" %}</p>
        <p>{% trans "2" %}</p>
        <h3>Most active users</h3>
        <ul>
            <li>Guardian</li>
        </ul>
    </div>
    <div class="span9 gallery">



        <ul class="thumbnails">
            {% for chart in charts %}
            <li class="span3 chart" data-id="{{ chart.id }}">
                <div class="thumbnail">
                    <h3 style="color:{{ chart.metadata.publish.text }};text-shadow:2px 2px 2px {{ chart.metadata.publish.background }}">{{ chart.title }}</h3></a>

                    <a href="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}"><img src="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png" width="260" alt="" style="background:{{ chart.metadata.publish.background }}">

                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="span3 gallery-filter" style="position:relative;left: 30px">
        <h2>{% trans "By Month" %}</h2>

        <ul class="unstyled">
            {% for month in bymonth %}
            {% if key == 'month' and val == month.id %}
            <li class="active"><a href="/gallery/"><i class="icon-check"></i> {{ month.name }} </a> ({{ month.count }}) </li>
            {% else %}
            <li><a href="/gallery/by/month/{{ month.id }}">{{ month.name }}</a> ({{ month.count }})</li>
            {% endif %}
            {% endfor %}
        </ul>

        <h2>{% trans "By Visualisation" %}</h2>

        <ul class="unstyled">
            {% for vis in byvis %}
            {% if key == 'vis' and val == vis.id %}
            <li class="active"><a href="/gallery/"><i class="icon-check"></i> {{ vis.name }} </a> ({{ vis.count }}) </li>
            {% else %}
            <li><a href="/gallery/by/vis/{{ vis.id }}">{{ vis.name }}</a> ({{ vis.count }})</li>
            {% endif %}
            {% endfor %}
        </ul>

        <h2>{% trans "By Layout" %}</h2>

        <ul class="unstyled">
            {% for layout in bylayout %}
            {% if key == 'layout' and val == layout.id %}
            <li class="active"><a href="/gallery/"><i class="icon-check"></i> {{ layout.name }} </a> ({{ layout.count }}) </li>
            {% else %}
            <li><a href="/gallery/by/layout/{{ layout.id }}">{{ layout.name }}</a> ({{ layout.count }})</li>
            {% endif %}

            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/static/vendor/masonry/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
  //*

  function layout() {
      /*$('.gallery .thumbnails').masonry({
        itemSelector : 'li',
        columnWidth : function(w) { return w/3; }
      });
*/
  }

  layout();

  setTimeout(layout, 1000);
   // */

});

$('body').load(function() {

});

</script>

{{ parent() }}
{% endblock %}