{% extends "core.twig" %}

{% block content %}

<div class="docs">
   {% if pager.first != pager.last %}
    <div class="pagination pull-right" style="position:relative;top:-16px">
        <ul>
            <li {% if pager.first == pager.current %}class="disabled"{% endif %}>
                <a href="?page={{ pager.first }}">«</a>
            </li>
            {% for pg in pager.pages %}
                <li {% if pg == pager.current %}class="active" {% endif %}>
                    <a href="?page={{ pg }}">{{ pg + 1 }}</a></li>
            {% endfor %}
            <li {% if pager.last == pager.current %}class="disabled"{% endif %}>
                <a href="?page={{ pager.last }}">»</a>
            </li>
        </ul>
    </div>
    {% endif %}

    <h1 class="title">{% trans "Chart Gallery" %} <small>{% trans "See what others created with Datawrapper recently" %}</small></h1>
</div>
<div class="row">
    <div class="span3">
        <p>{% trans "Welcome to the public gallery of Datawrapper charts. Here you can see the nice charts that other users have created recently. Click on the charts to see the interactive version." %}</p>

        <div class="gallery-filter">
            <h3>{% trans "By Visualisation" %}</h3>

            <ul class="unstyled">
                {% for vis in byvis %}
                {% if key == 'vis' and val == vis.id %}
                <li class="active"><a href="/gallery/">{{ vis.name }} </a> ({{ vis.count }}) </li>
                {% else %}
                <li><a href="/gallery/by/vis/{{ vis.id }}">{{ vis.name }}</a> ({{ vis.count }})</li>
                {% endif %}
                {% endfor %}
            </ul>

            <h3>{% trans "By Month" %}</h3>

            <ul class="unstyled">
                {% for month in bymonth %}
                {% if key == 'month' and val == month.id %}
                <li class="active"><a href="/gallery/">{{ month.name }} </a> ({{ month.count }}) </li>
                {% else %}
                <li><a href="/gallery/by/month/{{ month.id }}">{{ month.name }}</a> ({{ month.count }})</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>


    </div>
    <div class="span9 gallery">

        <ul class="thumbnails">
            {% for chart in charts %}
            <li class="span3 chart" data-id="{{ chart.id }}">
                <div data-id="{{ chart.id }}" data-bg="{{ chart.metadata.publish.background }}" data-w="{{ chart.metadata.publish['embed-width'] }}" data-h="{{ chart.metadata.publish['embed-height'] }}" class="thumbnail">
                    <h3><a href="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/" style="color:{% if  chart.metadata.publish.text %}{{ chart.metadata.publish.text }}{% else %}#000{% endif %};text-shadow:1px 1px 3px {% if  chart.metadata.publish.background %}{{ chart.metadata.publish.background }}{% else %}#fff{% endif %};">{{ chart.title }}</a></h3>

                    <a href="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/" >
                        <img src="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png" width="260" alt="" style="background:{{ chart.metadata.publish.background }}"></a>

                </div>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>


<script type="text/javascript" src="/static/vendor/overlay/ender.overlay.js"></script>
<script type="text/javascript">
$(function(){

    $('.thumbnail a').click(function(e) {
        e.preventDefault();

        var a = $(e.target).parents('.thumbnail'),
            id = a.data('id'),
            chartIframe = $('<iframe src="http://{{ DW_CHART_CACHE_DOMAIN }}/' + id + '"></iframe>'),
            overlay = chartIframe.overlay();
        chartIframe.css({
            width: a.data('w'),
            height: a.data('h'),
            'border-radius': 10,
            border: '10px solid '+(a.data('bg') || '#fff')
        });
        console.log(a, id);
        overlay.open();

    });

});

</script>

{{ parent() }}
{% endblock %}