{% block header %}


        
        <div class="span9 toplinks">

            <div class="pull-right">
                <ul class="nav nav-pills dw-header-nav">

                {% for link in headlinks %}

                    {% if link.dropdown %}

                        <li class="{{ link.id }} dropdown">
                            <a id="dw-header-link-{{ link.id }}" href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-{{ link.icon }}"></i>
                                {{ link.title }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% for slink in link.dropdown %}
                                <li><a href="{{ slink.url }}">{%if slink.icon %}<i class="icon-{{ slink.icon }}"></i> {% endif %}{{ slink.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    {% else %}

                        <li class="{{ link.id }}{% if link.active %} active{% endif %}">
                            <a id="dw-header-link-{{ link.id }}" href="{{ link.url }}"{% if link.modal %} data-toggle="modal"{% endif %}>
                               <i class="icon-{{ link.icon }}{% if link.active %} icon-white{% endif %}"></i>
                               {{ link.title }}
                            </a>
                        </li>

                    {% endif %}

                {% endfor %}
                </ul>
            </div>

        </div>


{% endblock %}