{% use "utils.twig" %}

{% extends "core.twig" %}


{% block content %}


<div class="docs">
    <div class="pull-right" style="position:relative;top:-16px">
        {{ block('pagination') }}
    </div>
    <h1 class="title">
        {% if user2 %}
            {{ "Charts by %s" | trans | replace({'%s': user2.email }) }}
{#         {% else %}
            {% trans "My Charts" %} #}
        {% endif %}
    </h1>
</div>

<style type="text/css">

body {
    background: #f3f3f3;
}

html .navbar .navbar-inner {
    background: white;
}

.gallery-filter {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

.gallery-filter h1 { margin-top: 0; }
.gallery-filter a { cursor: pointer; }

.gallery-filter .folder-line { align-self: flex-start; }
.gallery-filter form { margin-left: auto; }
.gallery-filter form .btn-group { margin-left: 10px; }

.folders-and-gallery { display: flex; }
.folders-and-gallery .folders { flex: 1 0 0; }
.folders-and-gallery .gallery { flex: 3 0 0;}

.folders ul {
    list-style-type: none;
    margin-left: 0;
}

.folders ul ul { margin-left: 1em; }
.folders li { line-height: 20px; font-size: 18px;}
.folders li.active { }
.folders li.active a { font-weight: bold; color: black; }
.folders li a {
    cursor: pointer;
    margin-right: 1em;
}
.folder-line {
    border-bottom:1px solid #ddd;
    margin-bottom: 40px;
}
h1#current-folder {
    font-size: 26px;
}
#current-folder .dropdown-menu .dropdown-menu {
    top: -6px;
    margin: 0px;
    padding: 1px;
}
#current-folder .dropdown-menu .move-links {
    top: -2px;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    margin-top: -6px;
}
#folder-sequence .sep {
    display: inline-block;
    margin-left: 10px;
    margin-right: 14px;
    color: #999;
}
.folder-list-separator { display: none; }
@media (min-width: 1200px) {
    .span2 { width: 191px;  }
}

.gallery .thumbnail h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-top:10px;
    height:40px;
    margin-bottom:0;
    -webkit-line-clamp: 2;
    display: block;
    display: -webkit-box;
}

.gallery .subfolders {
}
.gallery .subfolders {
    margin-bottom: 0px;
}
.gallery .subfolders .thumbnail {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}
.gallery .subfolders .thumbnail .fa {
    color: #999;
}
div.folders > ul {
    margin-bottom: 40px;
}
div.folders ul > li {
    position: relative;
    margin: 0 0 15px;
}
div.folders ul > li > a > .fa {
    color: #999;
    position: absolute;
    left:0px;
    top:3px;
}
div.folders ul > li > a > span {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
}
div.folders li > a > span .chart-count {
    color: #999;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}
.thumbnails.subfolders li {
    position: relative;
}
.thumbnails.subfolders li > a > .fa {
    position: absolute;
    left: 10px;
    top: 12px;
}
.thumbnails.subfolders li > a > span {
    display: inline-block;
    margin-left: 25px;
    vertical-align: top;
}
.thumbnail.add-folder {
    background: transparent;
    border-color: transparent;
}
.thumbnail.add-folder span {
    font-weight: 300;
}
</style>

<div class="folder-line">
    <h1 id="current-folder">
        <a id="current-root" href="{{ mycharts_base }}">{% trans "My Charts" %}</a>
        <span id="folder-sequence"></span>
        <span id="current-folder-name"></span>
        <div class="btn-group" style="display:inline-block; position: relative">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"
                style="border:0;background:none;box-shadow:none">
                <i class="fa fa-caret-down" style="font-size:18px;color:#999"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="add-folder" tabindex="-1" href="#"><i class="fa fa-plus"></i> {% trans "Add" %}</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="move-to-folder" style="display: none;" tabindex="-1" href="#"><i class="fa fa-folder-open"></i> {% trans "Move" %}</a>
                    <ul class="dropdown-menu move-links move-root"></ul>
                </li>
                <li><a id="rename-folder" style="display: none;" tabindex="-1" href="#"><i class="fa fa-edit"></i> {% trans "Rename" %}</a></li>
                <li><a id="delete-folder" style="display: none;" tabindex="-1" href="#"><i class="fa fa-remove"></i> {% trans "Remove" %}</a></li>
            </ul>
        </div>
    </h1>
</div>

<div class="folders-and-gallery row">
    <div class="folders span2">
        <ul>
            <li {% if not current.folder and not current.organization %}class="active"{% endif %}><a id="user-root" href="{{ mycharts_base }}">
                <i class="fa fa-fw fa-user"></i>
                <span>{% trans "My Charts" %}</span></a>
            </li>
            <ul id="dynamic-tree">
            </ul>
            {% for org in organizations %}
            <li {% if not current.folder and current.organization == org.id %}class="active"{% endif %} style="margin-top:30px">
                <a id="org-root-{{ org.tag }}"href="/organization/{{ org.id }}">
                    <i class="fa fa-fw fa-university"></i>
                    <span>{{ org.name }}</span>
                </a>
            </li>
            <ul id="dynamic-tree-{{ org.tag }}">
            </ul>
            {% endfor %}
        </ul>
    </div>
    
    <div class="gallery span10">

        <ul class="thumbnails subfolders">
            {% for group in preload %}
                {% if (group.type == 'user' and not current.organization) or (group.type == 'organization' and (group.organization.id == current.organization)) %}
                    {% for folder in group.folders %}
                        {% if folder.parent == current.folder %}
            <li class="span2">
                            {% if group.type == 'user' %}
                <a class="thumbnail" href="/mycharts/{{ folder.id }}">
                            {% else %}
                <a class="thumbnail" href="/organization/{{ current.organization }}/{{ folder.id }}">
                            {% endif %}
                    <i class="fa fa-folder fa-fw"></i> <span>{{ folder.name | striptags }}</span>
                </a>
            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <li class="span2">

                <a class="thumbnail add-folder" href="#">
                    <i class="fa fa-plus fa-fw"></i> <span>add folder...</span>
                </a>
            </li>
        </ul>

        <hr></hr>

        {% if user.hasCharts %}
        <ul class="thumbnails">
            {% for chart in charts %}

            <li class="span2 chart" data-id="{{ chart.id }}">

                <div class="thumbnail" data-foo="bar">

                    <a href="/{{ chart.getNamespace() }}/{{ chart.id }}/edit">
                        <div class="image" style="width:100%; height:130px; background:url({% if chart.hasPreview %}//{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png{% else %}/static/img/nopreview.png{% endif %}) top left no-repeat;background-size:cover"></div>

                        <h3>
                            {% if chart.title != '' %}{{ chart.title | replace({'<br/>': ' - '}) | striptags | raw }}{% else %}{{ chart.id }}{% endif %}
                        </h3>
                    </a>

                    <div class="btn-group">
                       <button class="btn dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-caret-down"></i>
                       </button>
                       <ul class="dropdown-menu">
                           {% if user2 %}
                           <li><a class="edit" href="#"><i class="icon-edit"></i> {% trans "Edit" %}</a></li>
                           {% endif %}
                           <li><a class="duplicate" href="#"><i class="icon-plus"></i> {% trans "Duplicate" %}</a></li>
                           {# <li><a href="/chart/{{ chart.id }}/static?w=700&amp;h=490&amp;f=pdf&amp;padding=20"><i class="icon-download"></i> {% trans "Save as PDF" %}</a></li>
                           <li class="divider"></li> #}
                           <li><a class="delete" href="#"><i class="icon-remove"></i> {% trans "Delete" %}</a></li>
                           <li class="dropdown-submenu">
                               <a tabindex="-1" href="#"><i class="icon-folder-open"></i> {% trans "Move" %}</a>
                               <ul class="dropdown-menu folder-list">
                                   <li class="folder-list-separator"></li>
                                   {% for org in organizations %}
                                   <li class="dropdown-submenu">
                                       <a tabindex="-1" href="#"><i class="icon-folder-open"></i> {{ org.id }}</a>
                                       <ul class="dropdown-menu folder-list-{{ org.tag }}"></ul>
                                   </li>
                                   {% endfor %}
                               </ul>
                           </li>
                       <!-- dropdown menu links -->
                       </ul>
                    </div>

                 </div>

                    {# <p>{% trans "Created" %}: {{ chart.createdAt|date() }}<br/>
                     {% trans "Layout" %}: {{ chart.theme }} </p> #}

            </li>
            {% endfor %}
        </ul>
        {% else %}

            <h2>{% trans "No charts here, yet" %}</h2>
            <p>{% trans "Why not <a href='/chart/create'>create a new chart now</a>?" %}</p>

        {% endif %}
    </div>
</div>


<div class="gallery-filter">

    <form method="get" class="form form-inline" action="">
        <b>{% trans "Filter" %}:</b>

        &nbsp;

        <input name="q" class="search-query input-medium" type="text" placeholder="{% trans "Search" %}" value="{{ search_query }}" />

        &nbsp;

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Status" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for status in bystatus %}
                {% if key == 'status' and val == status.id %}
                    {% if current.organization %}
                <li class="active"><a href="/organization/{{ current.organization }}/{{ current.folder }}"><i class="icon-check"></i> {{ status.name }} ({{ status.count }})</a></li>
                    {% else %}
                <li class="active"><a href="{{ mycharts_base }}/{{ current.folder }}"><i class="icon-check"></i> {{ status.name }} ({{ status.count }})</a></li>
                    {% endif %}
                {% else %}
                    {% if current.organization %}
                <li><a href="/organization/{{ current.organization }}/{{ current.folder }}?key=status&val={{ status.id }}">{{ status.name }} ({{ status.count }})</a></li>
                    {% else %}
                <li><a href="{{ mycharts_base }}/{{ current.folder }}?key=status&val={{ status.id }}">{{ status.name }} ({{ status.count }})</a></li>
                    {% endif %}
                {% endif %}

                {% endfor %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Month" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu by-month">
                <!-- dropdown menu links -->
            {% for month in bymonth %}
                {% if key == 'month' and val == month.id %}
                    {% if current.organization %}
                <li class="active"><a href="/organization/{{ current.organization }}/{{ current.folder }}"><i class="icon-check"></i> {{ month.name }} ({{ month.count }})</a> </li>
                    {% else %}
                <li class="active"><a href="{{ mycharts_base }}/{{ current.folder }}"><i class="icon-check"></i> {{ month.name }} ({{ month.count }})</a> </li>
                    {% endif %}
                {% else %}
                    {% if current.organization %}
                <li><a href="/organization/{{ current.organization }}/{{ current.folder }}?key=month&val={{ month.id }}">{{ month.name }} ({{ month.count }})</a></li>
                    {% else %}
                <li><a href="{{ mycharts_base }}/{{ current.folder }}?key=month&val={{ month.id }}">{{ month.name }} ({{ month.count }})</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Visualisation" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
            {% for vis in byvis %}
                {% if key == 'vis' and val == vis.id %}
                    {% if current.organization %}
                <li class="active"><a href="/organization/{{ current.organization }}/{{ current.folder }}"><i class="icon-check"></i> {{ vis.name }} ({{ vis.count }})</a> </li>
                    {% else %}
                <li class="active"><a href="{{ mycharts_base }}/{{ current.folder }}"><i class="icon-check"></i> {{ vis.name }} ({{ vis.count }})</a> </li>
                    {% endif %}
                {% else %}
                    {% if current.organization %}
                <li><a href="/organization/{{ current.organization }}/{{ current.folder }}?key=vis&val={{ vis.id }}">{{ vis.name }} ({{ vis.count }})</a></li>
                    {% else %}
                <li><a href="{{ mycharts_base }}/{{ current.folder }}?key=vis&val={{ vis.id }}">{{ vis.name }} ({{ vis.count }})</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>

{#         <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Layout" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                {% for layout in bylayout %}
                {% if key == 'layout' and val == layout.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ layout.name }} ({{ layout.count }})</a></li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/layout/{{ layout.id }}">{{ layout.name }} ({{ layout.count }})</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div> #}


    </form>


</div>


<div class="after-gallery row">
    <div class="span9">

        {% if not user2 %}

            {{ hook('mycharts_after_sidebar', chart, user) }}

        {% else %}

            <h3>{% trans "Switch User" %}</h3>

            <select id="switch_user" style="width:80%">
                {% for user in all_users %}
                <option {% if user == user2 %}selected="selected" {% endif %}value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
            <script type="text/javascript">
            $('#switch_user').change(function(e) {
                e.preventDefault();
                location.href = '/admin/charts/' + $('#switch_user').val();
            });
        </script>
        {% endif %}


    </div>

    <div class="span3">
        <div class="pull-right">
            {{ block('pagination') }}
        </div>
    </div>
</div>





<script type="text/javascript" src="/static/vendor/overlay/ender.overlay.js"></script>
<script type="text/javascript">
$(function(){

    return;
  //*
  // */
   {% if user2 %}
    $('.thumbnail > a').click(function(e) {
        e.preventDefault();
        dw.backend.popupChart($(e.target).parents('.chart').data('id'), true);
    });

    $('a.edit').click(function(e) {
        e.preventDefault();
        var chart = $(e.target).parents('.chart');
        location.href = $('.thumbnail > a', chart).attr('href');
    });
   {% endif %}


    $('a.delete').click(function(e) {
        e.preventDefault();
        var chart = $(e.target).parents('.chart'),
            id = chart.data('id');
        if (window.confirm({{ "Do you really want to delete the chart? Note that after deleting this chart won\'t be embedable any more." | trans | json | raw }})) {
             $.ajax({
                url: '/api/charts/'+id,
                type: 'DELETE',
                success: function(data) {
                    chart.remove();
                }
            });
        };
    });

    $('.chart a.duplicate').click(function(e) {
        e.preventDefault();
        var id = $(e.target).parents('.chart').data('id');
        $.ajax({
            url: '/api/charts/'+id+'/copy',
            type: 'POST',
            success: function(data) {
                try {
                    if (data.status == "ok") {
                        // redirect to copied chart
                        location.href = '/chart/'+data.data.id+'/visualize';
                    } else {
                        console.warn(data);
                    }
                } catch (e) {
                    console.warn(data);
                }
            }
        });
    });
});

// what's this supposed to do?
$('body').load(function() {

});

var handler = {
    fail: function(err) {
        alert('API Error');
        console.error(err);
    },
    done: function(res) {
        if (res.status == 'error') {
            alert(res.message);
        } else if (res.status == 'ok') {
            location.reload(true);
        }
    }
};

function add_folder_helper(folder_id, org_id) {
    return function(e) {
        var nuname;

        e.preventDefault();
        nuname = prompt('{{ "Enter new folder name:" | trans }}');

        $.ajax({
            url: '/api/folders',
            type: 'POST',
            processData: false,
            contentType: "application/json",
            data: JSON.stringify({
                name: nuname,
                parent: folder_id,
                organization: org_id
            }),
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    }
}

function folder_menu(folder, org_id, path) {
    $('.add-folder').click(add_folder_helper(folder.id, org_id));
    $('.move-to-folder').show();

    $('#rename-folder').click(function(e) {
        var nuname;

        e.preventDefault();
        nuname = prompt('{{ "Enter new folder name:" | trans }}', folder.name);

        $.ajax({
            url: '/api/folders/' + folder.id,
            type: 'PUT',
            processData: false,
            contentType: "application/json",
            data: JSON.stringify({ name: nuname }),
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    });

    // can't delete root or folders with subfolders
    if (!(typeof(path) === 'undefined' || folder.sub != false)) {
        $('#delete-folder').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/api/folders/' + folder.id,
                type: 'DELETE',
                contentType: "application/json",
                dataType: 'JSON'
            }).done(handler.done).fail(handler.fail);
        });
    }
}

function move_to_folder_helper(folder_id, org_id) {
    return function(e) {
        var current_folder = $('#current-folder').data('folder_id');
        e.preventDefault();

        $.ajax({
            url: '/api/folders/' + current_folder,
            type: 'PUT',
            processData: false,
            contentType: "application/json",
            data: JSON.stringify({ parent: folder_id, organization: org_id }),
            dataType: 'JSON'
        }).done(function(res) {
            if (res.status == 'error') {
                alert(res.message);
            } else if (res.status == 'ok') {
                // page reload would be an error - follow new path
                location.assign((org_id) ? '/organization/' + org_id + '/' + current_folder : '{{mycharts_base}}/' + current_folder);
            }
        }).fail(handler.fail);
    }
}

function build_folder_2_folder_movelinks(flat_list, org_id) {
    var source_path = $('#current-folder').data('fullpath'),
        source_parent = '',
        move_menu = '';

    if (typeof(source_path) === 'undefined') return;
    source_parent = source_path.slice(0, source_path.lastIndexOf('/'));
    if (source_parent == '') source_parent = '/';

    if (org_id) {
        $('#current-folder').find(".dropdown-menu .move-root").append("\
            <li class=\"dropdown-submenu\">\n\
                <a class=\"move-to-folder\" tabindex=\"-1\" href=\"#\"><i class=\"fa fa-folder-open\"></i> " + org_id + "</a>\n\
                <ul class=\"dropdown-menu move-links move-org\"></ul>\n\
            </li>\n\
        ");
        move_menu = $('#current-folder').find(".dropdown-menu .move-org").last();
    } else {
        move_menu = $('#current-folder').find(".dropdown-menu .move-root");
    }

    flat_list.forEach(function(folder) {
        var l = document.createElement('li'),
            a = document.createElement('a');

        // Do not create links for subfolders of this path
        if ($('#current-folder').data('organization') == org_id && (
            folder.path == source_parent ||
            folder.path.startsWith(source_path)
        )) return;

        a.innerText = folder.path;
        a.setAttribute('href', '#');
        $(a).click(move_to_folder_helper(folder.id, org_id));
        l.appendChild(a);
        move_menu.append(l);
    });
};

function change_root_folder(org) {
    var root_folder = $('#current-root');
    root_folder.attr('href', '/organization/' + org.id);
    root_folder.text(org.name);
}

function build_line(org, path, tree) {
    var cwd, mypath,
        line = $('#folder-sequence'),
        sep = '<span class="sep">›</span>';

    mypath = Array.from(path);
    cwd = mypath.pop();

    mypath.forEach(function(dir) {
        var a = document.createElement('a'),
            folder;

        a.innerText = dw.utils.purifyHtml(dir, '');
        folder = tree.reduce(function(old, cur) {
            return (!old && cur.name === dir) ? cur : old;
        }, false);
        a.setAttribute('href', (org) ? '/organization/' + org.id + '/' + folder.id : '{{ mycharts_base }}/' + folder.id);
        line.append(sep, a);
        tree = folder.sub
    });
    line.append(sep);
    $('#current-folder-name').html(dw.utils.purifyHtml(cwd, ''));
};

function build_tree_list(branch, parent, org, flatter, path, pathstring, tree) {
    var current_folder = '{{current.folder}}',
        folder_icon_open = '<i class="fa fa-folder-open fa-fw"></i>',
        folder_icon_closed = '<i class="fa fa-folder fa-fw"></i>',
        nu_path,
        seper = $('.folder-list-separator'),
        org_id = (org) ? org.id : false,
        org_tag = (org_id) ? '-' + org_id.replace(' ','-').replace(/[^a-zA-Z0-9-]/g,'') : '';

    // first pass, initialize data
    if (typeof(path) === 'undefined') {
        path = [];
        pathstring = '';
        tree = branch;
    }

    branch.forEach(function(folder) {
        var l1 = document.createElement('li'),
            a1 = document.createElement('a'),
            l2 = document.createElement('li'),
            a2 = document.createElement('a'),
            org_snipplet = (org_id) ? '/organization/' + org_id : '';

        var html = (current_folder && current_folder == folder.id ? folder_icon_open : folder_icon_closed) + ' <span>' + dw.utils.purifyHtml(folder.name, '');
        if (folder.charts > 0) {
            html += '<span class="chart-count">(' + folder.charts + ')</span>';
        }
        html += '</span>';
        a1.innerHTML = html;
        a1.setAttribute('href', (org_id) ? '/organization/' + org_id + '/' + folder.id : '{{ mycharts_base }}/' + folder.id);

        nu_path = path.concat(folder.name);
        nu_pstr = pathstring + '/' + folder.name;
        flatter({
            path: nu_pstr,
            id: folder.id
        });

        l1.appendChild(a1);
        parent.append(l1);

        // beware! this a string compare! '' == false && '<num>' == <num>
        if (current_folder && current_folder == folder.id) {
            l1.classList.add('active');
            var curfol_elem = $('#current-folder');
            // hijack this pass to build active folder line
            build_line(org, nu_path, tree);
            folder_menu(folder, org_id, nu_pstr); //last param evaluates to bool
            curfol_elem.find('#delete-folder, #rename-folder').show();
            curfol_elem.data({
                fullpath: nu_pstr,
                folder_id: folder.id,
                organization: org_id
            });
        } else {
            // or append this folder to the MoveTo submenu
            a2.innerHTML = nu_pstr;
            a2.setAttribute('href', '#');
            a2.setAttribute('tabindex', '-1');
            $.data(a2, {
                inFolder: folder.id,
                organizationId: org_id
            });
            l2.appendChild(a2);

            if (org_id) {
                $('.dropdown-menu .folder-list .folder-list' + org_tag).append(l2);
            } else {
                $(l2).insertBefore(seper);
            }
        }

        if (folder.sub) {
            var nu_par = document.createElement('ul');
            parent.append(nu_par);
            build_tree_list(folder.sub, $(nu_par), org, flatter, nu_path, nu_pstr, tree);
        }
    });
};

function add_chart_move_function() {
    $('.chart .folder-list a').click(function(e) {
        var tar = $(e.target),
            id = tar.parents('.chart').data('id'),
            payload = tar.data();

        e.preventDefault();

        if (payload.organizationId === false) payload.organizationId = null;
        $.ajax({
            url: '/api/charts/' + id,
            type: 'PUT',
            processData: false,
            contentType: "application/json",
            data: JSON.stringify(payload),
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    });
};

function treelist_wrapper(folder_obj) {
    // prepare move to root
    var flatened_tree = [{
            path: '/',
            id: false
        }],
        entrypoint = '#dynamic-tree',
        org = (folder_obj.organization) ? folder_obj.organization : false,
        current_org = '{{current.organization}}',
        root_link,
        move_to_root = $('<li><a href="#" tabindex=-1>/</a></li>');

    // create move to root links, because root is not a real folder
    if (org) {
        var org_tag = '-' + org.id.replace(' ','-').replace(/[^a-zA-Z0-9-]/g,'');
        entrypoint += org_tag;
        move_to_root.find('a').data({
            inFolder: null,
            organizationId: org.id
        });
        $('.dropdown-menu .folder-list .folder-list' + org_tag).append(move_to_root);
        root_link = $('#org-root' + org_tag+' > span');
    } else {
        move_to_root.find('a').data({
            inFolder: null,
            organizationId: null
        });
        move_to_root.insertBefore($('.folder-list-separator'));
        root_link = $('#user-root > span');
    }

    // root_link contains a link to the root folder on the left side. don't mix up these two
    if (folder_obj.charts > 0) root_link.html(root_link.html() + '<span class="chart-count">(' + folder_obj.charts + ')</span>');

    if (current_org == org.id) change_root_folder(org);

    build_tree_list(folder_obj.folders, $(entrypoint), org, function(path) {
        flatened_tree.push(path);
    });

    return flatened_tree;
};

function remove_empty_folder_move_targets() {
    $('#current-folder .move-org').each(function(idx, move_org){
        var list = $(move_org);
        if (!list.find('li').length)
            list.parent().remove();
    });
}

function add_to_root_helper() {
    if (isNaN(parseInt(location.pathname.slice(location.pathname.lastIndexOf('/') + 1)))) {
        var splitted = location.pathname.split('/');
        if (splitted[1] === 'mycharts') {
            $('.add-folder').click(add_folder_helper(null, false));
        } else {
            $('.add-folder').click(add_folder_helper(null, decodeURIComponent(splitted[2])));
        }
    }
}

function treeyfy(tree) {
    tree.map(function(group) {
        if (group.type === "user")
            group.organization = false;
        delete(group.type);
        group.folders.forEach(function(folder) {
            delete(folder.type);
            delete(folder.user);
            delete(folder.organization);
            folder.sub = group.folders.filter(function(potential_subfolder) {
                return (potential_subfolder.parent == folder.id) ? true : false;
            });
            if (!folder.sub.length)
                folder.sub = false;
        });
        group.folders = group.folders.filter(function(folder) {
            return (folder.parent == null) ? true : false;
        });
    });

    tree = tree.sort(function(a, b) {
        if (!a.organization) return -1;
        if (!b.organization) return 1;
        return a.organization.name.localeCompare(b.organization.name);
    });

    return tree;
}

function get_folders(tree) {
    var walked_tree = [],
        cleaned_tree;

    cleaned_tree = treeyfy(tree);

    cleaned_tree.forEach(function(folder_obj) {
        walked_tree.push(treelist_wrapper(folder_obj));
    });
    add_chart_move_function();
    cleaned_tree.forEach(function(folder_obj, idx) {
        build_folder_2_folder_movelinks(walked_tree[idx], (folder_obj.organization) ? folder_obj.organization.id : false);
    });
    remove_empty_folder_move_targets();
    add_to_root_helper();
}

$('document').ready(function() {
    get_folders({{ preload | json | raw }});
});

</script>

{{ parent() }}
{% endblock %}
