{% use "utils.twig" %}

{% extends "core.twig" %}


{% block content %}


<div class="docs">
    <div class="pull-right" style="position:relative;top:-16px">
        {{ block('pagination') }}
    </div>
    <h1 class="title">
        {% if user2 %}
            {{ "Charts by %s" | trans | replace({'%s': user2.email }) }}
{#         {% else %}
            {% trans "My Charts" %} #}
        {% endif %}
    </h1>
</div>

<style type="text/css">

.gallery-filter {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

.gallery-filter h1 { margin-top: 0; }
.gallery-filter a { cursor: pointer; }

.gallery-filter .folder-line { align-self: flex-start; }
.gallery-filter form { margin-left: auto; }
.gallery-filter form .btn-group { margin-left: 10px; }

.folders-and-gallery { display: flex; }
.folders-and-gallery .folders { flex: 1 0 0; }
.folders-and-gallery .gallery { flex: 3 0 0;}

.gallery .thumbnails .span3.chart { min-height: 190px; }

.gallery .thumbnails .span3.chart h3 { position: static; }

.folders ul {
    list-style-type: none;
    margin-left: 0;
}

.folders ul ul { margin-left: 25px; }
.folders li { line-height: 30px; }
.folders li a {
    cursor: pointer;
    margin-right: 1em;
}
.folders li .btn-group { visibility: hidden; }
.folders li:hover .btn-group { visibility: visible; }
.folders .dropdown-menu {
    top: -5px;
    left: 31px;
}
.folders .dropdown-menu .dropdown-menu {
    top: -6px;
    margin: 0px;
    padding: 1px;
}
.folders .dropdown-menu .move-links {
    top: -2px;
}
.folders .dropdown-menu .folder-confirm {
    padding: 4px;
    margin: 2px 0px 2px 2px;
}
.folders .dropdown-menu .folder-input {
    margin: 2px 2px 2px 0px;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    margin-top: -6px;
}

</style>
<div class="gallery-filter">

    <div class="folder-line">
        <a href="{{ mycharts_base }}">{% trans "My Charts" %}</a><span id="folder-sequence"></span>
        <h1 id="current-folder"> </h1>
    </div>

    <form method="get" class="form form-inline" action="">
        <b>{% trans "Filter" %}:</b>

        &nbsp;

        <input name="q" class="search-query input-medium" type="text" placeholder="{% trans "Search" %}" value="{{ search_query }}" />

        &nbsp;

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Status" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for status in bystatus %}
                {% if key == 'status' and val == status.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ status.name }} ({{ status.count }})</a></li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/status/{{ status.id }}">{{ status.name }} ({{ status.count }})</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Month" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu by-month">
                <!-- dropdown menu links -->
            {% for month in bymonth %}
                {% if key == 'month' and val == month.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ month.name }} ({{ month.count }})</a> </li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/month/{{ month.id }}">{{ month.name }} ({{ month.count }})</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Visualisation" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                {% for vis in byvis %}
                {% if key == 'vis' and val == vis.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ vis.name }} ({{ vis.count }})</a> </li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/vis/{{ vis.id }}">{{ vis.name }} ({{ vis.count }})</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

{#         <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Layout" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                {% for layout in bylayout %}
                {% if key == 'layout' and val == layout.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ layout.name }} ({{ layout.count }})</a></li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/layout/{{ layout.id }}">{{ layout.name }} ({{ layout.count }})</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div> #}


    </form>


</div>

<div class="folders-and-gallery">
    <div class="folders">
        <ul>
            <li id="base-folder"><a href="{{ mycharts_base }}"><i class="icon-folder-open"></i> {% trans "My Charts" %}</a></li>
            <ul id="dynamic-tree">
            </ul>
            {% for org in organizations %}
            <li id="base-folder-{{ org.tag }}"><a href="{{ mycharts_base }}/organization/{{ org.id }}"><i class="icon-folder-open"></i> {{ org.name }}</a></li>
            <ul id="dynamic-tree-{{ org.tag }}">
            </ul>
            {% endfor %}
        </ul>
    </div>
    <div class="gallery">

        {% if user.hasCharts %}
        <div class="thumbnails js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": 200 }'>
            {% for chart in charts %}

            <div class="span3 chart" data-id="{{ chart.id }}">
                <div class="thumbnail" style="background:{{ chart.metadata.publish.background }}">
                    <a href="/{{ chart.getNamespace() }}/{{ chart.id }}/edit" >
                        <h3 style="color:{% if chart.metadata.publish.text %}{{ chart.metadata.publish.text }}{% else %}#000{% endif %};text-shadow:1px 1px 3px {% if chart.metadata.publish.background %}{{ chart.metadata.publish.background }}{% else %}#fff{% endif %};">{% if chart.title != '' %}{{ chart.title | replace({'<br/>': ' - '}) | striptags | raw }}{% else %}{{ chart.id }}{% endif %}</h3>

                        <img src="{% if chart.hasPreview %}//{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png{% else %}/static/img/nopreview.png{% endif %}" width="260" >
                     </a>

                     <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-wrench"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user2 %}
                            <li><a class="edit" href="#"><i class="icon-edit"></i> {% trans "Edit" %}</a></li>
                            {% endif %}
                            <li><a class="duplicate" href="#"><i class="icon-plus"></i> {% trans "Duplicate" %}</a></li>
                            {# <li><a href="/chart/{{ chart.id }}/static?w=700&amp;h=490&amp;f=pdf&amp;padding=20"><i class="icon-download"></i> {% trans "Save as PDF" %}</a></li>
                            <li class="divider"></li> #}
                            <li><a class="delete" href="#"><i class="icon-remove"></i> {% trans "Delete" %}</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#"><i class="icon-folder-open"></i> {% trans "Move" %}</a>
                                <ul class="dropdown-menu folder-list"></ul>
                            </li>
                            {% if key == 'folder' %}
                            <li><a class="remove-from-dir" tabindex="-1" href="#"><i class="icon-folder-open"></i> {% trans "Remove" %}</a></li>
                            {% endif %}
                        <!-- dropdown menu links -->
                        </ul>
                     </div>
                    {# <p>{% trans "Created" %}: {{ chart.createdAt|date() }}<br/>
                     {% trans "Layout" %}: {{ chart.theme }} </p> #}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}

            <h2>{% trans "No charts here, yet" %}</h2>
            <p>{% trans "Why not <a href='/chart/create'>create a new chart now</a>?" %}</p>

        {% endif %}
    </div>
</div>


<div class="after-gallery row">
    <div class="span9">

        {% if not user2 %}

            {{ hook('mycharts_after_sidebar', chart, user) }}

        {% else %}

            <h3>{% trans "Switch User" %}</h3>

            <select id="switch_user" style="width:80%">
                {% for user in all_users %}
                <option {% if user == user2 %}selected="selected" {% endif %}value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
            <script type="text/javascript">
            $('#switch_user').change(function(e) {
                e.preventDefault();
                location.href = '/admin/charts/' + $('#switch_user').val();
            });
        </script>
        {% endif %}


    </div>

    <div class="span3">
        <div class="pull-right">
            {{ block('pagination') }}
        </div>
    </div>
</div>





<script type="text/javascript" src="/static/vendor/overlay/ender.overlay.js"></script>
<script type="text/javascript">
$(function(){

    require(['masonry', 'imagesloaded'], function(Masonry, imagesLoaded) {
        var imgLoad = imagesLoaded('.thumbnails');
        imgLoad.on('progress', _.debounce(layout, 200));
        imgLoad.on('always', layout);
        function layout() {
            setTimeout(function() {
                new Masonry('.thumbnails', {
                    itemSelector: '.chart',
                    transitionDuration: 0
                });
            }, 100);
        }
    });

  //*
  // */
   {% if user2 %}
    $('.thumbnail > a').click(function(e) {
        e.preventDefault();
        dw.backend.popupChart($(e.target).parents('.chart').data('id'), true);
    });

    $('a.edit').click(function(e) {
        e.preventDefault();
        var chart = $(e.target).parents('.chart');
        location.href = $('.thumbnail > a', chart).attr('href');
    });
   {% endif %}


    $('a.delete').click(function(e) {
        e.preventDefault();
        var chart = $(e.target).parents('.chart'),
            id = chart.data('id');
        if (window.confirm({{ "Do you really want to delete the chart? Note that after deleting this chart won\'t be embedable any more." | trans | json | raw }})) {
             $.ajax({
                url: '/api/charts/'+id,
                type: 'DELETE',
                success: function(data) {
                    chart.remove();
                }
            });
        };
    });

    $('.chart a.duplicate').click(function(e) {
        e.preventDefault();
        var id = $(e.target).parents('.chart').data('id');
        $.ajax({
            url: '/api/charts/'+id+'/copy',
            type: 'POST',
            success: function(data) {
                try {
                    if (data.status == "ok") {
                        // redirect to copied chart
                        location.href = '/chart/'+data.data.id+'/visualize';
                    } else {
                        console.warn(data);
                    }
                } catch (e) {
                    console.warn(data);
                }
            }
        });
    });
});

// what's this supposed to do?
$('body').load(function() {

});

const handler = {
    fail: function(err) {
        alert('API Error');
        console.error(err);
    },
    done: function(res) {
        if (res.status == 'error') {
            alert(res.message);
        } else if (res.status == 'ok') {
            location.reload(true);
        }
    }
};

const folder_menu = function(el, org_id, path, subfolders) {
    const html_blob = `
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-wrench"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a class="add-folder" tabindex="-1" href="#"><i class="icon-folder-open"></i> {% trans "Add" %}</a>
                    <ul class="dropdown-menu">
                        <div class="form-group">
                            <button type="button" class="btn folder-confirm disabled">OK</button>
                            <input type="text" class="form-control folder-input">
                        </div>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a class="move-to-folder" tabindex="-1" href="#"><i class="icon-folder-open"></i> {% trans "Move" %}</a>
                    <ul class="dropdown-menu move-links"></ul>
                </li>
                <li><a class="delete-folder" tabindex="-1" href="#"><i class="icon-remove"></i> {% trans "Remove" %}</a></li>
            </ul>
        </div>`;
    var menu;

    el.append(html_blob);
    menu = el.find(".btn-group .dropdown-menu");

    menu.find(".folder-input").click(function(ev) {
        ev.stopPropagation();
    });

    menu.find(".folder-input").on("input", function(ev) {
        menu.find(".folder-confirm").removeClass("disabled");
        $(ev.currentTarget).off();
    });

    menu.find(".folder-confirm").click(function(e) {
        var val = menu.find(".folder-input")[0].value,
            post_url = '/api/folders/dir/';
        e.preventDefault();
        if (val.search("/") != -1) {
            alert("Your folder name may not contain any slashes.");
            return;
        }
        post_url += (org_id) ? 'organization/' + org_id + '/': 'user/';
        post_url += (path) ? path + '/': '';
        post_url += val;
        $.ajax({
            url: post_url,
            type: 'POST',
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    });

    menu.find(".delete-folder").click(function(e) {
        var del_url = '/api/folders/dir/';
        e.preventDefault();
        del_url += (org_id) ? 'organization/' + org_id + '/' : 'user/';
        del_url += path;
        $.ajax({
            url: del_url,
            type: 'DELETE',
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    });

    // can't delete root or folders with subfolders
    if(typeof(path) === 'undefined' || subfolders)
        menu.find(".delete-folder").remove();
}

const build_folder_2_folder_movelinks = function(entrypoint, flat_list, org_id) {
    $(entrypoint + " .folder-list-item").each(function(i, entry) {
        var source_path = $.data(entry, "fullpath"),
            source_parent = source_path.slice(0, source_path.lastIndexOf('/'));

        flat_list.forEach(function(folder) {
            var l = document.createElement('li'),
                a = document.createElement('a'),
                move_menu,
                put_url = '/api/folders/dir/';

            // Do not create links for subfolders of this path
            if (folder === source_path || (source_parent !== '' && folder.startsWith(source_parent))) return;
            move_menu = $(entry).find(".dropdown-menu .move-links");

            a.innerText = folder.slice(1);
            a.setAttribute('href', '#');
            put_url += (org_id) ? 'organization/' + org_id : 'user';
            put_url += source_path + '?dst=' + folder;
            $(a).click(function(e) {
                e.preventDefault();
                $.ajax({
                    url: put_url,
                    type: 'PUT',
                    dataType: 'JSON'
                }).done(handler.done).fail(handler.fail);
            });
            l.appendChild(a);
            move_menu.append(l);
        });
    });

    // now remove the whole structure for folders that can't be moved anywhere
    $(".dropdown-menu .move-links").each(function(i, list){
        if (list.childElementCount === 0)
            $(list).parent().remove();
    });
};

const build_line = function(path, tree) {
    var cwd, mypath, hopper,
        line = $('#folder-sequence');
        sep = ' > ';

    line.text('');

    mypath = Array.from(path);
    cwd = mypath.pop();

    mypath.forEach(function(dir) {
        var a = document.createElement('a');

        a.innerText = dir;
        a.setAttribute('href', '{{ mycharts_base }}/by/folder/' + tree[dir].id);
        line.append(sep, a);
        tree = tree[dir].sub
    });
    line.append(sep);
    $('#current-folder').text(cwd);
};

const build_tree_list = function(branch, parent, org_id, flatter, path, pathstring, tree) {
    const filter = {
        key: '{{key}}',
        val: '{{val}}'
    };
    const folder_icon = '<i class="icon-folder-open"></i>';
    var nu_path,
        subfolders = Object.keys(branch);

    // first pass, initialize data
    if (typeof(path) === 'undefined') {
        path = [];
        pathstring = '';
        tree = branch;
    }

    subfolders.forEach(function(folder) {
        var l1 = document.createElement('li'),
            a1 = document.createElement('a'),
            l2 = document.createElement('li'),
            a2 = document.createElement('a'),
            id = branch[folder].id,
            org_snipplet = (org_id) ? '/organization/' + org_id : '';

        a1.innerHTML = folder_icon + ' ' + folder;
        if (branch[folder].charts > 0)
            a1.innerHTML += ' (' + branch[folder].charts + ')';
        a1.setAttribute('href', '{{ mycharts_base }}' + org_snipplet + '/by/folder/' + id);

        nu_path = path.concat(folder);
        nu_pstr = pathstring + '/' + folder;
        flatter(nu_pstr);

        l1.classList.add("folder-list-item");
        l1.appendChild(a1);
        folder_menu($(l1), org_id, nu_pstr.slice(1), branch[folder].sub != false); //last param evaluates to bool
        $.data(l1, "fullpath", nu_pstr);
        parent.append(l1);

        if (filter.key === 'folder' && filter.val == id) {
            // hijack this pass to build active folder line
            build_line(nu_path, tree);
        } else {
            // or append this folder to the MoveTo submenu
            a2.innerHTML = (org_id) ? '<b>' + org_id + '</b><span>' + nu_pstr + '</span>': nu_pstr.slice(1);
            a2.setAttribute('href', '#');
            a2.setAttribute('tabindex', '-1');
            l2.appendChild(a2);

            $('.dropdown-menu .folder-list').append(l2);
        }

        if (branch[folder].sub) {
            var nu_par = document.createElement('ul');
            parent.append(nu_par);
            build_tree_list(branch[folder].sub, $(nu_par), org_id, flatter, nu_path, nu_pstr, tree);
        }
    });
};

const add_chart_functions = function () {
    $('.chart .folder-list a').click(function(e) {
        var tar = $(e.currentTarget),
            id = tar.parents('.chart').data('id'),
            org_part = tar.find('b'),
            put_url = '/api/folders/chart/';
        e.preventDefault();

        put_url += (org_part.length) ? 'organization/' + org_part.text() + '/' + id + tar.find('span').text() : 'user/' + id + '/' + tar.text();

        $.ajax({
            url: put_url,
            type: 'PUT',
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    });

    $('.chart .remove-from-dir').click(function(e) {
        var id = $(e.target).parents('.chart').data('id');
        e.preventDefault();

        $.ajax({
            url: '/api/folders/chart/' + id,
            type: 'DELETE',
            dataType: 'JSON'
        }).done(handler.done).fail(handler.fail);
    });
};

const do_stuff_with_folders = function(folder_obj) {
    var flatened_tree = [],
        root_id = '#base-folder'
        entrypoint = '#dynamic-tree';

    if (folder_obj.org_id !== false) {
        var org_tag = '-' + folder_obj.org_id.replace(' ','-').replace(/[^a-zA-Z0-9-]/g,'');
        entrypoint += org_tag;
        root_id += org_tag;
    }

    folder_menu($(root_id), folder_obj.org_id);

    build_tree_list(folder_obj.tree, $(entrypoint), folder_obj.org_id, function(path) {
        flatened_tree.push(path);
    });

    build_folder_2_folder_movelinks(entrypoint, flatened_tree, folder_obj.org_id);
};

const get_folders = function(orgs) {
    var api_calls = [],
        folders = [];

    api_calls.push($.getJSON('/api/folders/dir/user/')
        .done(function(res) {
            if (res.status == 'error') {
                alert(res.message);
            } else if (res.status == 'ok') {
                folders.push({ org_id: false, tree: res.data });
            }
        }).fail(handler.fail));
    Object.keys(orgs).forEach(function(key) {
        var org = orgs[key];
        api_calls.push($.getJSON('/api/folders/dir/organization/' + org.id + '/')
            .done(function(res) {
                if (res.status == 'error') {
                    alert(res.message);
                } else if (res.status == 'ok') {
                    folders.push({ org_id: org.id, org_name: org.name, tree: res.data });
                }
            }).fail(handler.fail));
    });
    $.when.apply(null, api_calls).done(function() {
        folders.sort(function(a, b) {
            if (!a.org_id) return -1;
            if (!b.org_id) return 1;
            return a.org_name.localeCompare(b.org_name);
        });
        folders.forEach(do_stuff_with_folders);
        add_chart_functions();
    });
}

$('document').ready(function() {
    get_folders({{ organizations | json | raw }});
});

</script>

{{ parent() }}
{% endblock %}
