{% use "utils.twig" %}

{% extends "core.twig" %}


{% block content %}

<link rel="stylesheet" type="text/css" href="/static/vendor/iconicfont/css/iconmonstr-iconic-font.min.css">

<div class="docs">
    <div class="pull-right" style="position:relative;top:-16px">
        {{ block('pagination') }}
    </div>
</div>

<div class="folder-line">
    <div class="mycharts-filter pull-right">
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "Sort by" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu sort-menu">
                <li><a href="?sort=modified_at&group={{ current.group }}">Last edit time</a></li>
                <li class="active"><a href="?sort=created_at&group={{ current.group }}">Creation time</a></li>
                <li><a href="?sort=published_at&group={{ current.group }}">Publish time</a></li>
                <li><a href="?sort=title&group={{ current.group }}">Title</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "Group by" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="active"><a href="?sort={{ current.sort }}&group=">(no grouping)</a></li>
                <li><a href="?sort={{ current.sort }}&group=status">Status (published/draft)</a></li>
                <li><a href="?sort={{ current.sort }}&group=type">Visualization type</a></li>
                <li><a href="?sort={{ current.sort }}&group=month">Month</a></li>
            </ul>
        </div>

        &nbsp;<input name="q" class="search-query input-medium" type="text" placeholder="{% trans "Search" %}" value="{{ search_query }}" />
    </div>
    <h1 id="current-folder">
        <a id="current-root" href="{{ mycharts_base }}">
            {% if user2 %}
            {{ "Charts by %s" | trans | replace({'%s': user2.email }) }}
            {% else %}
            {% trans "My Charts" %}
            {% endif %}
        </a>
        <span id="folder-sequence"></span>
        <span id="current-folder-name"></span>
        <div class="btn-group" style="display:inline-block; position: relative">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"
                style="border:0;background:none;box-shadow:none">
                <i class="im im-care-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="add-folder" tabindex="-1" href="#"><i class="im im-plus-circle"></i> {% trans "Add subfolder" %}</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="move-to-folder" style="display: none;" tabindex="-1" href="#"><i class="im im-folder-open"></i> {% trans "Move to …" %}</a>
                    <ul class="dropdown-menu move-links move-root"></ul>
                </li>
                <li><a id="rename-folder" style="display: none;" tabindex="-1" href="#"><i class="im im-edit"></i> {% trans "Rename folder" %}</a></li>
                <li><a id="delete-folder" style="display: none;" tabindex="-1" href="#"><i class="im im-trash-can"></i> {% trans "Remove folder" %}</a></li>
            </ul>
        </div>
    </h1>
</div>

<div class="folders-and-gallery row">
    <div class="folders span2">
        <ul>
            <li {% if not current.folder and not current.organization %}class="active"{% endif %}><a id="user-root" href="{{ mycharts_base }}">
                <i class="im im-user-male"></i>
                <span>{% trans "My Charts" %}</span></a>
            </li>
            <ul id="dynamic-tree">
            </ul>
            {% for org in organizations %}
            <li {% if not current.folder and current.organization == org.id %}class="active"{% endif %} style="margin-top:40px">
                <a id="org-root-{{ org.tag }}"href="/organization/{{ org.id }}">
                    <i class="im im-users"></i>
                    <span>{{ org.name }}</span>
                </a>
            </li>
            <ul id="dynamic-tree-{{ org.tag }}">
            </ul>
            {% endfor %}
        </ul>
    </div>

    <div class="gallery span10">

        <ul class="thumbnails subfolders">
            {% for group in preload %}
                {% if (group.type == 'user' and not current.organization) or (group.type == 'organization' and (group.organization.id == current.organization)) %}
                    {% for folder in group.folders %}
                        {% if folder.parent == current.folder %}
            <li class="span2">
                            {% if group.type == 'user' %}
                <a class="thumbnail" href="/mycharts/{{ folder.id }}">
                            {% else %}
                <a class="thumbnail" href="/organization/{{ current.organization }}/{{ folder.id }}">
                            {% endif %}
                    <i class="im im-folder im-fw"></i> <span>{{ folder.name | striptags }}</span>
                </a>
            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <li class="span2">

                <a class="thumbnail add-folder" href="#">
                    <i class="im im-plus-circle im-fw"></i> <span>add folder...</span>
                </a>
            </li>
        </ul>

        <hr></hr>

        {% if user.hasCharts %}

        {% for group in chart_groups %}
        {% if group.title %}
            <h3>{{ group.title }}</h3>
        {% endif %}
        <ul class="thumbnails">
            {% for chart in group.charts %}

            <li class="span2 chart" data-id="{{ chart.id }}">

                <div class="thumbnail" data-id="{{ chart.id }}">

                    <a href="/{{ chart.getNamespace() }}/{{ chart.id }}/edit">
                        <div class="image" style="width:100%; height:130px; background:url({% if chart.hasPreview %}//{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png{% else %}/static/img/nopreview.png{% endif %}) top left no-repeat;background-size:cover"></div>

                        <h3>
                            {% if chart.title != '' %}{{ chart.title | replace({'<br/>': ' - '}) | striptags | raw }}{% else %}{{ chart.id }}{% endif %}
                        </h3>
                    </a>

                    <div class="dw-checkbox">
                        <i class="im im-check-mark"></i>
                    </div>

                    <div class="btn-group">
                       <button class="btn dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-caret-down"></i>
                       </button>
                       <ul class="dropdown-menu">
                           {% if user2 %}
                           <li><a class="edit" href="#"><i class="im im-edit"></i> {% trans "Edit" %}</a></li>
                           {% endif %}
                           <li><a class="duplicate" href="#"><i class="im im-copy"></i> {% trans "Duplicate" %}</a></li>
                           {# <li><a href="/chart/{{ chart.id }}/static?w=700&amp;h=490&amp;f=pdf&amp;padding=20"><i class="icon-download"></i> {% trans "Save as PDF" %}</a></li>
                           <li class="divider"></li> #}
                           <li><a class="delete" href="#"><i class="im im-trash-can"></i> {% trans "Delete" %}</a></li>
                           <li class="dropdown-submenu move">
                               <a tabindex="-1" href="#"><i class="im im-folder"></i> {% trans "Move" %}<span class="selected"> {% trans "selected" %}</span></a>
                               <ul class="dropdown-menu folder-list">
                                   <li class="folder-list-separator"></li>
                                   {% for org in organizations %}
                                   <li class="dropdown-submenu">
                                       <a tabindex="-1" href="#"><i class="im im-folder"></i> {{ org.id }}</a>
                                       <ul class="dropdown-menu folder-list-{{ org.tag }}"></ul>
                                   </li>
                                   {% endfor %}
                               </ul>
                           </li>
                       <!-- dropdown menu links -->
                       </ul>
                    </div>

                 </div>

                    {# <p>{% trans "Created" %}: {{ chart.createdAt|date() }}<br/>
                     {% trans "Layout" %}: {{ chart.theme }} </p> #}

            </li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% else %}

            <h2>{% trans "No charts here, yet" %}</h2>
            <p>{% trans "Why not <a href='/chart/create'>create a new chart now</a>?" %}</p>

        {% endif %}
    </div>
</div>


<div class="after-gallery row">
    <div class="span9">

        {% if not user2 %}

            {{ hook('mycharts_after_sidebar', chart, user) }}

        {% else %}

            <h3>{% trans "Switch User" %}</h3>

            <select id="switch_user" style="width:80%">
                {% for user in all_users %}
                <option {% if user == user2 %}selected="selected" {% endif %}value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
            <script type="text/javascript">
            $('#switch_user').change(function(e) {
                e.preventDefault();
                location.href = '/admin/charts/' + $('#switch_user').val();
            });
        </script>
        {% endif %}


    </div>

    <div class="span3">
        <div class="pull-right">
            {{ block('pagination') }}
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['dw/mycharts'], function(init) {
        init({
            strings: {
                confirm_chart_delete: {{ "Do you really want to delete the chart? Note that after deleting this chart won\'t be embedable any more." | trans | json | raw }},
                enter_folder_name: '{{ "Enter new folder name:" | trans }}',
                mycharts_base: '{{ mycharts_base }}'
            },
            current: {{ current | json | raw }},
            preload: {{ preload | json | raw }},
            user2: {{ user2 | json | raw }}
        });
    });
</script>

{{ parent() }}
{% endblock %}
