{% extends "core.twig" %}

{% block content %}

<div class="row">
    <div class="span9 mycharts">
        {% if user.hasCharts %}
        <ul class="thumbnails">
            {% for chart in charts %}
            <li class="span3 chart">
                <div class="thumbnail">
                    <img src="http://placehold.it/260x180" width="260" height="180" alt="">

                    <p class="pull-right">
                        <a href="#delete" class="delete" data-chart="{{ chart.id }}"><i class="icon-remove"></i></a>
                    </p>
                     <h3><a href="/chart/{{ chart.id }}/edit">{{ chart.title }}</a></h3>
                     <p>{% trans "Created" %}: {{ chart.createdAt|date() }}<br/>
                     {% trans "Layout" %}: {{ chart.theme }} </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}

            <h2>{% trans "No charts here, yet" %}</h2>
            <p>{% trans "Why not <a href='/chart/create'>create a new chart now</a>?" %}</p>

        {% endif %}
    </div>
    <div class="span3 mycharts-filter">
        <h3>{% trans "By Month" %}</h3>

        <ul class="unstyled">
            {% for month in bymonth %}
            <li {% if key == 'month' and val == month.id %}class="active"{% endif %}><a href="/mycharts/by/month/{{ month.id }}">{{ month.name }}</a> ({{ month.count }})</li>
            {% endfor %}
        </ul>

        <h3>{% trans "By Visualisation" %}</h3>

        <ul class="unstyled">
            {% for vis in byvis %}
            <li {% if key == 'vis' and val == vis.id %}class="active"{% endif %}><a href="/mycharts/by/vis/{{ vis.id }}">{{ vis.name }}</a> ({{ vis.count }})</li>
            {% endfor %}
        </ul>

        <h3>{% trans "By Layout" %}</h3>

        <ul class="unstyled">
            {% for layout in bylayout %}
            <li {% if key == 'layout' and val == layout.id %}class="active"{% endif %}><a href="/mycharts/by/layout/{{ layout.id }}">{{ layout.name }}</a> ({{ layout.count }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/static/vendor/masonry/jquery.masonry.min.js"></script>
<script type="text/javascript">
$(function(){
  //*

  function layout() {
      $('.mycharts .thumbnails').masonry({
        itemSelector : 'li',
        columnWidth : function(w) { return w/3; }
      });
  }

  layout();

  setTimeout(layout, 1000);
   // */


    $('a.delete').click(function(e) {
        e.preventDefault();
        var a = e.target.tagName.toLowerCase() == 'a' ? $(e.target) : $(e.target).parents('a');
        var id = a.data('chart');
        if (window.confirm('Do you really want to delete the chart? Note that this chart won\'t be embedable any more, after deleting.')) {
             $.ajax({
                url: '/api/charts/'+id,
                type: 'DELETE',
                success: function(data) {
                    a.parents('.chart').remove();
                    layout();
                }
            });
        };
    });
});

$('body').load(function() {

});

</script>

{{ parent() }}
{% endblock %}