{% use "utils.twig" %}

{% extends "core.twig" %}


{% block content %}


<div class="docs">
    <div class="pull-right" style="position:relative;top:-16px">
        {{ block('pagination') }}
    </div>
    <h1 class="title">
        {% if user2 %}
            {{ "Charts by %s" | trans | replace({'%s': user2.email }) }}
{#         {% else %}
            {% trans "My Charts" %} #}
        {% endif %}
    </h1>
</div>

<style type="text/css">

.gallery-filter {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

.gallery-filter h1 { margin-top: 0; }
.gallery-filter a { cursor: pointer; }

.gallery-filter .folder-line { align-self: flex-start; }
.gallery-filter form { margin-left: auto; }
.gallery-filter form .btn-group { margin-left: 10px; }

.folders-and-gallery { display: flex; }
.folders-and-gallery .folders { flex: 1 0 0; }
.folders-and-gallery .gallery { flex: 3 0 0;}

.gallery .thumbnails .span3.chart { min-height: 190px; }

.gallery .thumbnails .span3.chart h3 { position: static; }

.folders ul {
    list-style-type: none;
    margin-left: 0;
}

.folders ul ul { margin-left: 25px; }
.folders li a { cursor: pointer; }
.folders li:before { content:"🗁 "; }

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

</style>
<div class="gallery-filter">

    <div class="folder-line">
        <a href="{{ mycharts_base }}">{% trans "My Charts" %}</a><span id="folder-sequence"></span>
        <h1 id="current-folder"> </h1>
    </div>

    <form method="get" class="form form-inline" action="">
        <b>{% trans "Filter" %}:</b> 

        &nbsp;

        <input name="q" class="search-query input-medium" type="text" placeholder="{% trans "Search" %}" value="{{ search_query }}" />

        &nbsp;

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Status" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for status in bystatus %}
                {% if key == 'status' and val == status.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ status.name }} ({{ status.count }})</a></li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/status/{{ status.id }}">{{ status.name }} ({{ status.count }})</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Month" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu by-month">
                <!-- dropdown menu links -->
            {% for month in bymonth %}
                {% if key == 'month' and val == month.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ month.name }} ({{ month.count }})</a> </li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/month/{{ month.id }}">{{ month.name }} ({{ month.count }})</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>

        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Visualisation" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                {% for vis in byvis %}
                {% if key == 'vis' and val == vis.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ vis.name }} ({{ vis.count }})</a> </li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/vis/{{ vis.id }}">{{ vis.name }} ({{ vis.count }})</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        
{#         <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% trans "By Layout" %}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                {% for layout in bylayout %}
                {% if key == 'layout' and val == layout.id %}
                <li class="active"><a href="{{ mycharts_base }}/"><i class="icon-check"></i> {{ layout.name }} ({{ layout.count }})</a></li>
                {% else %}
                <li><a href="{{ mycharts_base }}/by/layout/{{ layout.id }}">{{ layout.name }} ({{ layout.count }})</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div> #}
        
        
    </form>
    
    
</div>

<div class="folders-and-gallery">
    <div class="folders">
        <ul>
            <li><a href="{{ mycharts_base }}">{% trans "My Charts" %}</a></li>
            <ul id="dynamic-tree">
            </ul>
        </ul>
    </div>
    <div class="gallery">

        {% if user.hasCharts %}
        <div class="thumbnails js-masonry" data-masonry-options='{ "itemSelector": ".grid-item", "columWidth": 200 }'>
            {% for chart in charts %}

            <div class="span3 chart" data-id="{{ chart.id }}">
                <div class="thumbnail" style="background:{{ chart.metadata.publish.background }}">
                    <a href="/{{ chart.getNamespace() }}/{{ chart.id }}/edit" >
                        <h3 style="color:{% if chart.metadata.publish.text %}{{ chart.metadata.publish.text }}{% else %}#000{% endif %};text-shadow:1px 1px 3px {% if chart.metadata.publish.background %}{{ chart.metadata.publish.background }}{% else %}#fff{% endif %};">{% if chart.title != '' %}{{ chart.title | replace({'<br/>': ' - '}) | striptags | raw }}{% else %}{{ chart.id }}{% endif %}</h3>

                        <img src="{% if chart.hasPreview %}//{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png{% else %}/static/img/nopreview.png{% endif %}" width="260" >
                     </a>

                     <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="icon-wrench"></i>
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user2 %}
                            <li><a class="edit" href="#"><i class="icon-edit"></i> {% trans "Edit" %}</a></li>
                            {% endif %}
                            <li><a class="duplicate" href="#"><i class="icon-plus"></i> {% trans "Duplicate" %}</a></li>
                            {# <li><a href="/chart/{{ chart.id }}/static?w=700&amp;h=490&amp;f=pdf&amp;padding=20"><i class="icon-download"></i> {% trans "Save as PDF" %}</a></li>
                            <li class="divider"></li> #}
                            <li><a class="delete" href="#"><i class="icon-remove"></i> {% trans "Delete" %}</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#"><i class="icon-folder-open"></i> {% trans "MoveTo" %}</a>
                                <ul class="dropdown-menu folder-list"></ul>
                            </li>
                        <!-- dropdown menu links -->
                        </ul>
                     </div>
                    {# <p>{% trans "Created" %}: {{ chart.createdAt|date() }}<br/>
                     {% trans "Layout" %}: {{ chart.theme }} </p> #}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}

            <h2>{% trans "No charts here, yet" %}</h2>
            <p>{% trans "Why not <a href='/chart/create'>create a new chart now</a>?" %}</p>

        {% endif %}
    </div>
</div>


<div class="after-gallery row">
    <div class="span9">
        
        {% if not user2 %}

            {{ hook('mycharts_after_sidebar', chart, user) }}

        {% else %}

            <h3>{% trans "Switch User" %}</h3>

            <select id="switch_user" style="width:80%">
                {% for user in all_users %}
                <option {% if user == user2 %}selected="selected" {% endif %}value="{{ user.id }}">{{ user.email }}</option>
                {% endfor %}
            </select>
            <script type="text/javascript">
            $('#switch_user').change(function(e) {
                e.preventDefault();
                location.href = '/admin/charts/' + $('#switch_user').val();
            });
        </script>
        {% endif %}


    </div>

    <div class="span3">
        <div class="pull-right">
            {{ block('pagination') }}
        </div>
    </div>
</div>





<script type="text/javascript" src="/static/vendor/overlay/ender.overlay.js"></script>
<script type="text/javascript">
$(function(){

    require(['masonry', 'imagesloaded'], function(Masonry, imagesLoaded) {
        var imgLoad = imagesLoaded('.thumbnails');
        imgLoad.on('progress', _.debounce(layout, 200));
        imgLoad.on('always', layout);
        function layout() {
            setTimeout(function() {
                new Masonry('.thumbnails', {
                    itemSelector: '.chart',
                    transitionDuration: 0
                });
            }, 100);
        }
    });

  //*
  // */
   {% if user2 %}
    $('.thumbnail > a').click(function(e) {
        e.preventDefault();
        dw.backend.popupChart($(e.target).parents('.chart').data('id'), true);
    });

    $('a.edit').click(function(e) {
        e.preventDefault();
        var chart = $(e.target).parents('.chart');
        location.href = $('.thumbnail > a', chart).attr('href');
    });
   {% endif %}


    $('a.delete').click(function(e) {
        e.preventDefault();
        var chart = $(e.target).parents('.chart'),
            id = chart.data('id');
        if (window.confirm({{ "Do you really want to delete the chart? Note that after deleting this chart won\'t be embedable any more." | trans | json | raw }})) {
             $.ajax({
                url: '/api/charts/'+id,
                type: 'DELETE',
                success: function(data) {
                    chart.remove();
                }
            });
        };
    });

    $('.chart a.duplicate').click(function(e) {
        e.preventDefault();
        var id = $(e.target).parents('.chart').data('id');
        $.ajax({
            url: '/api/charts/'+id+'/copy',
            type: 'POST',
            success: function(data) {
                try {
                    if (data.status == "ok") {
                        // redirect to copied chart
                        location.href = '/chart/'+data.data.id+'/visualize';
                    } else {
                        console.warn(data);
                    }
                } catch (e) {
                    console.warn(data);
                }
            }
        });
    });
});

// what's this supposed to do?
$('body').load(function() {

});

var folder_tree;

const build_line = function(path) {
    var cwd, mypath, hopper,
        line = $('#folder-sequence');
        sep = ' > ';

    line.text('');

    mypath = Array.from(path);
    cwd = mypath.pop();
    hopper = folder_tree;

    mypath.forEach(function(dir) {
        var a = document.createElement('a');

        a.innerText = dir;
        a.setAttribute('href', '{{ mycharts_base }}/by/folder/' + hopper[dir].id);
        line.append(sep, a);
        hopper = hopper[dir].sub
    });
    line.append(sep);
    $('#current-folder').text(cwd);
};

const build_tree_list = function(tree, parent, path, pathstring) {
    const filter = { 
        key: '{{key}}',
        val: '{{val}}'
    };
    // const folder_icon = '<i class="icon-folder-open"></i>';
    var nu_path,
        subfolders = Object.keys(tree);

    if (typeof(path) === 'undefined'){
        path = [];
        pathstring = '';
    }

    subfolders.forEach(function(folder) {
        var l1 = document.createElement('li'),
            a1 = document.createElement('a'),
            l2 = document.createElement('li'),
            a2 = document.createElement('a');

        // l.innerHTML = folder_icon;
        a1.innerText = folder;
        if (tree[folder].charts > 0)
            a1.innerText += ' (' + tree[folder].charts + ')';
        a1.setAttribute('href', '{{ mycharts_base }}/by/folder/' + tree[folder].id);

        nu_path = path.concat(folder);
        nu_pstr = pathstring + '/' + folder;

        l1.appendChild(a1);
        parent.append(l1);

        if (filter.key === 'folder' && filter.val == tree[folder].id) {
            // hijack this pass to build active folder line
            build_line(nu_path);
        } else {
            // or append this folder to the MoveTo submenu
            a2.innerText = nu_pstr.slice(1);
            a2.setAttribute('href', '#');
            a2.setAttribute('tabindex', '-1');
            l2.appendChild(a2);

            $('.dropdown-menu.folder-list').append(l2);
        }

        if (tree[folder]) {
            var nu_par = document.createElement('ul');
            parent.append(nu_par);
            build_tree_list(tree[folder].sub, $(nu_par), nu_path, nu_pstr);
        }
    });
};

$('document').ready(function() {
    $.getJSON('/api/folders/dir/user/')
        .done(function(res) {
            if (res.status == 'error') {
                alert(res.message);
            } else if (res.status == 'ok') {
                folder_tree = res.data
                build_tree_list(folder_tree, $('#dynamic-tree'));

                $('.chart .folder-list a').click(function(e) {
                    //only user for now
                    const folder_type = 'user';
                    var id = $(e.target).parents('.chart').data('id');
                    e.preventDefault();

                    $.ajax({
                        url: '/api/folders/chart/' + folder_type + '/' + id + '/' + $(e.target).text(),
                        type: 'PUT',
                        dataType: 'JSON'
                    }).done(function(res) {
                        if (res.status == 'error') {
                            alert(res.message);
                        } else if (res.status == 'ok') {
                            location.reload(true);
                        }
                    }).fail(function(err) {
                        alert('API Error');
                        console.error(err);
                    });
                });
            }
        }).fail(function(err) {
            alert('API Error');
            console.error(err);
        });
});

</script>

{{ parent() }}
{% endblock %}
