{% extends "core.twig" %}

{% block content %}

<div class="docs">
    <ul class="nav nav-pills pull-right">
        <li><a href="#-status">{% trans "Account Status" %}</a></li>
        <li><a href="#-profile">{% trans "Edit Profile" %}</a></li>
        <li><a href="#-password">{% trans "Change Password" %}</a></li>
        <li><a href="#-delete">{% trans "Delete Account" %}</a></li>
    </ul>
    <h1 class="title">{% trans "User Settings" %}</h1>

</div>

<div class="mysettings">
    <div id="-status" class="row">
        <div class="span3">
            <h2>{% trans "Account Status" %}</h2>
            <p>{% trans "See how your account is doing." %}</p>
        </div>
        <div class="span9">
            <div class="form-horizontal" style="margin-bottom:30px">
                <fieldset>

                {% if user.isAbleToPublish %}

                    <div class="btn btn-success btn-large pull-left" style="margin-right: 20px" disabled="disabled">{% trans "Activated" %}</div>
                    <p>{% trans "Your account has been activated, and you are able to create and publish charts." %}</p>

                {% elseif user.role == 'pending' %}

                    <div class="btn btn-warning btn-large pull-left" style="margin-right: 20px" disabled="disabled">{% trans "Pending" %}</div>
                    <p>{% trans "Your account is pending because your email address has not been activated, yet. You can create charts, but they will not be visible for anybody else." %}</p>

                    <p><em>{% trans "Having trouble with the account activation?" %}</em></p>

                    <ul class="options">
                        <li><i class="icon-chevron-right"></i> {{ "Maybe the email has been catched by your email providers spam filter. Please check the spam folder for the last activation email we sent on <strong>%DATE%</strong>." | trans | replace({'%DATE%': activation_email_date }) | raw }}</li>

                        <li><i class="icon-chevron-right"></i> <a class="btn" href="#" id="resend-activation-link">{% trans "Re-send activation link" %}</a></li>

                        <li><i class="icon-chevron-right"></i> {{ "Or, <a href='mailto:%support_email%'>contact us</a> to find other ways to activate your account." | trans | replace({'%support_email%': SUPPORT_EMAIL }) | raw }}</li>
                    </ul>

                {% endif %}

                </fieldset>
            </div>
        </div>
    </div>

    <div class="row" id="-profile">
        <div class="span3">
            <h2>{% trans "Edit Profile" %}</h2>
            <p>{% trans "Filling out your profile is optional. If you do, you can display these information below the charts you publish." %}</p>

        </div>
        <div class="span9">
            <div class="form-horizontal settings profile">
                <fieldset>

                    <div class="email control-group{% if new_email_confirmed %} success{% endif %}">
                        <label class="control-label" for="email">{% trans "E-Mail" %}</label>
                        <div class="controls">
                            <input type="email" class="input-xlarge" id="email" value="{{ user.email }}">
                            <p class="help-block">
                                {% if new_email_confirmed %}
                                    {% trans "Your email address has been updated!" %}
                                {% else %}
                                    {% trans "This is the email address which you use as login and to which we send notification emails." %}
                                {% endif %}
                            </p>
                        </div>

                    </div>

                    <div class="control-group">
                        <label class="control-label" for="name">{% trans "Name" %}</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" placeholder="" value="{{ user.name }}">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="website">{% trans "Website" %}</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="website" placeholder="http://" value="{{ user.website }}">
                            <p class="help-block">{% trans "Add a website that contains more information about you (e.g. your blog). Optionally you can display these information below you published charts." %}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="socialmedia">{% trans "Twitter/Facebook/etc" %}</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="socialmedia" placeholder="http://twitter.com/" value="{{ user.smProfile }}">
                            <p class="help-block">{% trans "Enter the link to your favorite social media profile (e.g. Twitter)." %}</p>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" id="save-profile">{% trans "Save changes" %}</button>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>

    <div class="row" id="-password">
        <div class="span3">
            <h2>{% trans "Change Password" %}</h2>
            <p>{% trans "For security reasons we ask you to provide your current password. Please make sure you use a strong password." %}</p>
        </div>
        <div class="span9">
            <div class="form-horizontal settings password">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="cur-pwd">{% trans "Current Password" %}</label>
                        <div class="controls">
                            <input type="password" class="input-xlarge" id="cur-pwd">
                            <p class="help-block">{% trans "For security reasons, please provide your current password." %}</p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="pwd">{% trans "New Password" %}</label>
                        <div class="controls">
                            <input type="password" class="input-xlarge" id="pwd">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="pwd2">{% trans "(repeat)" %}</label>
                        <div class="controls">
                            <input type="password" class="input-xlarge" id="pwd2">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox"><input type="checkbox" id="show-passwords" /> {% trans "Show password in clear text" %}</label>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" id="change-password">{% trans "Change Password" %}</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row" id="-delete">
        <div class="span3">
            <h2>{% trans "Delete Your Account" %}</h2>
            <div class="alert alert-danger">
                <h4 class="alert-heading">{% trans "Warning" %}</h4>
                <p>{% trans "This will remove your Datawrapper account. The charts you created so far will remain visible in places where you embedded them." %}</p>
            </div>
        </div>
        <div class="span9">
            <div class="form-horizontal">
                 <fieldset>
                     <div class="control-group">
                        <label class="control-label" for="are-you-sure">{% trans "Are you sure?" %}</label>
                        <div class="controls">
                            <label class="checkbox" for="are-you-sure"><input type="checkbox" id="are-you-sure" /> {% trans "Yes, I really know what I'm doing" %}</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="delete-account">{% trans "So then.." %}</label>
                        <div class="controls">
                            <button class="btn btn-danger" id="delete-account">{% trans "Delete my account!" %}</button>
                        </div>
                    </div>
                    <div class="modal hide" id="confirmDeletion">
                        <div class="modal-body">
                            <h2 style="margin-bottom:20px">{% trans "Account deletion" %}</h2>
                            <p>{% trans "Think about it one more time. Have you considered all the consequences of deleting your account?" %}</p>
                            <ul>
                                <li>{% trans "You cannot login and logout anymore." %}</li>
                                <li>{% trans "You cannot edit or remove your charts anymore." %}</li>
                            </ul>
                            <p>{% trans "Note that this will only delete your account. Your charts will not be removed. If you want to remove your charts, please do it manually." %}</p>
                            <div class="">
                                <p><b>{% trans "Please enter your password to confirm the deletion request:" %}</b></p>
                                <div class="control-group">
                                    <input type="password" id="confirm-pwd" placeholder="{% trans "Password" %}" />
                                </div>
                                <p>{% trans "Do you still <b>really</b> want to delete your Datawrapper account?" %}</p>
                                <div class="control-group">
                                    <div class="btn btn-info" data-dismiss="modal">{% trans "No, I changed my mind.." %}</div>
                                    <div id="really-delete-account" class="btn btn-danger">{% trans "Yes, delete it!" %}</div>
                                </div>
                            </div>
                        </div>

                        <div class="post-delete" style="display:none">
                            <h2 style="margin-bottom:20px;text-align:center">{% trans "Your account has been deleted." %}</h2>
                            <a href="/" class="btn btn-primary btn-large">{% trans "Goodbye!" %}</a>
                        </div>
                    </div>
                 </fieldset>
                <p></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(function() {

    var uid = '{{ api_user }}';

    $('#resend-activation-link').click(function(e) {
        e.preventDefault();
        dw.backend.resendActivationMail($(e.target).parent());
    });

    // save profile
    $('#save-profile').click(function(e) {
        var submit = $(e.target),
        payload = {
            email: $('#email').val(),
            name: $('#name').val(),
            website: $('#website').val(),
            profile: $('#socialmedia').val()
        };
        submit.addClass('loading');
        $.ajax({
            url: '/api/users/' + uid,
            type: 'PUT',
            dataType: 'json',
            data: JSON.stringify(payload),
            success: function(data) {
                submit.removeClass('loading');
                if (data.status == 'ok') {
                    _.each(data.data.messages, function(msg) {
                        dw.backend.logMessage(msg, $('.settings.profile .control-group')[0], 'info');
                    });
                    _.each(data.data.errors, function(msg) {
                        dw.backend.logMessage(msg, $('.settings.profile .control-group')[0], 'warning');
                    });
                    $('.profile .reset').prop('disabled', true);
                } else {
                    dw.backend.logError(data.message, $('.settings.profile .control-group')[0]);
                }
            }
         });
    });

    // change password
    $('#change-password').click(function(e) {
        var submit = $(e.target),
            parent = $($('.settings.password .control-group')[0]),
            curPwd = $.trim($('#cur-pwd').val()),
            pwd = $.trim($('#pwd').val()),
            pwd2 = $.trim($('#pwd2').val()),
            check;

        dw.backend.clearAlerts()

        check = dw.backend.checkPassword(curPwd, pwd, pwd2);
        if (check === true) {
            // at first we req
            submit.addClass('loading');

            $.getJSON('/api/auth/salt', function(res) {
                if (res.status == 'ok') {
                    var salt = res.data.salt
                        hmac = CryptoJS.HmacSHA256,
                        payload = {
                            oldpwhash: hmac(curPwd, salt).toString(),
                            pwd: CryptoJS.HmacSHA256(pwd, salt).toString()
                        };

                    $('#pwd').val('');
                    $('#pwd2').val('');
                    $('#cur-pwd').val('');

                    $.ajax({
                        url: '/api/users/'+uid,
                        type: 'PUT',
                        data: JSON.stringify(payload),
                        dataType: 'json',
                        success: function(data) {
                            submit.removeClass('loading');
                            if (data.status == 'ok') {
                                _.each(data.data.messages, function(msg) {
                                    dw.backend.logMessage(msg, $('.settings.password .control-group')[0], 'info');
                                });
                                _.each(data.data.errors, function(msg) {
                                    dw.backend.logMessage(msg, $('.settings.password .control-group')[0], 'warning');
                                });
                                if (!data.data.errors.length) {
                                    dw.backend.logMessage('{% trans "Congrats! Your password has been changed." %}', parent);
                                }
                            }
                        }
                    });
                }
            });
        }
    });

    // show password in clear text
    $('#show-passwords').change(function() {
        var t = $('#show-passwords').prop('checked') ? 'text' : 'password';
        $('#pwd')[0].type = t;
        $('#pwd2')[0].type = t;
    });

    $('#delete-account').prop('disabled', true);
    $('#are-you-sure').change(function() {
        $('#delete-account').prop('disabled', !$('#are-you-sure').prop('checked'));
    });
    $('#delete-account').click(function() {
        $('#confirmDeletion').modal({
            keyboard: true
        });
    });
    $('#really-delete-account').click(function() {
        $.getJSON('/api/auth/salt', function(r) {
            if (r.status == 'ok') {
                var cpwd = CryptoJS.HmacSHA256($('#confirm-pwd').val(), r.data.salt).toString();
                $.ajax({
                    url: '/api/users/'+uid+'?pwd='+cpwd,
                    type: 'DELETE',
                    data: JSON.stringify({
                        pwd: cpwd
                    }),
                    dataType: 'json'
                }).done(function(res) {
                    if (res.status == 'ok') {
                        $('#confirmDeletion .modal-body').remove();
                        $('#confirmDeletion .modal-footer').remove();
                        $('#confirmDeletion .post-delete').css({
                            'text-align': 'center',
                            'padding': '30px'
                        });
                        $('#confirmDeletion .post-delete').addClass('modal-body');
                        $('#confirmDeletion .post-delete').show();
                    } else {
                        dw.backend.logError(res.message, $('#confirm-pwd').parent());
                    }
                }).fail(function(res) {
                    dw.backend.logError('could not delete user: ' + JSON.stringify(res), $('#confirm-pwd').parent());
                });
            } else {
                dw.backend.logError('could not load salt', $('#confirm-pwd').parent());
            }
        });
    });
});

</script>

{{ parent() }}
{% endblock %}
