{% extends "core.twig" %}

{% block content %}
{# header #}

<style type="text/css">

.settings-header {
    margin-bottom: 20px;
    padding-left: 5px;
}

.settings-header .avatar {
    border-radius: 8px;
    width: 32px;
    height: 32px;
}

.user-name {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.settings-body h2 {
    font-weight: 300;
}
.settings-menu li i.fa {
    width: 17px;
    text-align: center;
    position: relative;
    left: -3px;
}
.settings-menu li.delete a {
    color: darkred;
}
</style>

<div class="container">
    <div class="row">
        <div class="span3 offset0">
            <div class="settings-header">
                <img class="avatar" src="//www.gravatar.com/avatar/{{ gravatar }}?s=64&amp;d=mm" />
                <div class="user-name">{{ user.guessName() }}</div>
            </div>
            <div class="settings-menu">
                <ul class="nav nav-tabs nav-stacked">
                    {% for page in pages %}
                    <li class="{{ page.url }}{% if page.url == active %} active{% endif %}">
                        <a href="/settings/{{ page.url }}">{% if page.icon %}<i class="fa {{ page.icon }}"></i> {% endif %}{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="settings-body {{ active | lower }}">
                {{ block('settings_content') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}