{% block piwik %}

    {% if PIWIK_URL %}

    <!-- Piwik -->
<script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{ PIWIK_URL }}/" : "http://{{ PIWIK_URL }}/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ PIWIK_IDSITE }});
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript>
  <p><img src="http://{{ PIWIK_URL }}/piwik.php?idsite={{ PIWIK_IDSITE }}" style="border:0" alt="" /></p>
</noscript>
<!-- End Piwik Tracking Code -->


        {% if PIWIK_IDSITE_NO_CHARTS %}

    <!-- Piwik -->
<script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{ PIWIK_URL }}/" : "http://{{ PIWIK_URL }}/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ PIWIK_IDSITE_NO_CHARTS }});
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript>
  <p><img src="http://{{ PIWIK_URL }}/piwik.php?idsite={{ PIWIK_IDSITE_NO_CHARTS }}" style="border:0" alt="" /></p>
</noscript>
<!-- End Piwik Tracking Code -->

        {% endif %}
    {% endif %}

{% endblock %}

