
{% block pagination %}

{% if pager.first != pager.last %}
<div class="pagination">
    <ul>
        <li {% if pager.first == pager.current %}class="disabled"{% endif %}>
            <a href="?page={{ pager.first }}">«</a>
        </li>
        {% for pg in pager.pages %}
            <li {% if pg == pager.current %}class="active" {% endif %}>
                <a href="?page={{ pg }}">{{ pg + 1 }}</a></li>
        {% endfor %}
        <li {% if pager.last == pager.current %}class="disabled"{% endif %}>
            <a href="?page={{ pager.last }}">»</a>
        </li>
    </ul>
</div>
{% endif %}

{% endblock %}


{% block alert %}

    {% if alert %}
        <div class="alert alert-{{ alert.type }}">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <div>{{ alert.message }}</div>
        </div>
    {% endif %}

{% endblock %}


{% block gallerythumb %}
    <li class="span3 chart" data-id="{{ chart.id }}">
        <div data-id="{{ chart.id }}" data-bg="{{ chart.metadata.publish.background }}" data-w="{{ chart.metadata.publish['embed-width'] }}" data-h="{{ chart.metadata.publish['embed-height'] }}" class="thumbnail">
            <h3><a href="/gallery/#/{{ chart.id }}" style="color:{% if  chart.metadata.publish.text %}{{ chart.metadata.publish.text }}{% else %}#000{% endif %};text-shadow:1px 1px 3px {% if  chart.metadata.publish.background %}{{ chart.metadata.publish.background }}{% else %}#fff{% endif %};">{{ chart.title }}</a></h3>

            <a href="/gallery/#/{{ chart.id }}" >
                <img src="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png" width="260" alt="" style="background:{{ chart.metadata.publish.background }}"></a>

        </div>
    </li>
{% endblock %}


{% block teaserlogin %}
        {% if not user.isLoggedIn %}
                <a href="#login" class="btn btn-primary btn-login btn-large">
                    <i class="icon-user icon-white"></i> {% trans "Login / Sign Up" %}
                </a>
                <a href="/chart/create" class="btn btn-login btn-large">
                    <i class="icon-pencil"></i> {% trans "Try it now!" %}
                </a>
        {% else %}
                <a href="/chart/create" class="btn-primary btn btn-large"><i class="icon-pencil icon-white"></i> {% trans "Create a Chart" %}</a>
                <a href="/mycharts" class="btn btn-large"><i class="icon-signal"></i> {% trans "My Charts" %}</a>
        {% endif %}
{% endblock %}

{% block chartMenuHTML %}
    <div class="chartMenu">
        <a href="{{ DW_CHART_URL }}" target="_blank" title="{% trans "Fullscreen" %}" data-toggle="fullscreen"><i class="icon-fullscreen"></i></a>
        <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data" title="{% trans "Get the data" %}"><i class="icon-download"></i></a>
        <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data" title="{% trans "Share this chart" %}"><i class="icon-share"></i></a>
    </div>
{% endblock %}


{% block chartMenu %}

    <style type="text/css">
    .chartMenu {
        position: absolute;
        top: 9px;
        right: 9px;
        z-index: 1000;
        width: 110px;
        text-align: right;
        height: 30px;
        display: none;
        background: #fff;
        padding-top: 9px;
        padding-right: 9px;
        border-radius: 5px;
                box-shadow: 2px 2px 10px #bbb;

    }


    #header:hover .chartMenu {
        display: block;
    }

    .icon-fullscreen, .icon-share, .icon-download {
        background-image: url(//assets-datawrapper.s3.amazonaws.com/chart-icons.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 10px;
        opacity: 0.4;
        cursor: pointer;
    }

    .icon-fullscreen:hover, .icon-share:hover, .icon-download:hover {
        opacity: 1;
    }

    .icon-fullscreen {
        width: 23px;
        height: 22px;
        background-position: 0 0;
    }

    .icon-fullscreen.icon-white { background-position: 0 -22px; }

    .icon-share {
        width: 25px;
        height: 22px;
        background-position: -45px 0;
    }

    .icon-share.icon-white { background-position: -45px -22px; }

    .icon-download {
        width: 20px;
        height: 22px;
        background-position: -24px 0;
    }

    .icon-download.icon-white { background-position: -24px -22px; }

    </style>
    {{ block('chartMenuHTML') }}

{% endblock %}


{% block chartMenuSmall %}

    <style type="text/css">

    .chartMenu {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 80px;
        text-align: right;
        height: 26px;
        background: #fff;
        padding-top: 6px;
        padding-right: 9px;
        border-radius: 5px;
        box-shadow: 2px 5px 5px #ddd;
        display: none;
    }

    #header:hover .chartMenu {
        display: block;
    }

    .icon-fullscreen, .icon-share, .icon-download {
        background-image: url(//assets-datawrapper.s3.amazonaws.com/chart-icons-small.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 6px;
        opacity: 0.3;
        cursor: pointer;
    }

    .icon-fullscreen:hover, .icon-share:hover, .icon-download:hover {
        opacity: 0.8;
    }

    .icon-fullscreen {
        width: 16px;
        height: 15px;
        background-position: 0 0;
    }

    .reverse .icon-fullscreen { background-position: 0 -15px; }

    .icon-share {
        width: 17px;
        height: 15px;
        background-position: -32px 0;
    }

    .reverse .icon-share { background-position: -32px -15px; }

    .icon-download {
        width: 14px;
        height: 15px;
        background-position: -17px 0;
    }

    .reverse .icon-download { background-position: -17px -15px; }

    </style>
    {{ block('chartMenuHTML') }}

{% endblock %}