
{% block pagination %}

{% if pager.first != pager.last %}
<div class="pagination">
    <ul>
        <li {% if pager.first == pager.current %}class="disabled"{% endif %}>
            <a href="?page={{ pager.first }}">«</a>
        </li>
        {% for pg in pager.pages %}
            <li {% if pg == pager.current %}class="active" {% endif %}>
                <a href="?page={{ pg }}">{{ pg + 1 }}</a></li>
        {% endfor %}
        <li {% if pager.last == pager.current %}class="disabled"{% endif %}>
            <a href="?page={{ pager.last }}">»</a>
        </li>
    </ul>
</div>
{% endif %}

{% endblock %}


{% block gallerythumb %}

    <li class="span3 chart" data-id="{{ chart.id }}">
        <div data-id="{{ chart.id }}" data-bg="{{ chart.metadata.publish.background }}" data-w="{{ chart.metadata.publish['embed-width'] }}" data-h="{{ chart.metadata.publish['embed-height'] }}" class="thumbnail">
            <h3><a href="/gallery/#/{{ chart.id }}" style="color:{% if  chart.metadata.publish.text %}{{ chart.metadata.publish.text }}{% else %}#000{% endif %};text-shadow:1px 1px 3px {% if  chart.metadata.publish.background %}{{ chart.metadata.publish.background }}{% else %}#fff{% endif %};">{{ chart.title }}</a></h3>

            <a href="/gallery/#/{{ chart.id }}" >
                <img src="http://{{ DW_CHART_CACHE_DOMAIN }}/{{ chart.id }}/m.png" width="260" alt="" style="background:{{ chart.metadata.publish.background }}"></a>

        </div>
    </li>

{% endblock %}
