{% block visoptions %}

<fieldset>

    <div class="control-group select-color">
        <label class="control-label" for="select-color">{% trans "Pick base color" %}</label>
        <div class="controls">
            <div id="select-color"></div>
        </div>
    </div>

    {% if vis.dimensions == 1 %}
    <div class="control-group select-row">
        <label class="control-label" for="text-title">{% trans "Select row to display" %}</label>
        <div class="controls">
            <select id="select-row" style="width:100%">
            </select>
        </div>
    </div>
    {% endif %}

    {% for key, option in vis.options %} {% if not option.hidden %}
    <div class="control-group" style="margin-bottom:0px" id="vis-options-{{ key }}">
        {% if option.type == 'checkbox' %}
            <label class="control-label" for="{{ key }}">{{ option.label[language] }}</label>
            <div class="controls">
                <input type="checkbox" id="{{ key }}" />
            </div>

        {% elseif option.type == 'select' %}

            <label class="control-label" for="{{ key }}">{{ option.label[language] }}</label>
            <div class="controls">
                <select id="{{ key }}">
                    {% for opt in option.options %}
                    <option value="{{ opt.value }}">{{ opt.label[language] }}</option>
                    {% endfor %}
                </select>
            </div>

        {% elseif option.type == 'radio' %}

            <label class="control-label"  for="{{ key }}">{{ option.label[language] }}</label>
            <div class="controls form-inline">
                {% for opt in option.options %}
                <div><label class="radio"><input type="radio" name="{{ key }}" value="{{ opt.value }}" {% if opt.default %}checked="checked" {% endif %}/> {{ opt.label[language] }}</label></div>
                {% endfor %}
            </div>

        {% elseif option.type == 'text' %}

            <label class="control-label"  for="{{ key }}">{{ option.label[language] }}</label>
            <div class="controls form-inline">
                <input type="text" style="width:auto" id="{{ key }}" value="" />
            </div>

        {% else %}
            <p>Unhandled option type {{ option.type }}</p>
        {% endif %}
    </div>
    {% endif %}{% endfor %}
</fieldset>
<script type="text/javascript">

$(function() {
    var chart = DW.currentChart;

    function syncVisOptions(vis) {
        _.each(vis.options, function(opt, key) {
            if (opt.type == 'radio') {
                chart.sync('input[name='+key+']', 'metadata.visualize.'+key);
            } else {
                chart.sync('#'+key, 'metadata.visualize.'+key);
            }
        });
        // check visibility of each option (evaluate "depends-on" property)
        function checkDepends() {
            _.each(vis.options, function(opt, key) {
                if (opt['depends-on'] !== undefined) {
                    var visible = true;
                    _.each(opt['depends-on'], function(val, key) {
                        visible = visible && chart.get('metadata.visualize.'+key) == val;
                    });
                    if (visible) $('#vis-options-'+key).show();
                    else $('#vis-options-'+key).hide()
                }
            });
        }
        checkDepends();
        chart.onChange(checkDepends);
    };

    // initial visualization meta
    var vis = JSON.parse('{{ vis|json|raw }}');
    syncVisOptions(vis);

    // populate select-row
    if (vis.dimensions == 1) {
        chart.datasetLoaded(function(chart) {
            if (chart.numRows() > 1) {
                var selRows = $('#select-row');
                for (var r=0; r<chart.numRows(); r++) {
                    selRows.append('<option value="'+r+'">'+chart.rowLabel(r)+'</option>');
                }
                chart.sync('#select-row', 'metadata.visualize.selected-row');
            } else {
                $('.select-row').hide();
            }
        });
    }

});

</script>

{% endblock %}