<script type="text/javascript" src="/static/plugins/{{ plugin }}/annotations.js?v={{ sha }}"></script>
<link rel="stylesheet" type="text/css" href="/static/plugins/{{ plugin }}/annotations.css?v={{ sha }}">

<div id="svelte-annotations"></div>

<script type="text/javascript">

require(['svelte/{{ plugin }}/annotations'], function(mod) {
    var App = mod.App;

    var chartData = {{ chart.toStruct() | json | raw }};
    var chart = new mod.Chart(chartData);

    // migrate metadata
    var annotationMetadata =
        chartData &&
        chartData.metadata &&
        chartData.metadata.visualize &&
        chartData.metadata.visualize['text-annotations'];

    if (annotationMetadata && annotationMetadata.length) {
        annotationMetadata.forEach(function(a) {
            if (a.size && !a.fontSize) {
                a.fontSize = a.size;
                delete a.size;
            }
        });
    }

    new App({
        store: chart,
        target: document.querySelector('#svelte-annotations')
    });
});

</script>
