<script type="text/javascript" src="/static/plugins/{{ plugin }}/annotations.js?v={{ sha }}"></script>
<link rel="stylesheet" type="text/css" href="/static/plugins/{{ plugin }}/annotations.css?v={{ sha }}">

<div id="svelte-annotations"></div>

<script type="text/javascript">

require(['svelte/{{ plugin }}/annotations'], function(mod) {
    var App = mod.App;

    var chartData = {{ chart.toStruct() | json | raw }};
    var chart = new mod.Chart(chartData);

    new App({
        store: chart,
        target: document.querySelector('#svelte-annotations')
    });

    chart.on('state', function (_ref) {
        var changed = _ref.changed;
        var current = _ref.current;
        var previous = _ref.previous;

        if (previous && changed.metadata) {
            chart.store();
        }

        if (dw && dw.backend && dw.backend.currentChart) {
            var iframe = document.querySelector('#iframe-vis');
            if (iframe && iframe.contentWindow) {
                var win = iframe.contentWindow;
                if (win.__dw && win.__dw.attributes) {
                    win.__dw.attributes({ metadata: current.metadata });
                }
            }

            // set metadata directly without saving again
            dw.backend.currentChart.attributes().metadata = JSON.parse(JSON.stringify(current.metadata));
        }
    });

});

</script>
