{% extends "admin-base.twig" %}

{% block title %}Admin{% endblock %}
{% block adminpage %}

    <script type="text/javascript">
        window.__locale = '{{ chartLocale }}';
    </script>

    <link rel="stylesheet" type="text/css" href="/static/plugins/visualization-line-chart/line-chart.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/plugins/visualization-pie-chart/pie-chart.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/plugins/visualization-column-charts/column-chart.css"></link>
    <link rel="stylesheet" type="text/css" href="/static/plugins/theme-default/default.css"></link>

    <script type="text/javascript" src="/static/vendor/globalize/globalize.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-raphael-chart/vendor/chroma.min.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-raphael-chart/vendor/raphael-2.1.2.min.js"></script>

    <script type="text/javascript" src="/static/js/dw-2.0.js"></script>
    <script type="text/javascript" src="/static/js/dw-backend.js"></script>

    <script type="text/javascript" src="/static/plugins/theme-default/default.js"></script>
    <script type="text/javascript" src="/static/vendor/d3js/d3-light.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-raphael-chart/raphael-chart.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-line-chart/line-chart.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-pie-chart/pie-chart.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-pie-chart/donut-chart.js"></script>
    <script type="text/javascript" src="/static/plugins/visualization-column-charts/column-chart.js"></script>

    <script type="text/javascript">

    dw.backend.ready(function() {

        require(['plugins/visualization-raphael-chart/vendor/raphael-2.1.2.min'], function(r) {
            window.Raphael = r;

            donutChart("#user-types", '{{ users_csv | raw }}', ['Activated']);
            donutChart("#chart-last-edit", '{{ charts_edit_step_csv | raw }}', ['Publish']);
            columnChart("#chart-type", '{{ charts_by_type_csv | raw }}');
            lineChart('#user-stats', '{{ user_signups_csv | raw }}');
            lineChart('#charts-created-stats', '{{ created_csv | raw }}');
            lineChart('#charts-created-week-stats', '{{ created_weekly_csv | raw }}', true);
            lineChart('#charts-published-stats', '{{ published_csv | raw }}');
            lineChart('#charts-published-week-stats', '{{ published_week_csv | raw }}', true);

        });

        function lineChart(cont, data, smooth) {
            cont = $(cont);
            // initialize theme
            var theme = dw.theme('default');
            // initialize chart
            var chart = dw.chart({
                type: "line-chart",
                metadata: {
                    data: {
                        transpose: false,
                        'horizontal-header': true,
                        'vertical-header': true
                    },
                    visualize: {
                        'direct-labeling': false,
                        'legend-position': 'top',
                        'rotate-x-labels': false,
                        'baseline-zero': true,
                        'force-banking': false,

                        'fill-below': true,
                        'line-mode': smooth ? 'curved' : 'straight',
                        'connect-missing-values': true,
                        'highlighted-values': [],
                        'highlighted-series': []
                    },
                    describe: {
                        'number-format': 'n0',
                        'number-divisor': 0,
                        'number-currency': '',
                        'number-unit': '',
                        'number-append': '',
                        'number-prepend': ''
                    }
                }
            });

            // initliaze visualization
            var vis = dw.visualization('line-chart');
            vis.meta = {{ linechart | json | raw }};

            dw.datasource.delimited({ csv: data }).dataset().done(function(ds) {

                chart.dataset(ds)
                    .locale('en-US', {"3":"k","6":"m","9":"b","12":"t"})
                    .theme(theme)
                    .vis(vis);

                vis.size(cont.width(),200)
                   .__init()
                   .render(cont);
            });

        }


        function donutChart(cont, data, hl) {
            cont = $(cont);
             // initialize theme
            var theme = dw.theme('default');
            // initialize chart
            var chart = dw.chart({
                type: "donut-chart",
                metadata: {
                    data: {
                        transpose: false,
                        'horizontal-header': true,
                        'vertical-header': true
                    },
                    visualize: {
                        'show-total': true,
                        'highlighted-series': hl
                    },
                    describe: {
                        'number-format': 'n0',
                        'number-divisor': 0,
                        'number-currency': '',
                        'number-unit': '',
                        'number-append': '',
                        'number-prepend': ''
                    }
                }
            });

            // initliaze visualization
            var vis = dw.visualization('donut-chart');
            vis.meta = {{ donutchart | json | raw }};
            vis.meta.locale = { other: 'others' };
            dw.datasource.delimited({ csv: data }).dataset().done(function(ds) {
                chart.dataset(ds)
                    .locale('en-US', {"3":"k","6":"m","9":"b","12":"t"})
                    .theme(theme)
                    .vis(vis);

                vis.size(cont.width(),240)
                   .__init()
                   .render(cont);
            });
        }

        function columnChart(cont, data) {
            cont = $(cont);
            // initialize theme
            var theme = dw.theme('default');
            // initialize chart
            var chart = dw.chart({
                type: "donut-chart",
                metadata: {
                    data: {
                        transpose: false,
                        'horizontal-header': true,
                        'vertical-header': true
                    },
                    visualize: {
                        'grid-lines': 'hide',
                        'sort-values': true
                    },
                    describe: {
                        'number-format': 'n0',
                        'number-divisor': 0,
                        'number-currency': '',
                        'number-unit': '',
                        'number-append': '',
                        'number-prepend': ''
                    }
                }
            });

            // initliaze visualization
            var vis = dw.visualization('column-chart');
            vis.meta = {{ columnchart | json | raw }};
            vis.meta.locale = { other: 'others' };
            dw.datasource.delimited({ csv: data }).dataset().done(function(ds) {
                chart.dataset(ds)
                    .locale('en-US', {"3":"k","6":"m","9":"b","12":"t"})
                    .theme(theme)
                    .vis(vis);

                vis.size(cont.width(),240)
                   .__init()
                   .render(cont);
            });
        }


    });

    </script>

    <style type="text/css">

body {
    overflow: scroll!important;
}

.linechart .label {
    background: none;
    font-weight: inherit;
    text-shadow: none;
}

.linechart {
    height: 230px!important;
    width: 970px!important;
    position: relative;
}

.donut-chart .label, .line-chart .label {
    background: 0;
    padding: 0;
    font-weight: normal;
}

.donut-chart {
    overflow: hidden;
}

h2 { margin-bottom: 10px; }
    </style>


    <div class="row">
        <div class="span3">
            <h2>User statistics</h2>
            <div id="user-types"></div>
        </div>
        <div class="span4">
            <h2>Charts by type..</h2>
            <div id="chart-type"></div>
        </div>
        <div class="span3">
            <h2>..and last edit step</h2>
            <div id="chart-last-edit"></div>
        </div>
    </div>

    <h2>User signed up per day <small>(last 90 days)</small></h2>
    <div id="user-stats" class="linechart"></div>

    <h2>Charts created per day <small>(last 90 days)</small></h2>
    <div id="charts-created-stats" class="linechart"></div>

    <h2>Charts created per week <small>(last 26 weeks)</small></h2>
    <div id="charts-created-week-stats" class="linechart"></div>

    <h2>Charts published per day <small>(last 90 days)</small></h2>
    <div id="charts-published-stats" class="linechart"></div>

    <h2>Charts published per week <small>(last 26 weeks)</small></h2>
    <div id="charts-published-week-stats" class="linechart"></div>

<!--     <h2>Chart Gallery <small>(the last 10 charts)</small></h2>
    <div class="row" id="gallery">

        <script type="text/javascript">
        $(function() {
            $.ajax({
                url: '/api/gallery',
                dataType: 'json',
                success: function(res) {
                    $.each(res.data.slice(0,12), function(i, chart) {
                        var div = $('<div class="span3 pull-left"><div style="padding:3px 3px 10px;display:block;"><a href="//{{ DW_CHART_CACHE_DOMAIN }}/'+chart.Id+'" style="font-weight:bold;font-size:16px">'+chart.Title+'</a> <span style="font-weight:normal">by</span> <span data-id="'+chart.AuthorId+'" class="user" style="border-bottom:1px dotted orange">'+chart.AuthorId+'</span> at '+chart.LastModifiedAt+' (<a href="http://{{ DW_DOMAIN }}/chart/'+chart.Id+'/edit"><i class="icon-pencil"></i></a>)</div><iframe style="border:none" src="//{{ DW_CHART_CACHE_DOMAIN }}/'+chart.Id+'/plain.html" width="100%" height="260"></iframe></div>');
                        $('#gallery').append(div);
                    });
                }
            });

            $('span.user').live('click', function(e) {
                var s = $(e.target);
                if (s.data('id')) {
                    $.getJSON('/api/users/'+s.data('id'), function(res) {
                        s.data('id', null);
                        s.html(res.data.Email);
                    });
                }
            });
        });
        </script>

    </div> -->

{% endblock %}

