

<div id="header">
    <h1>{{ title }}</h1>

    {% if intro %}
    <p>{{ intro|purify|raw }}</p>
    {% endif %}
</div>

<div id="chart"></div>

<div id="footer">
    <div class="footer-left">
        {% if source %}
            {% trans "Source: " %}
                {% if sourceURL %}<a href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>
                {% endif %}, 
        {% endif %}
         <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data">{% trans "Get the data" %}</a>
    </div>
    <div class="footer-right">
        {# <img src="{{ ASSET_PATH }}guardian-logo.png" alt="The Guardian" /> #}
    </div>
    <br class="clearfix" />
</div>