

<div id="header">
    {% if not plain %}
    <h1>{{ title }}</h1>

    {% if intro %}
    <p>{{ intro|purify|raw }}</p>
    {% endif %}
    {% endif %}
</div>

<div id="chart"></div>

<div id="footer">
    {% if not plain %}
    <div class="footer-left">

        {% if source %}
        Source:
            {% if sourceURL %}<a target="_blank" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>
            {% endif %}<br/>

        {% endif %}
        <a href="data">Get the data</a>&nbsp;&nbsp;
        <a href="#embed">Embed</a>&nbsp;&nbsp;
        <a href="{{ chartUrlFs }}" data-toggle="fullscreen">Fullscreen</a><br/>

        <div class="embed-code hide">
            <div class="close">×</div>
            <div>Please use the following HTML code to embed this chart:</div>
            <textarea>{{ embedCode }}</textarea>
        </div>
        <script type="text/javascript">
        $('a[href=#embed], .embed-code .close').click(function() { $('.embed-code').toggleClass('hide'); });
        $('.embed-code textarea').click(function() { $(this).focus().select(); });
        </script>

    </div>
    <a class="logo" href="http://guardian.co.uk" target="_blank">
        <img src="{{ ASSET_PATH }}guardian-logo-bw.png" class="small" alt="The Guardian" width="89" height="16" />
        <img src="{{ ASSET_PATH }}guardian-logo-bw-big.png" class="big" alt="The Guardian" width="184" height="34" />
    </a>
    {% endif %}
</div>


</div>