

<div id="header">
    <h1>{{ title }}</h1>

    {% if intro %}
    <p>{{ intro|purify|raw }}</p>
    {% endif %}

</div>

<div id="chart"></div>

<div id="footer">
    <div class="footer-left">

        {% if source %}
        {% trans "Source: " %}
            {% if sourceURL %}<a target="_blank" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>
            {% endif %}
        {% endif %}

    </div>
    <a class="logo" href="http://guardian.co.uk" target="_blank">
        <img src="{{ ASSET_PATH }}guardian-logo-bw.png" alt="The Guardian" width="90" height="19" />
    </a>
    {% use "utils.twig" %}
    {{ block('chartMenu') }}
</div>


</div>