

<div id="header">
    {% if not plain %}
    <h1>{{ title }}</h1>

    {% if intro %}
    <p>{{ intro|purify|raw }}</p>
    {% endif %}
    <a href="{{ chartUrlFs }}" target="_blank" class="fs-btn top-right" title="{% trans "Fullscreen" %}" data-toggle="fullscreen"></a>
    {% endif %}
</div>


<div id="chart"></div>

<div id="footer">
    {% if not plain %}

    <div class="footer-left">
    {% if source %}
        Source:
        {% if sourceURL %}<a target="_blank" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %}
    {% endif %}
        <!-- <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data">{% trans "Download data" %}</a> -->
    </div>

    <a class="logo" target="_blank" href="http://lemonde.fr">
        <img class="small" src="{{ ASSET_PATH }}lemonde-logo-small.png"/>
        <img class="big" src="{{ ASSET_PATH }}lemonde-logo-big.png"/>
    </a>
    {% endif %}
</div>
