

<div class="widget">
    <div class="widget-header">
        <h1>{{ title }}</h1>
    </div>


    {% if intro %}
        <div id="header">
            <p>{{ intro|purify|raw }}</p>
        </div>
    {% endif %}

    <div class="widget-body">

        <div id="chart"></div>

        <div id="footer">
            <div class="footer-left">
            {% if source %}
                {% trans "Source: " %}
                {% if sourceURL %}<a href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %}
            {% endif %}
                <!-- <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data">{% trans "Download data" %}</a> -->

            </div>
            {# <div class="footer-right">
                <img src="{{ ASSET_PATH }}lemonde-logo.png"/>
            </div> #}
            <br class="clearfix" />
        </div>
    </div>
</div>