

<div id="header">
    <h1>{{ title }}</h1>


    {% if intro %}
    <p>{{ intro|purify|raw }}</p>
    {% endif %}

    {% use 'utils.twig' %}
    {{ block('chartMenu') }}

</div>


<div id="chart"></div>

<div id="footer">
    <div class="footer-left">
    {% if source %}
        {% trans "Source: " %}
        {% if sourceURL %}<a target="_blank" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>{% endif %}
    {% endif %}
        <!-- <a href="{{ DW_DOMAIN }}/chart/{{ chart.id }}/data">{% trans "Download data" %}</a> -->
    </div>

    <a href="http://lemonde.fr" class="logo"><img src="{{ ASSET_PATH }}lemonde-logo-small.png"/></a>

    <br class="clearfix" />
</div>
