

<div id="header">
    {% if not plain %}
        <h1>{{ title }}</h1>

        {% if intro %}
        <p>{{ intro|purify|raw }}</p>
        {% endif %}


    {% use "utils.twig" %}
    {{ block('chartMenu') }}

    {% endif %}
</div>

<div id="chart"></div>

{% if not plain %}
<div id="footer">

    <div class="footer-left">
        <div style="padding-bottom:3px" >
            {% if source %}
            {% trans "Source: " %}
                {% if sourceURL %}<a target="_blank" href="{{ sourceURL }}">{% endif %}{{ source }}{% if sourceURL %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <a class="logo" href="http://ruhrnachrichten.de" target="_blank">
        <img src="{{ ASSET_PATH }}logo-bw.png" alt="Ruhrnachrichten" width="115" height="18" />
    </a>

    <br class="clearfix" />
</div>

{% endif %}